aliastorle
cubitorle
giftorle
graytorle
painttorle
rawtorle
rletoabA60
rletoalias
rletoascii
rletogray
rletopaint
rletops
rletoraw
rletorla
rletotarga
rletovcr
targatorle
vcrtorle
wasatchrle
xbmtorle
