/*.g
/.deps
/.libs
/Makefile
/Makefile.in
/bottest
/brep_cube
/brep_simple
/brepintersect
/breplicator
/brickwall
/clutter
/coil
/contours
/csgbrep
/fence
/globe
/human
/kurt
/lens
/masonry
/metaball
/mkbuilding
/molecule
/nmgmodel
/picket_fence
/pipe
/pipetest
/pix2g
/pyramid
/rawbot
/ringworld
/room
/sketch
/sphflake
/spltest
/spring
/surfaceintersect
/tea
/tea_nmg
/tire
/torii
/tube
/vegetation
/wavy
/wdb_example
/terrain
