/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.*
/configure
/install.*.log
/libtool
/ltmain.sh
/so_locations
/.settings
/.project
/.cdtproject
/.cproject
/.externalToolBuilders
/Makefile
/Makefile.in
/build_pattern
/build_region
/ebm_primitive
/mgedrc
/nirt
/oed
/pipes
/projection_shader
/tire
/Makefile
/Makefile.in
/tutorial_series
/Makefile
/Makefile.in
/mged

/.deps
/.libs
/Makefile
/Makefile.in
/bntester
/libbn.plg
/.deps
/.libs
/Makefile
/Makefile.in
/htester
/libbu.plg
/timetester
/.deps
/.libs
/Makefile
/Makefile.in
/pc_test
/vm_test
/solver_test
