// SCCS: @(#) wish.rc 1.13 96/09/12 16:22:14
//
// Version
//

#define RESOURCE_INCLUDED
#include <itcl.h>
#include <itk.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    ITCL_MAJOR_VERSION,ITCL_MINOR_VERSION,ITCL_RELEASE_LEVEL
 PRODUCTVERSION ITCL_MAJOR_VERSION,ITCL_MINOR_VERSION,ITCL_RELEASE_LEVEL
 FILEFLAGSMASK	0x3fL
 FILEFLAGS	0x0L
 FILEOS		0x4L
 FILETYPE	0x1L
 FILESUBTYPE	0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "[incr Tk] Object-Oriented Wish Application\0"
            VALUE "Authors", "Michael McLennan\0"
            VALUE "OriginalFilename", "itkwish.exe\0"
            VALUE "CompanyName", "Bell Labs Innovations for Lucent Technologies\0"
            VALUE "FileVersion", ITCL_PATCH_LEVEL
            VALUE "LegalCopyright", "Copyright \251 1993-1998\0"
            VALUE "ProductName", "[incr Tk] " ITCL_VERSION " for Windows\0"
            VALUE "ProductVersion", ITCL_PATCH_LEVEL
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

//
// Icon
//

wish                      ICON    DISCARDABLE     "itk.ico"
