[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=RtWizard
Comment=Rt Wizard
Exec=/usr/brlcad/bin/rtwizard
Icon=text-x-script
MimeType=application/brlcad-v4;application/brlcad-v5;
Categories=BRL-CAD;
