[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Archer
Comment=Archer - Constructive solid geometry (CSG) solid modeling computer-aided design (CAD) system
Exec=/usr/brlcad/bin/archer %f
Icon=brlcad-archer
MimeType=application/x-brlcad-v4;application/x-brlcad-v5;
Categories=BRL-CAD;
