
[Desktop Entry]
Name=MGED Manual
Comment=MGED geometry editor manual
Exec=xdg-open /usr/brlcad/share/doc/html/manuals/mged/index.html
Icon=brlcad-doc
Type=Application
Categories=BRL-CAD-doc;
