[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Mged
Comment=Mged - Constructive solid geometry (CSG) solid modeling computer-aided design (CAD) system
Exec=/usr/brlcad/bin/mged
Terminal=true
Icon=brlcad-mged
MimeType=application/brlcad-v4;application/brlcad-v5;
Categories=BRL-CAD;
