Source: brlcad
Section: graphics
Priority: extra
Maintainer: Erik Greenwald <erik@smluc.org>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: brlcad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BRL-CAD solid geometry modeling system.
 BRL-CAD is a powerful constructive solid geometry solid modeling system that
 includes an interactive geometry editor, ray-tracing support for rendering
 and geometric analysis, path-tracing for realistic image synthesis, network
 distributed framebuffer support, and image and signal-processing tools.
