
[Desktop Entry]
Name=RtWizard
Exec=/usr/brlcad/bin/rtwizard %f
Icon=rtwizard
Type=Application
Categories=BRL-CAD;
MimeType=application/brlcad-v4;application/brlcad-v5;
