#
# Declare the repositories we know about:
#

create repository project1
end repository

create repository project2
end repository

#
# Declare the rules
# Note: rules must end in a slash
#

match /trunk/([^/]+)/
  repository \1
  branch master
end match

#
# SVN layout:
#  /branches/branchname/project1
#  /branches/branchname/project2
match /branches/([^/]+)/([^/]+)/
  repository \2
  branch \1
end match


#
# Example of the recurse rule:
# We tell svn-all-fast-export to not import anything
# but to go inside and recurse in the subdirs
# Note how the ending slash is missing in this particular case

match /branches/[^/]+
  action recurse
end match

# No tag processing
