::                B R L C A D - C O N F I G . B A T
:: BRL-CAD
::
:: Copyright (c) 2007-2011 United States Government as represented by
:: the U.S. Army Research Laboratory.
::
:: Redistribution and use in source and binary forms, with or without
:: modification, are permitted provided that the following conditions
:: are met:
::
:: 1. Redistributions of source code must retain the above copyright
:: notice, this list of conditions and the following disclaimer.
::
:: 2. Redistributions in binary form must reproduce the above
:: copyright notice, this list of conditions and the following
:: disclaimer in the documentation and/or other materials provided
:: with the distribution.
::
:: 3. The name of the author may not be used to endorse or promote
:: products derived from this software without specific prior written
:: permission.
::
:: THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS:::: AND ANY EXPRESS
:: OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
:: WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
:: ARE DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY
:: DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
:: DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
:: GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
:: INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
:: WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
:: NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
:: SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
::
::::::
::
:: BRL-CAD configuration script for determining compilation
:: characteristics of a given install.
::
::::::
@echo off

if "%1" == "--version" goto version
if "%1" == "--prefix" goto prefix
if "%1" == "--libdir" goto libdir
if "%1" == "--includedir" goto includedir

echo Usage: brlcad-config [OPTIONS] [LIBRARIES]
echo Options:
echo     [ --help ]
echo     [ --version ]
echo     [ --prefix ]
echo     [ --libdir ]
echo     [ --includedir ]
goto end

:version
echo __VERSION__
goto end

:prefix
echo __PREFIX__
goto end

:libdir
echo __LIBDIR__
goto end

:includedir
echo __INCLUDEDIR__

:end
