set(perplex_ignore_files
CHANGELOG.txt
CMake/FindLEMON.cmake
CMake/FindRE2C.cmake
CMakeLists.txt
README.txt
mbo_getopt.cpp
mbo_getopt.h
parser.y
perplex.cpp
perplex.h
perplex_template.c
scanner.re
token_type.h
)
