set(re2c_ignore_files
CMake/FindLEMON.cmake
CMakeLists.txt
README.in
actions.cc
basics.h
bootstrap/scanner.cc
code.cc
code.h
code_names.h
config.h.in
config_w32.h.in
configure.in
dfa.cc
dfa.h
globals.h
ins.h
main.cc
mbo_getopt.cc
mbo_getopt.h
parser.yy
re.h
re2c.1.in
re2c.spec.in
re2c_parser.h
scanner.h
scanner.re
stream_lc.h
substr.cc
substr.h
token.h
translate.cc
)
