.deps
.libs
Makefile
Makefile.in
a-d
bw-d
c-d
d-a
d-bw
d-f
d-i
d-u
damdf
dauto
dauto2
dconv
ddisp
dfft
dmod
dpeak
dsel
dstat
dwin
f-d
f-i
fhor
i-a
i-d
i-f
ihist
imod
istat
syn
u-a
u-bw
u-d
u-f
umod
ustat
