set(tinygltf_files
tinygltf/loader_example.cc
tinygltf/experimental/gen.py
tinygltf/experimental/README.md
tinygltf/CMakeLists.txt
tinygltf/json.hpp
tinygltf/LICENSE
tinygltf/cmake/TinyGLTFConfig.cmake
tinygltf/stb_image_write.h
tinygltf/.travis-before-install.sh
tinygltf/Makefile
tinygltf/vcsetup.bat
tinygltf/tests/catch.hpp
tinygltf/tests/Makefile
tinygltf/tests/fuzzer/meson.build
tinygltf/tests/fuzzer/README.md
tinygltf/tests/fuzzer/fuzz_gltf.cc
tinygltf/tests/tester.cc
tinygltf/models/BoundsChecking/simpleTriangle.bin
tinygltf/models/BoundsChecking/invalid-primitive-indices.gltf
tinygltf/models/BoundsChecking/invalid-buffer-view-index.gltf
tinygltf/models/BoundsChecking/invalid-buffer-index.gltf
tinygltf/models/BoundsChecking/integer-out-of-bounds.gltf
tinygltf/models/box01.glb
"tinygltf/models/CubeImageUriSpaces/2x2 image has spaces.png"
tinygltf/models/CubeImageUriSpaces/CubeImageUriSpaces.bin
tinygltf/models/CubeImageUriSpaces/CubeImageUriMultipleSpaces.gltf
"tinygltf/models/CubeImageUriSpaces/ 2x2 image  has multiple      spaces.png"
tinygltf/models/CubeImageUriSpaces/CubeImageUriSpaces.gltf
tinygltf/models/Cube/Cube_BaseColor.png
tinygltf/models/Cube/Cube.bin
tinygltf/models/Cube/Cube_MetallicRoughness.png
tinygltf/models/Cube/README.md
tinygltf/models/Cube/Cube.gltf
tinygltf/models/SparseMorphTargets-issue280/singleBlendshapeCube_sparse.glb
tinygltf/models/Extensions-issue97/test.gltf
tinygltf/models/regression/unassigned-skeleton.gltf
tinygltf/models/Cube-texture-ext/Cube.bin
tinygltf/models/Cube-texture-ext/Cube_MetallicRoughness.png
tinygltf/models/Cube-texture-ext/README.md
tinygltf/models/Cube-texture-ext/Cube-textransform.gltf
tinygltf/models/Extensions-overwrite-issue261/issue-261.bin
tinygltf/models/Extensions-overwrite-issue261/issue-261.gltf
tinygltf/stb_image.h
tinygltf/README.md
tinygltf/tiny_gltf.cc
tinygltf/appveyor.yml
tinygltf/tiny_gltf.h
tinygltf/.gitignore
tinygltf/test_runner.py
tinygltf/.clang-format
tinygltf/premake5.lua
tinygltf/deps/cpplint.py
tinygltf/examples.bat
tinygltf/.travis.yml
)
