#
# Declare the repositories we know about:
#

create repository myproject
end repository

#
# Declare the rules
# Note: rules must end in a slash
#

match /trunk/
  repository myproject
  branch master
end match

match /branches/([^/]+)/
  repository myproject
  branch \1
end match

# Important:
# Subversion doesn't understand the Git concept of tags
# In Subversion, tags are really branches
#
# Only a post-processing (i.e., after converting to Git) of the tag
# branches can we be sure that a tag wasn't moved or changed from the
# branch it was copied from
#
# This rule will create tags that don't exist in any of the
# branches. It's not what you want.
# See the merged-branches-tags.rules file
match /tags/([^/]+)/
  repository myproject
  branch refs/tags/\1
end match
