SET(bullet_ignore_files
AUTHORS
BulletLicense.txt
ChangeLog
COPYING
INSTALL
NEWS
README
VERSION
src/Bullet-C-Api.h
src/BulletCollision
src/BulletCollision/CMakeLists.txt
src/BulletCollision/Doxyfile
src/BulletCollision/Gimpact/btCompoundFromGimpact.h
src/BulletCollision/premake4.lua
src/BulletDynamics
src/BulletDynamics/CMakeLists.txt
src/BulletDynamics/premake4.lua
src/BulletMultiThreaded
src/BulletMultiThreaded/CMakeLists.txt
src/BulletMultiThreaded/GpuSoftBodySolvers
src/BulletMultiThreaded/GpuSoftBodySolvers/CMakeLists.txt
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/CMakeLists.txt
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/ApplyForces.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/ComputeBounds.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/Integrate.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/OutputToVertexArray.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/PrepareLinks.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/SolvePositions.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/SolvePositionsSIMDBatched.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/UpdateConstants.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/UpdateNodes.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/UpdateNormals.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/UpdatePositions.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/UpdatePositionsFromVelocities.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/VSolveLinks.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/solveCollisionsAndUpdateVelocities.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/HLSL/solveCollisionsAndUpdateVelocitiesSIMDBatched.hlsl
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolverBuffer_DX11.h
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolverLinkData_DX11.h
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolverLinkData_DX11SIMDAware.h
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolverTriangleData_DX11.h
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolverVertexBuffer_DX11.h
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolverVertexData_DX11.h
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolver_DX11.cpp
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolver_DX11.h
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolver_DX11SIMDAware.cpp
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/btSoftBodySolver_DX11SIMDAware.h
src/BulletMultiThreaded/GpuSoftBodySolvers/DX11/premake4.lua
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/AMD
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/AMD/CMakeLists.txt
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/AMD/premake4.lua
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/Apple
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/Apple/CMakeLists.txt
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/CMakeLists.txt
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/Intel
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/Intel/CMakeLists.txt
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/Intel/premake4.lua
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/MiniCL
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/MiniCL/CMakeLists.txt
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/MiniCL/MiniCLTaskWrap.cpp
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/NVidia
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/NVidia/CMakeLists.txt
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/NVidia/premake4.lua
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/ApplyForces.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/ComputeBounds.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/Integrate.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/OutputToVertexArray.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/PrepareLinks.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/SolveCollisionsAndUpdateVelocities.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/SolveCollisionsAndUpdateVelocitiesSIMDBatched.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/SolvePositions.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/SolvePositionsSIMDBatched.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/UpdateConstants.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/UpdateFixedVertexPositions.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/UpdateNodes.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/UpdateNormals.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/UpdatePositions.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/UpdatePositionsFromVelocities.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/OpenCLC10/VSolveLinks.cl
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolverBuffer_OpenCL.h
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolverLinkData_OpenCL.h
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolverLinkData_OpenCLSIMDAware.h
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolverOutputCLtoGL.cpp
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolverOutputCLtoGL.h
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolverTriangleData_OpenCL.h
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolverVertexBuffer_OpenGL.h
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolverVertexData_OpenCL.h
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolver_OpenCL.cpp
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolver_OpenCL.h
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolver_OpenCLSIMDAware.cpp
src/BulletMultiThreaded/GpuSoftBodySolvers/OpenCL/btSoftBodySolver_OpenCLSIMDAware.h
src/BulletMultiThreaded/GpuSoftBodySolvers/Shared
src/BulletMultiThreaded/GpuSoftBodySolvers/Shared/btSoftBodySolverData.h
src/BulletMultiThreaded/HeapManager.h
src/BulletMultiThreaded/PlatformDefinitions.h
src/BulletMultiThreaded/PosixThreadSupport.cpp
src/BulletMultiThreaded/PosixThreadSupport.h
src/BulletMultiThreaded/PpuAddressSpace.h
src/BulletMultiThreaded/SequentialThreadSupport.cpp
src/BulletMultiThreaded/SequentialThreadSupport.h
src/BulletMultiThreaded/SpuCollisionObjectWrapper.cpp
src/BulletMultiThreaded/SpuCollisionObjectWrapper.h
src/BulletMultiThreaded/SpuCollisionTaskProcess.cpp
src/BulletMultiThreaded/SpuCollisionTaskProcess.h
src/BulletMultiThreaded/SpuContactManifoldCollisionAlgorithm.cpp
src/BulletMultiThreaded/SpuContactManifoldCollisionAlgorithm.h
src/BulletMultiThreaded/SpuDoubleBuffer.h
src/BulletMultiThreaded/SpuFakeDma.cpp
src/BulletMultiThreaded/SpuFakeDma.h
src/BulletMultiThreaded/SpuGatheringCollisionDispatcher.cpp
src/BulletMultiThreaded/SpuGatheringCollisionDispatcher.h
src/BulletMultiThreaded/SpuLibspe2Support.cpp
src/BulletMultiThreaded/SpuLibspe2Support.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/Box.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuCollisionShapes.cpp
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuCollisionShapes.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuContactResult.cpp
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuContactResult.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuConvexPenetrationDepthSolver.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuGatheringCollisionTask.cpp
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuGatheringCollisionTask.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuLocalSupport.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuMinkowskiPenetrationDepthSolver.cpp
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuMinkowskiPenetrationDepthSolver.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/SpuPreferredPenetrationDirections.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/boxBoxDistance.cpp
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/boxBoxDistance.h
src/BulletMultiThreaded/SpuNarrowPhaseCollisionTask/readme.txt
src/BulletMultiThreaded/SpuSampleTask
src/BulletMultiThreaded/SpuSampleTask/SpuSampleTask.cpp
src/BulletMultiThreaded/SpuSampleTask/SpuSampleTask.h
src/BulletMultiThreaded/SpuSampleTask/readme.txt
src/BulletMultiThreaded/SpuSampleTaskProcess.cpp
src/BulletMultiThreaded/SpuSampleTaskProcess.h
src/BulletMultiThreaded/SpuSync.h
src/BulletMultiThreaded/TrbDynBody.h
src/BulletMultiThreaded/TrbStateVec.h
src/BulletMultiThreaded/Win32ThreadSupport.cpp
src/BulletMultiThreaded/Win32ThreadSupport.h
src/BulletMultiThreaded/btGpu3DGridBroadphase.cpp
src/BulletMultiThreaded/btGpu3DGridBroadphase.h
src/BulletMultiThreaded/btGpu3DGridBroadphaseSharedCode.h
src/BulletMultiThreaded/btGpu3DGridBroadphaseSharedDefs.h
src/BulletMultiThreaded/btGpu3DGridBroadphaseSharedTypes.h
src/BulletMultiThreaded/btGpuDefines.h
src/BulletMultiThreaded/btGpuUtilsSharedCode.h
src/BulletMultiThreaded/btGpuUtilsSharedDefs.h
src/BulletMultiThreaded/btParallelConstraintSolver.cpp
src/BulletMultiThreaded/btParallelConstraintSolver.h
src/BulletMultiThreaded/btThreadSupportInterface.cpp
src/BulletMultiThreaded/btThreadSupportInterface.h
src/BulletMultiThreaded/vectormath2bullet.h
src/BulletSoftBody
src/BulletSoftBody/CMakeLists.txt
src/BulletSoftBody/btSoftBodyInternals.h
src/BulletSoftBody/premake4.lua
src/CMakeLists.txt
src/LinearMath
src/LinearMath/CMakeLists.txt
src/LinearMath/btMatrixX.h
src/LinearMath/premake4.lua
src/MiniCL
src/MiniCL/CMakeLists.txt
src/MiniCL/MiniCL.cpp
src/MiniCL/MiniCLTask
src/MiniCL/MiniCLTask/MiniCLTask.cpp
src/MiniCL/MiniCLTask/MiniCLTask.h
src/MiniCL/MiniCLTaskScheduler.cpp
src/MiniCL/MiniCLTaskScheduler.h
src/MiniCL/cl.h
src/MiniCL/cl_MiniCL_Defs.h
src/MiniCL/cl_gl.h
src/MiniCL/cl_platform.h
src/vectormath
src/vectormath/neon
src/vectormath/neon/boolInVec.h
src/vectormath/neon/floatInVec.h
src/vectormath/neon/mat_aos.h
src/vectormath/neon/quat_aos.h
src/vectormath/neon/vec_aos.h
src/vectormath/neon/vectormath_aos.h
src/vectormath/scalar
src/vectormath/scalar/boolInVec.h
src/vectormath/scalar/floatInVec.h
src/vectormath/scalar/mat_aos.h
src/vectormath/scalar/quat_aos.h
src/vectormath/scalar/vec_aos.h
src/vectormath/scalar/vectormath_aos.h
src/vectormath/sse
src/vectormath/sse/boolInVec.h
src/vectormath/sse/floatInVec.h
src/vectormath/sse/mat_aos.h
src/vectormath/sse/quat_aos.h
src/vectormath/sse/vec_aos.h
src/vectormath/sse/vecidx_aos.h
src/vectormath/sse/vectormath_aos.h
src/vectormath/vmInclude.h
)
