set(fontconfig_ignore_files
CMakeLists.txt
COPYING
COPYING.expat
README
README.cmake
expat/ConfigureChecks.cmake
expat/README.md
expat/ascii.h
expat/asciitab.h
expat/expat.h
expat/expat_config.h.cmake
expat/expat_external.h
expat/iasciitab.h
expat/internal.h
expat/latin1tab.h
expat/nametab.h
expat/siphash.h
expat/utf8tab.h
expat/winconfig.h
expat/xmlparse.c
expat/xmlrole.c
expat/xmlrole.h
expat/xmltok.c
expat/xmltok.h
expat/xmltok_impl.c
expat/xmltok_impl.h
expat/xmltok_ns.c
include/config.h.in
include/fc-case/fccase.h
include/fc-lang/fclang.h
include/fcalias.h
include/fcaliastail.h
include/fcarch.h
include/fcatomic.h
include/fcdeprecate.h
include/fcftalias.h
include/fcftaliastail.h
include/fcftint.h
include/fcint.h
include/fcmutex.h
include/fcobjs.h
include/fcobjshash.gperf.h
include/fcobjshash.h
include/fcstdint.h
include/fcwindows.h
include/fontconfig/fcfreetype.h
include/fontconfig/fcprivate.h
include/fontconfig/fontconfig.h
include/ftglue.h
src/CMakeLists.txt
src/fcarch.c
src/fcatomic.c
src/fccache.c
src/fccfg.c
src/fccharset.c
src/fccompat.c
src/fcdbg.c
src/fcdefault.c
src/fcdir.c
src/fcformat.c
src/fcfreetype.c
src/fcfs.c
src/fchash.c
src/fcinit.c
src/fclang.c
src/fclist.c
src/fcmatch.c
src/fcmatrix.c
src/fcname.c
src/fcobjs.c
src/fcpat.c
src/fcptrlist.c
src/fcrange.c
src/fcserialize.c
src/fcstat.c
src/fcstr.c
src/fcweight.c
src/fcxml.c
src/ftglue.c
)
