set(fontconfig_ignore_files
CMakeLists.txt
COPYING
README
include/config.h.in
include/fc-case/fccase.h
include/fc-lang/fclang.h
include/fcalias.h
include/fcaliastail.h
include/fcarch.h
include/fcatomic.h
include/fcdeprecate.h
include/fcftalias.h
include/fcftaliastail.h
include/fcftint.h
include/fcint.h
include/fcmutex.h
include/fcobjs.h
include/fcobjshash.gperf.h
include/fcobjshash.h
include/fcstdint.h
include/fcwindows.h
include/fontconfig/fcfreetype.h
include/fontconfig/fcprivate.h
include/fontconfig/fontconfig.h
include/ftglue.h
src/CMakeLists.txt
src/fcarch.c
src/fcatomic.c
src/fccache.c
src/fccfg.c
src/fccharset.c
src/fccompat.c
src/fcdbg.c
src/fcdefault.c
src/fcdir.c
src/fcformat.c
src/fcfreetype.c
src/fcfs.c
src/fchash.c
src/fcinit.c
src/fclang.c
src/fclist.c
src/fcmatch.c
src/fcmatrix.c
src/fcname.c
src/fcobjs.c
src/fcpat.c
src/fcptrlist.c
src/fcrange.c
src/fcserialize.c
src/fcstat.c
src/fcstr.c
src/fcweight.c
src/fcxml.c
src/ftglue.c
)
