SET(freetype_ignore_files
ChangeLog
ChangeLog.20
ChangeLog.21
ChangeLog.22
ChangeLog.23
ChangeLog.24
Jamfile
Jamrules
README
README.git
autogen.sh
builds
builds/amiga
builds/amiga/README
builds/amiga/include
builds/amiga/include/config
builds/amiga/include/config/ftconfig.h
builds/amiga/include/config/ftmodule.h
builds/amiga/makefile
builds/amiga/makefile.os4
builds/amiga/smakefile
builds/amiga/src
builds/amiga/src/base
builds/amiga/src/base/ftdebug.c
builds/amiga/src/base/ftsystem.c
builds/ansi
builds/ansi/ansi-def.mk
builds/ansi/ansi.mk
builds/atari
builds/atari/ATARI.H
builds/atari/FNames.SIC
builds/atari/FREETYPE.PRJ
builds/atari/README.TXT
builds/atari/deflinejoiner.awk
builds/atari/gen-purec-patch.sh
builds/beos
builds/beos/beos-def.mk
builds/beos/beos.mk
builds/beos/detect.mk
builds/compiler
builds/compiler/ansi-cc.mk
builds/compiler/bcc-dev.mk
builds/compiler/bcc.mk
builds/compiler/emx.mk
builds/compiler/gcc-dev.mk
builds/compiler/gcc.mk
builds/compiler/intelc.mk
builds/compiler/unix-lcc.mk
builds/compiler/visualage.mk
builds/compiler/visualc.mk
builds/compiler/watcom.mk
builds/compiler/win-lcc.mk
builds/detect.mk
builds/dos
builds/dos/detect.mk
builds/dos/dos-def.mk
builds/dos/dos-emx.mk
builds/dos/dos-gcc.mk
builds/dos/dos-wat.mk
builds/exports.mk
builds/freetype.mk
builds/link_dos.mk
builds/link_std.mk
builds/mac
builds/mac/FreeType.m68k_cfm.make.txt
builds/mac/FreeType.m68k_far.make.txt
builds/mac/FreeType.ppc_carbon.make.txt
builds/mac/FreeType.ppc_classic.make.txt
builds/mac/README
builds/mac/ascii2mpw.py
builds/mac/ftlib.prj.xml
builds/mac/ftmac.c
builds/modules.mk
builds/newline
builds/os2
builds/os2/detect.mk
builds/os2/os2-def.mk
builds/os2/os2-dev.mk
builds/os2/os2-gcc.mk
builds/symbian
builds/symbian/bld.inf
builds/symbian/freetype.mmp
builds/toplevel.mk
builds/unix
builds/unix/aclocal.m4
builds/unix/config.guess
builds/unix/config.sub
builds/unix/configure
builds/unix/configure.ac
builds/unix/configure.raw
builds/unix/detect.mk
builds/unix/freetype-config.in
builds/unix/freetype2.in
builds/unix/freetype2.m4
builds/unix/ft-munmap.m4
builds/unix/ftconfig.in
builds/unix/ftsystem.c
builds/unix/install-sh
builds/unix/install.mk
builds/unix/ltmain.sh
builds/unix/mkinstalldirs
builds/unix/pkg.m4
builds/unix/unix-cc.in
builds/unix/unix-def.in
builds/unix/unix-dev.mk
builds/unix/unix-lcc.mk
builds/unix/unix.mk
builds/unix/unixddef.mk
builds/vms
builds/vms/ftconfig.h
builds/vms/ftsystem.c
builds/wince
builds/wince/ftdebug.c
builds/wince/vc2005-ce
builds/wince/vc2005-ce/freetype.sln
builds/wince/vc2005-ce/freetype.vcproj
builds/wince/vc2005-ce/index.html
builds/wince/vc2008-ce
builds/wince/vc2008-ce/freetype.sln
builds/wince/vc2008-ce/freetype.vcproj
builds/wince/vc2008-ce/index.html
builds/windows
builds/windows/detect.mk
builds/windows/ftdebug.c
builds/windows/vc2005
builds/windows/vc2005/freetype.sln
builds/windows/vc2005/freetype.vcproj
builds/windows/vc2005/index.html
builds/windows/vc2008
builds/windows/vc2008/freetype.sln
builds/windows/vc2008/freetype.vcproj
builds/windows/vc2008/index.html
builds/windows/vc2010
builds/windows/vc2010/freetype.sln
builds/windows/vc2010/freetype.vcxproj
builds/windows/vc2010/freetype.vcxproj.filters
builds/windows/vc2010/index.html
builds/windows/visualc
builds/windows/visualc/freetype.dsp
builds/windows/visualc/freetype.dsw
builds/windows/visualc/freetype.sln
builds/windows/visualc/freetype.vcproj
builds/windows/visualc/index.html
builds/windows/visualce
builds/windows/visualce/freetype.dsp
builds/windows/visualce/freetype.dsw
builds/windows/visualce/freetype.vcproj
builds/windows/visualce/index.html
builds/windows/w32-bcc.mk
builds/windows/w32-bccd.mk
builds/windows/w32-dev.mk
builds/windows/w32-gcc.mk
builds/windows/w32-icc.mk
builds/windows/w32-intl.mk
builds/windows/w32-lcc.mk
builds/windows/w32-mingw32.mk
builds/windows/w32-vcc.mk
builds/windows/w32-wat.mk
builds/windows/win32-def.mk
configure
devel
devel/ft2build.h
devel/ftoption.h
docs
docs/CHANGES
docs/CMAKE
docs/CUSTOMIZE
docs/DEBUG
docs/FTL.TXT
docs/GPLv2.TXT
docs/INSTALL
docs/INSTALL.ANY
docs/INSTALL.CROSS
docs/INSTALL.GNU
docs/INSTALL.MAC
docs/INSTALL.UNIX
docs/INSTALL.VMS
docs/LICENSE.TXT
docs/MAKEPP
docs/PROBLEMS
docs/TODO
docs/VERSION.DLL
docs/formats.txt
docs/freetype-config.1
docs/raster.txt
docs/reference
docs/reference/README
docs/reference/ft2-auto_hinter.html
docs/reference/ft2-base_interface.html
docs/reference/ft2-basic_types.html
docs/reference/ft2-bdf_fonts.html
docs/reference/ft2-bitmap_handling.html
docs/reference/ft2-bzip2.html
docs/reference/ft2-cache_subsystem.html
docs/reference/ft2-cff_driver.html
docs/reference/ft2-cid_fonts.html
docs/reference/ft2-computations.html
docs/reference/ft2-font_formats.html
docs/reference/ft2-gasp_table.html
docs/reference/ft2-glyph_management.html
docs/reference/ft2-glyph_stroker.html
docs/reference/ft2-glyph_variants.html
docs/reference/ft2-gx_validation.html
docs/reference/ft2-gzip.html
docs/reference/ft2-header_file_macros.html
docs/reference/ft2-header_inclusion.html
docs/reference/ft2-incremental.html
docs/reference/ft2-index.html
docs/reference/ft2-lcd_filtering.html
docs/reference/ft2-list_processing.html
docs/reference/ft2-lzw.html
docs/reference/ft2-mac_specific.html
docs/reference/ft2-module_management.html
docs/reference/ft2-multiple_masters.html
docs/reference/ft2-ot_validation.html
docs/reference/ft2-outline_processing.html
docs/reference/ft2-pfr_fonts.html
docs/reference/ft2-quick_advance.html
docs/reference/ft2-raster.html
docs/reference/ft2-sfnt_names.html
docs/reference/ft2-sizes_management.html
docs/reference/ft2-system_interface.html
docs/reference/ft2-toc.html
docs/reference/ft2-truetype_engine.html
docs/reference/ft2-truetype_tables.html
docs/reference/ft2-tt_driver.html
docs/reference/ft2-type1_tables.html
docs/reference/ft2-user_allocation.html
docs/reference/ft2-version.html
docs/reference/ft2-winfnt_fonts.html
docs/release
include
include/config
include/config/ftconfig.h
include/config/ftheader.h
include/config/ftmodule.h
include/config/ftoption.h
include/config/ftstdlib.h
include/freetype.h
include/ft2build.h
include/ftadvanc.h
include/ftautoh.h
include/ftbbox.h
include/ftbdf.h
include/ftbitmap.h
include/ftbzip2.h
include/ftcache.h
include/ftcffdrv.h
include/ftchapters.h
include/ftcid.h
include/fterrdef.h
include/fterrors.h
include/ftgasp.h
include/ftglyph.h
include/ftgxval.h
include/ftgzip.h
include/ftimage.h
include/ftincrem.h
include/ftlcdfil.h
include/ftlist.h
include/ftlzw.h
include/ftmac.h
include/ftmm.h
include/ftmodapi.h
include/ftmoderr.h
include/ftotval.h
include/ftoutln.h
include/ftpfr.h
include/ftrender.h
include/ftsizes.h
include/ftsnames.h
include/ftstroke.h
include/ftsynth.h
include/ftsystem.h
include/fttrigon.h
include/ftttdrv.h
include/fttypes.h
include/ftwinfnt.h
include/ftxf86.h
include/internal
include/internal/autohint.h
include/internal/ftcalc.h
include/internal/ftdebug.h
include/internal/ftdriver.h
include/internal/ftgloadr.h
include/internal/ftmemory.h
include/internal/ftobjs.h
include/internal/ftpic.h
include/internal/ftrfork.h
include/internal/ftserv.h
include/internal/ftstream.h
include/internal/fttrace.h
include/internal/ftvalid.h
include/internal/internal.h
include/internal/psaux.h
include/internal/pshints.h
include/internal/services
include/internal/services/svbdf.h
include/internal/services/svcid.h
include/internal/services/svgldict.h
include/internal/services/svgxval.h
include/internal/services/svkern.h
include/internal/services/svmm.h
include/internal/services/svotval.h
include/internal/services/svpfr.h
include/internal/services/svpostnm.h
include/internal/services/svprop.h
include/internal/services/svpscmap.h
include/internal/services/svpsinfo.h
include/internal/services/svsfnt.h
include/internal/services/svttcmap.h
include/internal/services/svtteng.h
include/internal/services/svttglyf.h
include/internal/services/svwinfnt.h
include/internal/services/svxf86nm.h
include/internal/sfnt.h
include/internal/t1types.h
include/internal/tttypes.h
include/t1tables.h
include/ttnameid.h
include/tttables.h
include/tttags.h
include/ttunpat.h
modules.cfg
objs
objs/README
src/Jamfile
src/autofit/Jamfile
src/autofit/afangles.c
src/autofit/afangles.h
src/autofit/afblue.c
src/autofit/afblue.cin
src/autofit/afblue.dat
src/autofit/afblue.h
src/autofit/afblue.hin
src/autofit/afcjk.c
src/autofit/afcjk.h
src/autofit/afcover.h
src/autofit/afdummy.c
src/autofit/afdummy.h
src/autofit/aferrors.h
src/autofit/afglobal.c
src/autofit/afglobal.h
src/autofit/afhints.c
src/autofit/afhints.h
src/autofit/afindic.c
src/autofit/afindic.h
src/autofit/aflatin.c
src/autofit/aflatin.h
src/autofit/aflatin2.c
src/autofit/aflatin2.h
src/autofit/afloader.c
src/autofit/afloader.h
src/autofit/afmodule.c
src/autofit/afmodule.h
src/autofit/afpic.c
src/autofit/afpic.h
src/autofit/afranges.c
src/autofit/afranges.h
src/autofit/afscript.h
src/autofit/afstyles.h
src/autofit/aftypes.h
src/autofit/afwarp.c
src/autofit/afwarp.h
src/autofit/afwrtsys.h
src/autofit/hbshim.c
src/autofit/hbshim.h
src/autofit/module.mk
src/autofit/rules.mk
src/base/Jamfile
src/base/basepic.c
src/base/basepic.h
src/base/ftapi.c
src/base/ftbase.c
src/base/ftbase.h
src/base/ftbdf.c
src/base/ftmac.c
src/base/ftpic.c
src/base/md5.c
src/base/md5.h
src/base/rules.mk
src/bdf/Jamfile
src/bdf/README
src/bdf/bdf.h
src/bdf/bdfdrivr.c
src/bdf/bdfdrivr.h
src/bdf/bdferror.h
src/bdf/bdflib.c
src/bdf/module.mk
src/bdf/rules.mk
src/bzip2/Jamfile
src/bzip2/rules.mk
src/cache/Jamfile
src/cache/ftcbasic.c
src/cache/ftccache.c
src/cache/ftccache.h
src/cache/ftccback.h
src/cache/ftccmap.c
src/cache/ftcerror.h
src/cache/ftcglyph.c
src/cache/ftcglyph.h
src/cache/ftcimage.c
src/cache/ftcimage.h
src/cache/ftcmanag.c
src/cache/ftcmanag.h
src/cache/ftcmru.c
src/cache/ftcmru.h
src/cache/ftcsbits.c
src/cache/ftcsbits.h
src/cache/rules.mk
src/cff/Jamfile
src/cff/cf2arrst.c
src/cff/cf2arrst.h
src/cff/cf2blues.c
src/cff/cf2blues.h
src/cff/cf2error.c
src/cff/cf2error.h
src/cff/cf2fixed.h
src/cff/cf2font.c
src/cff/cf2font.h
src/cff/cf2ft.c
src/cff/cf2ft.h
src/cff/cf2glue.h
src/cff/cf2hints.c
src/cff/cf2hints.h
src/cff/cf2intrp.c
src/cff/cf2intrp.h
src/cff/cf2read.c
src/cff/cf2read.h
src/cff/cf2stack.c
src/cff/cf2stack.h
src/cff/cf2types.h
src/cff/cffcmap.c
src/cff/cffcmap.h
src/cff/cffdrivr.c
src/cff/cffdrivr.h
src/cff/cfferrs.h
src/cff/cffgload.c
src/cff/cffgload.h
src/cff/cffload.c
src/cff/cffload.h
src/cff/cffobjs.c
src/cff/cffobjs.h
src/cff/cffparse.c
src/cff/cffparse.h
src/cff/cffpic.c
src/cff/cffpic.h
src/cff/cfftoken.h
src/cff/cfftypes.h
src/cff/module.mk
src/cff/rules.mk
src/cid/Jamfile
src/cid/ciderrs.h
src/cid/cidgload.c
src/cid/cidgload.h
src/cid/cidload.c
src/cid/cidload.h
src/cid/cidobjs.c
src/cid/cidobjs.h
src/cid/cidparse.c
src/cid/cidparse.h
src/cid/cidriver.c
src/cid/cidriver.h
src/cid/cidtoken.h
src/cid/module.mk
src/cid/rules.mk
src/gxvalid
src/gxvalid/Jamfile
src/gxvalid/README
src/gxvalid/gxvalid.c
src/gxvalid/gxvalid.h
src/gxvalid/gxvbsln.c
src/gxvalid/gxvcommn.c
src/gxvalid/gxvcommn.h
src/gxvalid/gxverror.h
src/gxvalid/gxvfeat.c
src/gxvalid/gxvfeat.h
src/gxvalid/gxvfgen.c
src/gxvalid/gxvjust.c
src/gxvalid/gxvkern.c
src/gxvalid/gxvlcar.c
src/gxvalid/gxvmod.c
src/gxvalid/gxvmod.h
src/gxvalid/gxvmort.c
src/gxvalid/gxvmort.h
src/gxvalid/gxvmort0.c
src/gxvalid/gxvmort1.c
src/gxvalid/gxvmort2.c
src/gxvalid/gxvmort4.c
src/gxvalid/gxvmort5.c
src/gxvalid/gxvmorx.c
src/gxvalid/gxvmorx.h
src/gxvalid/gxvmorx0.c
src/gxvalid/gxvmorx1.c
src/gxvalid/gxvmorx2.c
src/gxvalid/gxvmorx4.c
src/gxvalid/gxvmorx5.c
src/gxvalid/gxvopbd.c
src/gxvalid/gxvprop.c
src/gxvalid/gxvtrak.c
src/gxvalid/module.mk
src/gxvalid/rules.mk
src/gzip/Jamfile
src/gzip/adler32.c
src/gzip/infblock.c
src/gzip/infblock.h
src/gzip/infcodes.c
src/gzip/infcodes.h
src/gzip/inffixed.h
src/gzip/inflate.c
src/gzip/inftrees.c
src/gzip/inftrees.h
src/gzip/infutil.c
src/gzip/infutil.h
src/gzip/rules.mk
src/gzip/zconf.h
src/gzip/zlib.h
src/gzip/zutil.c
src/gzip/zutil.h
src/lzw/Jamfile
src/lzw/ftzopen.c
src/lzw/ftzopen.h
src/lzw/rules.mk
src/otvalid
src/otvalid/Jamfile
src/otvalid/module.mk
src/otvalid/otvalid.c
src/otvalid/otvalid.h
src/otvalid/otvbase.c
src/otvalid/otvcommn.c
src/otvalid/otvcommn.h
src/otvalid/otverror.h
src/otvalid/otvgdef.c
src/otvalid/otvgpos.c
src/otvalid/otvgpos.h
src/otvalid/otvgsub.c
src/otvalid/otvjstf.c
src/otvalid/otvmath.c
src/otvalid/otvmod.c
src/otvalid/otvmod.h
src/otvalid/rules.mk
src/pcf/Jamfile
src/pcf/README
src/pcf/module.mk
src/pcf/pcf.h
src/pcf/pcfdrivr.c
src/pcf/pcfdrivr.h
src/pcf/pcferror.h
src/pcf/pcfread.c
src/pcf/pcfread.h
src/pcf/pcfutil.c
src/pcf/pcfutil.h
src/pcf/rules.mk
src/pfr/Jamfile
src/pfr/module.mk
src/pfr/pfrcmap.c
src/pfr/pfrcmap.h
src/pfr/pfrdrivr.c
src/pfr/pfrdrivr.h
src/pfr/pfrerror.h
src/pfr/pfrgload.c
src/pfr/pfrgload.h
src/pfr/pfrload.c
src/pfr/pfrload.h
src/pfr/pfrobjs.c
src/pfr/pfrobjs.h
src/pfr/pfrsbit.c
src/pfr/pfrsbit.h
src/pfr/pfrtypes.h
src/pfr/rules.mk
src/psaux/Jamfile
src/psaux/afmparse.c
src/psaux/afmparse.h
src/psaux/module.mk
src/psaux/psauxerr.h
src/psaux/psauxmod.c
src/psaux/psauxmod.h
src/psaux/psconv.c
src/psaux/psconv.h
src/psaux/psobjs.c
src/psaux/psobjs.h
src/psaux/rules.mk
src/psaux/t1cmap.c
src/psaux/t1cmap.h
src/psaux/t1decode.c
src/psaux/t1decode.h
src/pshinter/Jamfile
src/pshinter/module.mk
src/pshinter/pshalgo.c
src/pshinter/pshalgo.h
src/pshinter/pshglob.c
src/pshinter/pshglob.h
src/pshinter/pshmod.c
src/pshinter/pshmod.h
src/pshinter/pshnterr.h
src/pshinter/pshpic.c
src/pshinter/pshpic.h
src/pshinter/pshrec.c
src/pshinter/pshrec.h
src/pshinter/rules.mk
src/psnames/Jamfile
src/psnames/module.mk
src/psnames/psmodule.h
src/psnames/psnamerr.h
src/psnames/psnames.c
src/psnames/pspic.c
src/psnames/pspic.h
src/psnames/pstables.h
src/psnames/rules.mk
src/raster/Jamfile
src/raster/ftmisc.h
src/raster/ftraster.c
src/raster/ftraster.h
src/raster/ftrend1.c
src/raster/ftrend1.h
src/raster/module.mk
src/raster/rasterrs.h
src/raster/rastpic.c
src/raster/rastpic.h
src/raster/rules.mk
src/sfnt/Jamfile
src/sfnt/module.mk
src/sfnt/pngshim.c
src/sfnt/pngshim.h
src/sfnt/rules.mk
src/sfnt/sfdriver.c
src/sfnt/sfdriver.h
src/sfnt/sferrors.h
src/sfnt/sfntpic.c
src/sfnt/sfntpic.h
src/sfnt/sfobjs.c
src/sfnt/sfobjs.h
src/sfnt/ttbdf.c
src/sfnt/ttbdf.h
src/sfnt/ttcmap.c
src/sfnt/ttcmap.h
src/sfnt/ttcmapc.h
src/sfnt/ttkern.c
src/sfnt/ttkern.h
src/sfnt/ttload.c
src/sfnt/ttload.h
src/sfnt/ttmtx.c
src/sfnt/ttmtx.h
src/sfnt/ttpost.c
src/sfnt/ttpost.h
src/sfnt/ttsbit.c
src/sfnt/ttsbit.h
src/smooth/Jamfile
src/smooth/ftgrays.c
src/smooth/ftgrays.h
src/smooth/ftsmerrs.h
src/smooth/ftsmooth.c
src/smooth/ftsmooth.h
src/smooth/ftspic.c
src/smooth/ftspic.h
src/smooth/module.mk
src/smooth/rules.mk
src/tools
src/tools/Jamfile
src/tools/afblue.pl
src/tools/apinames.c
src/tools/chktrcmp.py
src/tools/cordic.py
src/tools/docmaker
src/tools/docmaker/content.py
src/tools/docmaker/docbeauty.py
src/tools/docmaker/docmaker.py
src/tools/docmaker/formatter.py
src/tools/docmaker/sources.py
src/tools/docmaker/tohtml.py
src/tools/docmaker/utils.py
src/tools/ftrandom
src/tools/ftrandom/README
src/tools/ftrandom/ftrandom.c
src/tools/glnames.py
src/tools/test_afm.c
src/tools/test_bbox.c
src/tools/test_trig.c
src/truetype/Jamfile
src/truetype/module.mk
src/truetype/rules.mk
src/truetype/ttdriver.c
src/truetype/ttdriver.h
src/truetype/tterrors.h
src/truetype/ttgload.c
src/truetype/ttgload.h
src/truetype/ttgxvar.c
src/truetype/ttgxvar.h
src/truetype/ttinterp.c
src/truetype/ttinterp.h
src/truetype/ttobjs.c
src/truetype/ttobjs.h
src/truetype/ttpic.c
src/truetype/ttpic.h
src/truetype/ttpload.c
src/truetype/ttpload.h
src/truetype/ttsubpix.c
src/truetype/ttsubpix.h
src/type1/Jamfile
src/type1/module.mk
src/type1/rules.mk
src/type1/t1afm.c
src/type1/t1afm.h
src/type1/t1driver.c
src/type1/t1driver.h
src/type1/t1errors.h
src/type1/t1gload.c
src/type1/t1gload.h
src/type1/t1load.c
src/type1/t1load.h
src/type1/t1objs.c
src/type1/t1objs.h
src/type1/t1parse.c
src/type1/t1parse.h
src/type1/t1tokens.h
src/type42/Jamfile
src/type42/module.mk
src/type42/rules.mk
src/type42/t42drivr.c
src/type42/t42drivr.h
src/type42/t42error.h
src/type42/t42objs.c
src/type42/t42objs.h
src/type42/t42parse.c
src/type42/t42parse.h
src/type42/t42types.h
src/winfonts/Jamfile
src/winfonts/fnterrs.h
src/winfonts/module.mk
src/winfonts/rules.mk
src/winfonts/winfnt.h
version.sed
vms_make.com
)
