SET(freetype_ignore_files
ChangeLog
ChangeLog.20
ChangeLog.21
ChangeLog.22
ChangeLog.23
ChangeLog.24
Jamfile
Jamrules
README
README.git
autogen.sh
builds
configure
devel
devel/ft2build.h
devel/ftoption.h
docs
include
modules.cfg
objs
version.sed
vms_make.com
)
