set(gct_ignore_files
Auxiliary/CMakeLists.txt
Auxiliary/cc.c
Auxiliary/cc.h
Auxiliary/ccmergesort.h
Auxiliary/cpuconfig.h
Auxiliary/cpuinfo.c
Auxiliary/cpuinfo.h
Auxiliary/gctcommon.h
Auxiliary/math3d.h
Auxiliary/mm.c
Auxiliary/mm.h
Auxiliary/mmatomic.c
Auxiliary/mmatomic.h
Auxiliary/mmbinsort.c
Auxiliary/mmbinsort.h
Auxiliary/mmbitmap.c
Auxiliary/mmbitmap.h
Auxiliary/mmhash.c
Auxiliary/mmhash.h
Auxiliary/mmthread.h
BRLCAD/BrlcadAppWalker.cpp
BRLCAD/BrlcadAppWalker.h
BRLCAD/BrlcadLoader.cpp
BRLCAD/BrlcadLoader.h
BRLCAD/BrlcadTreeWalker.cpp
BRLCAD/BrlcadTreeWalker.h
BRLCAD/CMakeLists.txt
BRLCAD/DbGeometry.cpp
BRLCAD/DbGeometry.h
BRLCAD/DbTracer.cpp
BRLCAD/DbTracer.h
CMakeLists.txt
Interface/AppWalkerInterface.h
Interface/GLoaderInterface.h
Interface/IGeometryTracer.h
Interface/INativeGeometry.h
Interface/ISampler.h
MeshDecimation/CMakeLists.txt
MeshDecimation/meshcorrection.c
MeshDecimation/meshcorrection.h
MeshDecimation/meshdecimation.c
MeshDecimation/meshdecimation.h
MeshDecimation/meshdecimationSSE2.c
MeshDecimation/meshdecimationSSE3.c
MeshDecimation/meshdecimationSSE4p1.c
MeshDecimation/meshoptimization.cpp
MeshDecimation/meshoptimization.h
MeshDecimation/meshoptimizer.c
MeshDecimation/meshoptimizer.h
Sampler/CMakeLists.txt
Sampler/MarchingCubesSampler.cpp
Sampler/MarchingCubesSampler.h
Sampler/PointSampler.cpp
Sampler/PointSampler.h
dcmain/CMakeLists.txt
dcmain/main.cpp
psmain/CMakeLists.txt
psmain/main.cpp
)
