SET(hv3_ignore_files
Makefile.am
README
bookmarks.html
bugreport.html
combobox.tcl
demo
demo/index.html
demo/small-eagleCAD.gif
demo/viewpage.tcl
hv.tcl
hv3.tcl
hv3_bookmarks.tcl
hv3_browser.tcl
hv3_bugreport.tcl
hv3_common.tcl
hv3_console.tcl
hv3_db.tcl
hv3_debug.tcl
hv3_doctype.tcl
hv3_dom.tcl
hv3_dom2.tcl
hv3_dom3.tcl
hv3_dom_compiler.tcl
hv3_dom_containers.tcl
hv3_dom_core.tcl
hv3_dom_events.tcl
hv3_dom_html.tcl
hv3_dom_ns.tcl
hv3_dom_style.tcl
hv3_dom_xmlhttp.tcl
hv3_download.tcl
hv3_encodings.tcl
hv3_file.tcl
hv3_form.tcl
hv3_frames.tcl
hv3_frameset.tcl
hv3_history.tcl
hv3_home.tcl
hv3_http.tcl
hv3_icons.tcl
hv3_image.tcl
hv3_log.tcl
hv3_main.tcl
hv3_nav.tcl
hv3_notebook.tcl
hv3_object.tcl
hv3_polipo.tcl
hv3_profile.tcl
hv3_prop.tcl
hv3_request.tcl
hv3_string.tcl
hv3_style.tcl
hv3_url.tcl
hv3_util.tcl
hv3_widgets.tcl
hv3bridge.c
hv3events.c
hv3format.c
hv3function.c
hv3see.c
hv3timeout.c
hvinit.c
index.html
license.txt
license_snit.txt
main.tcl
nogif.fig
nogif.gif
nogifsm.gif
snit.tcl
snit2.tcl
ss.tcl
ssinit.c
tst_main.tcl
)
