set(itcl_ignore_files
generic/clientData
generic/itcl2TclOO.h
generic/itcl.decls
generic/itclIntDecls.h
generic/itclVarsAndCmds.h
generic/itclVCInt.h
itclConfig.sh.in
library
license.terms
pkgIndex.tcl.in
win
)
