set(itcl3_ignore_files
ITCL_PKGINDEX.cmake
license.terms
generic/itclStubLib.c
generic/itclDecls.h
generic/itcl_cmds.c
generic/itcl_linkage.c
generic/itclStubInit.c
generic/itcl_ensemble.c
generic/itcl.decls
generic/itcl_parse.c
generic/itcl_bicmds.c
generic/itcl_methods.c
generic/itcl_class.c
generic/itcl_util.c
generic/itclInt.h
generic/itclInt.decls
generic/itclIntDecls.h
generic/itcl.h
generic/itcl_migrate.c
generic/itcl_objects.c
library/itcl.tcl
pkgIndex.tcl.in
win/dllEntryPoint.c
win/toaster.bmp
win/itcl.rc
CMakeLists.txt
pkg_mkIndex.cmake
)
