set(itcl_ignore_files
CMakeLists.txt
ITCL_PKGINDEX.cmake
generic/itcl.decls
generic/itcl.h
generic/itcl2TclOO.c
generic/itcl2TclOO.h
generic/itclBase.c
generic/itclBuiltin.c
generic/itclClass.c
generic/itclCmd.c
generic/itclDecls.h
generic/itclEnsemble.c
generic/itclHelpers.c
generic/itclInfo.c
generic/itclInt.h
generic/itclIntDecls.h
generic/itclLinkage.c
generic/itclMethod.c
generic/itclMigrate2TclCore.c
generic/itclMigrate2TclCore.h
generic/itclObject.c
generic/itclParse.c
generic/itclResolve.c
generic/itclStubInit.c
generic/itclStubLib.c
generic/itclStubs.c
generic/itclTclIntStubsFcn.c
generic/itclTclIntStubsFcn.h
generic/itclTestRegisterC.c
generic/itclUtil.c
library/itcl.tcl
library/itclHullCmds.tcl
library/itclWidget.tcl
license.terms
pkg_mkIndex.cmake
win/dllEntryPoint.c
win/itcl.rc
win/toaster.bmp
)
