set(itk_ignore_files
Makefile.in
aclocal.m4
configure
configure.in
demos/README
demos/itkedit
doc/Archetype.n
doc/Toplevel.n
doc/Widget.n
doc/itk.n
doc/itkvars.n
doc/license.terms
doc/man.macros
doc/usual.n
examples/Info.itk
examples/MessageInfo.itk
examples/README
examples/TextDisplay.itk
examples/TextInfo.itk
examples/tclIndex
examples/viewfile
generic/itk.decls
generic/itk.h
generic/itkArchBase.c
generic/itkArchetype.c
generic/itkBase.c
generic/itkCmd.c
generic/itkDecls.h
generic/itkHelpers.c
generic/itkInt.h
generic/itkIntDecls.h
generic/itkOption.c
generic/itkStubInit.c
generic/itkStubLib.c
generic/itkUtil.c
itkConfig.sh.in
library/Archetype.itk
library/Toplevel.itk
library/Widget.itk
library/itk.tcl
library/tclIndex
license.terms
pkgIndex.tcl.in
tclconfig/install-sh
tclconfig/tcl.m4
tests/all.tcl
tests/interp.test
tests/option.test
tests/privacy.test
tests/public.test
tests/toplevel.test
tests/widget.test
win/dllEntryPoint.c
win/makefile.vc
win/nmakehlp.c
win/rc/itk.ico
win/rc/itk.rc
win/toaster.bmp
)
