set(itk_ignore_files
CMake/CheckCSourceRuns.cmake
CMake/CheckPrototypeExists.cmake
CMake/CheckSystemFunctionality.cmake
CMake/FindTIMEZONE.cmake
CMake/FindX11.cmake
CMake/ac_std_funcs.cmake
CMake/tcl.cmake
CMake/test_sources/alloca_header_test.c
CMake/test_sources/alloca_test.c
CMake/test_sources/ctypes_test.c
CMake/test_sources/sys_wait_test.c
CMakeLists.txt
Makefile.am
aclocal.m4
demos/README
demos/itkedit
doc/Archetype.n
doc/Makefile.am
doc/Toplevel.n
doc/Widget.n
doc/itk.n
doc/itkvars.n
doc/license.terms
doc/man.macros
doc/usual.n
examples/Info.itk
examples/MessageInfo.itk
examples/README
examples/TextDisplay.itk
examples/TextInfo.itk
examples/tclIndex
examples/viewfile
generic/Makefile.am
generic/itk.decls
generic/itk.h
generic/itkDecls.h
generic/itkStubInit.c
generic/itkStubLib.c
generic/itk_archetype.c
generic/itk_cmds.c
generic/itk_option.c
generic/itk_util.c
itkConfig.sh.in
library/Archetype.itk
library/Makefile.am
library/Toplevel.itk
library/Widget.itk
library/itk.tcl
library/pkgIndex.tcl
library/tclIndex
license.terms
pkgIndex.tcl.in
tests/all
tests/all.tcl
tests/defs
tests/interp.test
tests/option.test
tests/privacy.test
tests/public.test
tests/toplevel.test
tests/widget.test
win/dllEntryPoint.c
win/makefile.vc
win/nmakehlp.c
win/rc/itk.ico
win/rc/itk.rc
win/toaster.bmp
)
