set(itk_ignore_files
generic/itk.decls
generic/itk.h
generic/itkDecls.h
library/Archetype.itk
library/Toplevel.itk
library/Widget.itk
library/itk.tcl
library/tclIndex
license.terms
tcl_pkgindex.cmake
win/dllEntryPoint.c
win/nmakehlp.c
win/rc/itk.ico
win/rc/itk.rc
win/toaster.bmp
)
