set(itk3_ignore_files
license.terms
generic/itkDecls.h
generic/itk_cmds.c
generic/itkStubLib.c
generic/itk_util.c
generic/itk_option.c
generic/itkStubInit.c
generic/itk.h
generic/itk_archetype.c
generic/itk.decls
library/Archetype.itk
library/Toplevel.itk
library/itk.tcl
library/Widget.itk
library/tclIndex
pkgIndex.tcl.in
ITK_PKGINDEX.cmake
win/dllEntryPoint.c
win/toaster.bmp
win/rc/itk.rc
win/rc/itk.ico
CMakeLists.txt
pkg_mkIndex.cmake
)
