set(iwidgets_ignore_files
CMakeLists.txt
README
generic/buttonbox.itk
generic/calendar.itk
generic/canvasprintbox.itk
generic/canvasprintdialog.itk
generic/checkbox.itk
generic/colors.itcl
generic/combobox.itk
generic/dateentry.itk
generic/datefield.itk
generic/dialog.itk
generic/dialogshell.itk
generic/disjointlistbox.itk
generic/entryfield.itk
generic/extbutton.itk
generic/extfileselectionbox.itk
generic/extfileselectiondialog.itk
generic/feedback.itk
generic/fileselectionbox.itk
generic/fileselectiondialog.itk
generic/finddialog.itk
generic/hierarchy.itk
generic/hyperhelp.itk
generic/labeledframe.itk
generic/labeledwidget.itk
generic/mainwindow.itk
generic/menubar.itk
generic/messagebox.itk
generic/messagedialog.itk
generic/notebook.itk
generic/optionmenu.itk
generic/pane.itk
generic/panedwindow.itk
generic/promptdialog.itk
generic/pushbutton.itk
generic/radiobox.itk
generic/regexpfield.itk
generic/roman.itcl
generic/scopedobject.itcl
generic/scrolledcanvas.itk
generic/scrolledframe.itk
generic/scrolledhtml.itk
generic/scrolledlistbox.itk
generic/scrolledtext.itk
generic/scrolledwidget.itk
generic/selectionbox.itk
generic/selectiondialog.itk
generic/shell.itk
generic/spindate.itk
generic/spinint.itk
generic/spinner.itk
generic/spintime.itk
generic/tabnotebook.itk
generic/tabset.itk
generic/tclIndex
generic/timeentry.itk
generic/timefield.itk
generic/toolbar.itk
generic/unknownimage.gif
generic/watch.itk
incoming/README
incoming/demos/buttoncage
incoming/demos/collapsablewidget
incoming/doc/collapsablewidget.n
incoming/doc/man.macros
incoming/src/buttoncage.itk
incoming/src/collapsablewidget.itk
iwidgets.tcl.in
license.terms
)
