set(iwidgets_ignore_files
CHANGES
CMakeLists.txt
ChangeLog
Makefile.am
README
aclocal.m4
configure.in
demos/buttonbox
demos/calendar
demos/canvasprintbox
demos/canvasprintdialog
demos/catalog
demos/checkbox
demos/combobox
demos/dateentry
demos/datefield
demos/demo.html
demos/dialog
demos/dialogshell
demos/disjointlistbox
demos/entryfield
demos/extbutton
demos/extfileselectionbox
demos/extfileselectiondialog
demos/feedback
demos/fileselectionbox
demos/fileselectiondialog
demos/finddialog
demos/hierarchy
demos/html/buttonbox.n.html
demos/html/calendar.n.html
demos/html/canvasprintbox.n.html
demos/html/canvasprintdialog.n.html
demos/html/checkbox.n.html
demos/html/combobox.n.html
demos/html/dateentry.n.html
demos/html/datefield.n.html
demos/html/dialog.n.html
demos/html/dialogshell.n.html
demos/html/disjointlistbox.n.html
demos/html/entryfield.n.html
demos/html/extbutton.n.html
demos/html/extfileselectionbox.n.html
demos/html/extfileselectiondialog.n.html
demos/html/feedback.n.html
demos/html/fileselectionbox.n.html
demos/html/fileselectiondialog.n.html
demos/html/finddialog.n.html
demos/html/hierarchy.n.html
demos/html/hyperhelp.n.html
demos/html/iwidgets4.0.0UserCmds.html
demos/html/labeledframe.n.html
demos/html/labeledwidget.n.html
demos/html/mainwindow.n.html
demos/html/menubar.n.html
demos/html/messagebox.n.html
demos/html/messagedialog.n.html
demos/html/notebook.n.html
demos/html/optionmenu.n.html
demos/html/panedwindow.n.html
demos/html/promptdialog.n.html
demos/html/pushbutton.n.html
demos/html/radiobox.n.html
demos/html/scopedobject.n.html
demos/html/scrolledcanvas.n.html
demos/html/scrolledframe.n.html
demos/html/scrolledhtml.n.html
demos/html/scrolledlistbox.n.html
demos/html/scrolledtext.n.html
demos/html/selectionbox.n.html
demos/html/selectiondialog.n.html
demos/html/shell.n.html
demos/html/spindate.n.html
demos/html/spinint.n.html
demos/html/spinner.n.html
demos/html/spintime.n.html
demos/html/tabnotebook.n.html
demos/html/tabset.n.html
demos/html/timeentry.n.html
demos/html/timefield.n.html
demos/html/toolbar.n.html
demos/html/watch.n.html
demos/hyperhelp
demos/images/box.xbm
demos/images/clear.gif
demos/images/close.gif
demos/images/copy.gif
demos/images/cut.gif
demos/images/exit.gif
demos/images/find.gif
demos/images/help.gif
demos/images/line.xbm
demos/images/mag.gif
demos/images/new.gif
demos/images/open.gif
demos/images/oval.xbm
demos/images/paste.gif
demos/images/points.xbm
demos/images/poly.gif
demos/images/print.gif
demos/images/ruler.gif
demos/images/save.gif
demos/images/select.gif
demos/images/text.xbm
demos/iwidgets.gif
demos/labeledframe
demos/labeledwidget
demos/mainwindow
demos/menubar
demos/messagebox
demos/messagedialog
demos/notebook
demos/optionmenu
demos/panedwindow
demos/promptdialog
demos/pushbutton
demos/radiobox
demos/scopedobject
demos/scrolledcanvas
demos/scrolledframe
demos/scrolledhtml
demos/scrolledlistbox
demos/scrolledtext
demos/selectionbox
demos/selectiondialog
demos/shell
demos/spindate
demos/spinint
demos/spinner
demos/spintime
demos/tabnotebook
demos/tabset
demos/timeentry
demos/timefield
demos/toolbar
demos/watch
doc/CMakeLists.txt
doc/Makefile.am
doc/buttonbox.n
doc/calendar.n
doc/canvasprintbox.n
doc/canvasprintdialog.n
doc/checkbox.n
doc/combobox.n
doc/dateentry.n
doc/datefield.n
doc/dialog.n
doc/dialogshell.n
doc/disjointlistbox.n
doc/entryfield.n
doc/extbutton.n
doc/extfileselectionbox.n
doc/extfileselectiondialog.n
doc/feedback.n
doc/fileselectionbox.n
doc/fileselectiondialog.n
doc/finddialog.n
doc/generateHtml.sh
doc/hierarchy.n
doc/hyperhelp.n
doc/iwidgets.ps
doc/labeledframe.n
doc/labeledwidget.n
doc/mainwindow.n
doc/man.macros
doc/menubar.n
doc/messagebox.n
doc/messagedialog.n
doc/mkitclman
doc/notebook.n
doc/optionmenu.n
doc/panedwindow.n
doc/promptdialog.n
doc/pushbutton.n
doc/radiobox.n
doc/scopedobject.n
doc/scrolledcanvas.n
doc/scrolledframe.n
doc/scrolledhtml.n
doc/scrolledlistbox.n
doc/scrolledtext.n
doc/selectionbox.n
doc/selectiondialog.n
doc/shell.n
doc/spindate.n
doc/spinint.n
doc/spinner.n
doc/spintime.n
doc/tabnotebook.n
doc/tabset.n
doc/timeentry.n
doc/timefield.n
doc/tk2html
doc/tk2html.awk
doc/tk2html.perl
doc/tk2html2.awk
doc/toolbar.n
doc/watch.n
generic/Makefile.am
generic/buttonbox.itk
generic/calendar.itk
generic/canvasprintbox.itk
generic/canvasprintdialog.itk
generic/checkbox.itk
generic/colors.itcl
generic/combobox.itk
generic/dateentry.itk
generic/datefield.itk
generic/dialog.itk
generic/dialogshell.itk
generic/disjointlistbox.itk
generic/entryfield.itk
generic/extbutton.itk
generic/extfileselectionbox.itk
generic/extfileselectiondialog.itk
generic/feedback.itk
generic/fileselectionbox.itk
generic/fileselectiondialog.itk
generic/finddialog.itk
generic/hierarchy.itk
generic/hyperhelp.itk
generic/labeledframe.itk
generic/labeledwidget.itk
generic/mainwindow.itk
generic/menubar.itk
generic/messagebox.itk
generic/messagedialog.itk
generic/notebook.itk
generic/optionmenu.itk
generic/pane.itk
generic/panedwindow.itk
generic/promptdialog.itk
generic/pushbutton.itk
generic/radiobox.itk
generic/regexpfield.itk
generic/roman.itcl
generic/scopedobject.itcl
generic/scrolledcanvas.itk
generic/scrolledframe.itk
generic/scrolledhtml.itk
generic/scrolledlistbox.itk
generic/scrolledtext.itk
generic/scrolledwidget.itk
generic/selectionbox.itk
generic/selectiondialog.itk
generic/shell.itk
generic/spindate.itk
generic/spinint.itk
generic/spinner.itk
generic/spintime.itk
generic/tabnotebook.itk
generic/tabset.itk
generic/tclIndex
generic/timeentry.itk
generic/timefield.itk
generic/toolbar.itk
generic/unknownimage.gif
generic/watch.itk
incoming/README
incoming/demos/buttoncage
incoming/demos/collapsablewidget
incoming/doc/collapsablewidget.n
incoming/doc/man.macros
incoming/src/buttoncage.itk
incoming/src/collapsablewidget.itk
iwidgets.tcl.in
license.terms
outgoing/README
pkgIndex.tcl.in
tclconfig/install-sh
tclconfig/tcl.m4
tests/all
tests/all.tcl
tests/buttonbox.test
tests/calendar.test
tests/canvasprintbox.test
tests/canvasprintdialog.test
tests/checkbox.test
tests/combobox.test
tests/dateentry.test
tests/datefield.test
tests/defs
tests/dialog.test
tests/dialogshell.test
tests/disjointlistbox.test
tests/entryfield.test
tests/extbutton.test
tests/extfileselectionbox.test
tests/extfileselectiondialog.test
tests/feedback.test
tests/fileselectionbox.test
tests/fileselectiondialog.test
tests/finddialog.test
tests/hierarchy.test
tests/hyperhelp.html
tests/hyperhelp.test
tests/labeledframe.test
tests/labeledwidget.test
tests/menubar.test
tests/messagebox.test
tests/messagedialog.test
tests/notebook.test
tests/optionmenu.test
tests/panedwindow.test
tests/promptdialog.test
tests/pushbutton.test
tests/radiobox.test
tests/regexpfield.test
tests/scrolledcanvas.test
tests/scrolledframe.test
tests/scrolledhtml.test
tests/scrolledlistbox.test
tests/scrolledtext.test
tests/selectionbox.test
tests/selectiondialog.test
tests/shell.test
tests/spindate.test
tests/spinint.test
tests/spinner.test
tests/spintime.test
tests/tabnotebook.test
tests/tabset.test
tests/timeentry.test
tests/timefield.test
tests/toolbar.test
tests/usual.test
tests/watch.test
win/iwidgets.tcl
win/makefile.vc
win/pkg.vc
)
