SET(libnetpbm_ignore_files
README
rgb.txt
bitio.h
colorname.h
fileio.h
libpam.h
libpbm.h
libpgm.h
libppm.h
lum.h
pam.h
pammap.h
pbmfont.h
pbm.h
pgm.h
pm_gamma.h
pm.h
pm_system.h
pnm.h
ppmcmap.h
ppmdfont.h
ppmdraw.h
ppmfloyd.h
ppm.h
libpbmvms.c
libsystem.c
libsystem_dummy.c
mkstemp.c
standard.ppmdfont
util/bitreverse.h
util/intcode.h
util/mallocvar.h
util/nstring.c
util/nstring.h
util/pm_c_util.h
util/ppmdcfont.c
util/testnstring.c
)
