set(libosmesa_ignore_files
CMakeLists.txt
LICENCE
README
include/OSMesa/gl.h
include/OSMesa/gl_mangle.h
include/OSMesa/glext.h
include/OSMesa/glfbdev.h
include/OSMesa/internal/dri_interface.h
include/OSMesa/internal/glcore.h
include/OSMesa/internal/sarea.h
include/OSMesa/osmesa.h
src/CMakeLists.txt
src/drivers/common/driverfuncs.c
src/drivers/common/driverfuncs.h
src/drivers/osmesa/osmesa.c
src/glapi/dispatch.h
src/glapi/glapi.c
src/glapi/glapi.h
src/glapi/glapioffsets.h
src/glapi/glapitable.h
src/glapi/glapitemp.h
src/glapi/glprocs.h
src/glapi/glthread.c
src/glapi/glthread.h
src/main/accum.c
src/main/accum.h
src/main/api_arrayelt.c
src/main/api_arrayelt.h
src/main/api_eval.h
src/main/api_loopback.c
src/main/api_loopback.h
src/main/api_noop.c
src/main/api_noop.h
src/main/api_validate.c
src/main/api_validate.h
src/main/arrayobj.c
src/main/arrayobj.h
src/main/attrib.c
src/main/attrib.h
src/main/bitset.h
src/main/blend.c
src/main/blend.h
src/main/bufferobj.c
src/main/bufferobj.h
src/main/buffers.c
src/main/buffers.h
src/main/clip.c
src/main/clip.h
src/main/colormac.h
src/main/colortab.c
src/main/colortab.h
src/main/config.h
src/main/context.c
src/main/context.h
src/main/convolve.c
src/main/convolve.h
src/main/dd.h
src/main/debug.c
src/main/debug.h
src/main/depth.c
src/main/depth.h
src/main/depthstencil.c
src/main/depthstencil.h
src/main/dispatch.c
src/main/dlist.c
src/main/dlist.h
src/main/drawpix.c
src/main/drawpix.h
src/main/enable.c
src/main/enable.h
src/main/enums.c
src/main/enums.h
src/main/eval.c
src/main/eval.h
src/main/execmem.c
src/main/extensions.c
src/main/extensions.h
src/main/fbobject.c
src/main/fbobject.h
src/main/feedback.c
src/main/feedback.h
src/main/fog.c
src/main/fog.h
src/main/framebuffer.c
src/main/framebuffer.h
src/main/get.c
src/main/get.h
src/main/getstring.c
src/main/glheader.h
src/main/hash.c
src/main/hash.h
src/main/hint.c
src/main/hint.h
src/main/histogram.c
src/main/histogram.h
src/main/image.c
src/main/image.h
src/main/imports.c
src/main/imports.h
src/main/light.c
src/main/light.h
src/main/lines.c
src/main/lines.h
src/main/macros.h
src/main/matrix.c
src/main/matrix.h
src/main/mipmap.c
src/main/mipmap.h
src/main/mm.c
src/main/mm.h
src/main/mtypes.h
src/main/pixel.c
src/main/pixel.h
src/main/points.c
src/main/points.h
src/main/polygon.c
src/main/polygon.h
src/main/queryobj.c
src/main/queryobj.h
src/main/rastpos.c
src/main/rastpos.h
src/main/rbadaptors.c
src/main/rbadaptors.h
src/main/renderbuffer.c
src/main/renderbuffer.h
src/main/shaders.c
src/main/shaders.h
src/main/simple_list.h
src/main/state.c
src/main/state.h
src/main/stencil.c
src/main/stencil.h
src/main/texcompress.c
src/main/texcompress.h
src/main/texcompress_fxt1.c
src/main/texcompress_s3tc.c
src/main/texenvprogram.c
src/main/texenvprogram.h
src/main/texformat.c
src/main/texformat.h
src/main/texformat_tmp.h
src/main/teximage.c
src/main/teximage.h
src/main/texobj.c
src/main/texobj.h
src/main/texrender.c
src/main/texrender.h
src/main/texstate.c
src/main/texstate.h
src/main/texstore.c
src/main/texstore.h
src/main/varray.c
src/main/varray.h
src/main/version.h
src/main/vtxfmt.c
src/main/vtxfmt.h
src/main/vtxfmt_tmp.h
src/math/m_clip_tmp.h
src/math/m_copy_tmp.h
src/math/m_debug.h
src/math/m_debug_clip.c
src/math/m_debug_norm.c
src/math/m_debug_util.h
src/math/m_debug_xform.c
src/math/m_dotprod_tmp.h
src/math/m_eval.c
src/math/m_eval.h
src/math/m_matrix.c
src/math/m_matrix.h
src/math/m_norm_tmp.h
src/math/m_trans_tmp.h
src/math/m_translate.c
src/math/m_translate.h
src/math/m_vector.c
src/math/m_vector.h
src/math/m_xform.c
src/math/m_xform.h
src/math/m_xform_tmp.h
src/math/mathmod.h
src/shader/arbprogparse.c
src/shader/arbprogparse.h
src/shader/arbprogram.c
src/shader/arbprogram.h
src/shader/arbprogram_syn.h
src/shader/atifragshader.c
src/shader/atifragshader.h
src/shader/grammar/grammar.c
src/shader/grammar/grammar.h
src/shader/grammar/grammar_crt.h
src/shader/grammar/grammar_mesa.c
src/shader/grammar/grammar_mesa.h
src/shader/grammar/grammar_syn.h
src/shader/nvfragparse.c
src/shader/nvfragparse.h
src/shader/nvprogram.c
src/shader/nvprogram.h
src/shader/nvvertparse.c
src/shader/nvvertparse.h
src/shader/prog_debug.c
src/shader/prog_debug.h
src/shader/prog_execute.c
src/shader/prog_execute.h
src/shader/prog_instruction.c
src/shader/prog_instruction.h
src/shader/prog_parameter.c
src/shader/prog_parameter.h
src/shader/prog_print.c
src/shader/prog_print.h
src/shader/prog_statevars.c
src/shader/prog_statevars.h
src/shader/program.c
src/shader/program.h
src/shader/programopt.c
src/shader/programopt.h
src/shader/shader_api.c
src/shader/shader_api.h
src/shader/slang/library/slang_120_core_gc.h
src/shader/slang/library/slang_builtin_120_common_gc.h
src/shader/slang/library/slang_builtin_120_fragment_gc.h
src/shader/slang/library/slang_common_builtin_gc.h
src/shader/slang/library/slang_core_gc.h
src/shader/slang/library/slang_fragment_builtin_gc.h
src/shader/slang/library/slang_pp_directives_syn.h
src/shader/slang/library/slang_pp_expression_syn.h
src/shader/slang/library/slang_pp_version_syn.h
src/shader/slang/library/slang_shader_syn.h
src/shader/slang/library/slang_version_syn.h
src/shader/slang/library/slang_vertex_builtin_gc.h
src/shader/slang/slang_builtin.c
src/shader/slang/slang_builtin.h
src/shader/slang/slang_codegen.c
src/shader/slang/slang_codegen.h
src/shader/slang/slang_compile.c
src/shader/slang/slang_compile.h
src/shader/slang/slang_compile_function.c
src/shader/slang/slang_compile_function.h
src/shader/slang/slang_compile_operation.c
src/shader/slang/slang_compile_operation.h
src/shader/slang/slang_compile_struct.c
src/shader/slang/slang_compile_struct.h
src/shader/slang/slang_compile_variable.c
src/shader/slang/slang_compile_variable.h
src/shader/slang/slang_emit.c
src/shader/slang/slang_emit.h
src/shader/slang/slang_ir.c
src/shader/slang/slang_ir.h
src/shader/slang/slang_label.c
src/shader/slang/slang_label.h
src/shader/slang/slang_library_noise.c
src/shader/slang/slang_library_noise.h
src/shader/slang/slang_link.c
src/shader/slang/slang_link.h
src/shader/slang/slang_log.c
src/shader/slang/slang_log.h
src/shader/slang/slang_mem.c
src/shader/slang/slang_mem.h
src/shader/slang/slang_preprocess.c
src/shader/slang/slang_preprocess.h
src/shader/slang/slang_print.c
src/shader/slang/slang_print.h
src/shader/slang/slang_simplify.c
src/shader/slang/slang_simplify.h
src/shader/slang/slang_storage.c
src/shader/slang/slang_storage.h
src/shader/slang/slang_typeinfo.c
src/shader/slang/slang_typeinfo.h
src/shader/slang/slang_utility.c
src/shader/slang/slang_utility.h
src/shader/slang/slang_vartable.c
src/shader/slang/slang_vartable.h
src/swrast/s_aaline.c
src/swrast/s_aaline.h
src/swrast/s_aalinetemp.h
src/swrast/s_aatriangle.c
src/swrast/s_aatriangle.h
src/swrast/s_aatritemp.h
src/swrast/s_accum.c
src/swrast/s_accum.h
src/swrast/s_alpha.c
src/swrast/s_alpha.h
src/swrast/s_atifragshader.c
src/swrast/s_atifragshader.h
src/swrast/s_bitmap.c
src/swrast/s_blend.c
src/swrast/s_blend.h
src/swrast/s_blit.c
src/swrast/s_buffers.c
src/swrast/s_context.c
src/swrast/s_context.h
src/swrast/s_copypix.c
src/swrast/s_depth.c
src/swrast/s_depth.h
src/swrast/s_drawpix.c
src/swrast/s_drawpix.h
src/swrast/s_feedback.c
src/swrast/s_feedback.h
src/swrast/s_fog.c
src/swrast/s_fog.h
src/swrast/s_fragprog.c
src/swrast/s_fragprog.h
src/swrast/s_imaging.c
src/swrast/s_lines.c
src/swrast/s_lines.h
src/swrast/s_linetemp.h
src/swrast/s_logic.c
src/swrast/s_logic.h
src/swrast/s_masking.c
src/swrast/s_masking.h
src/swrast/s_points.c
src/swrast/s_points.h
src/swrast/s_pointtemp.h
src/swrast/s_readpix.c
src/swrast/s_span.c
src/swrast/s_span.h
src/swrast/s_spantemp.h
src/swrast/s_stencil.c
src/swrast/s_stencil.h
src/swrast/s_texcombine.c
src/swrast/s_texcombine.h
src/swrast/s_texfilter.c
src/swrast/s_texfilter.h
src/swrast/s_texstore.c
src/swrast/s_triangle.c
src/swrast/s_triangle.h
src/swrast/s_trispan.h
src/swrast/s_tritemp.h
src/swrast/s_zoom.c
src/swrast/s_zoom.h
src/swrast/swrast.h
src/swrast_setup/ss_context.c
src/swrast_setup/ss_context.h
src/swrast_setup/ss_triangle.c
src/swrast_setup/ss_triangle.h
src/swrast_setup/ss_tritmp.h
src/swrast_setup/ss_vb.h
src/swrast_setup/swrast_setup.h
src/tnl/t_context.c
src/tnl/t_context.h
src/tnl/t_draw.c
src/tnl/t_pipeline.c
src/tnl/t_pipeline.h
src/tnl/t_vb_cliptmp.h
src/tnl/t_vb_cull.c
src/tnl/t_vb_fog.c
src/tnl/t_vb_light.c
src/tnl/t_vb_lighttmp.h
src/tnl/t_vb_normals.c
src/tnl/t_vb_points.c
src/tnl/t_vb_program.c
src/tnl/t_vb_render.c
src/tnl/t_vb_rendertmp.h
src/tnl/t_vb_texgen.c
src/tnl/t_vb_texmat.c
src/tnl/t_vb_vertex.c
src/tnl/t_vertex.c
src/tnl/t_vertex.h
src/tnl/t_vertex_generic.c
src/tnl/t_vertex_sse.c
src/tnl/t_vp_build.c
src/tnl/t_vp_build.h
src/tnl/tnl.h
src/vbo/vbo.h
src/vbo/vbo_attrib.h
src/vbo/vbo_attrib_tmp.h
src/vbo/vbo_context.c
src/vbo/vbo_context.h
src/vbo/vbo_exec.c
src/vbo/vbo_exec.h
src/vbo/vbo_exec_api.c
src/vbo/vbo_exec_array.c
src/vbo/vbo_exec_draw.c
src/vbo/vbo_exec_eval.c
src/vbo/vbo_rebase.c
src/vbo/vbo_save.c
src/vbo/vbo_save.h
src/vbo/vbo_save_api.c
src/vbo/vbo_save_draw.c
src/vbo/vbo_save_loopback.c
src/vbo/vbo_split.c
src/vbo/vbo_split.h
src/vbo/vbo_split_copy.c
src/vbo/vbo_split_inplace.c
src/x86-64/x86-64.c
src/x86-64/x86-64.h
src/x86/3dnow.c
src/x86/3dnow.h
src/x86/assyntax.h
src/x86/clip_args.h
src/x86/common_x86.c
src/x86/common_x86_asm.h
src/x86/common_x86_features.h
src/x86/common_x86_macros.h
src/x86/matypes.h
src/x86/mmx.h
src/x86/mmx_blendtmp.h
src/x86/norm_args.h
src/x86/read_rgba_span_x86.h
src/x86/rtasm/x86sse.c
src/x86/sse.c
src/x86/sse.h
src/x86/x86.c
src/x86/x86.h
src/x86/xform_args.h
)
