SET(libpng_ignore_files
ANNOUNCE
CHANGES
INSTALL
LICENSE
README
TODO
arm
autogen.sh
compile
configure.ac
contrib
example.c
libpng-config.in
libpng.3
libpng.pc.in
libpngpf.3
png.5
pngbar.jpg
pngbar.png
pngnow.png
pngtest.png
pngusr.dfa
projects
scripts
libpng-manual.txt
Makefile.am
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
tests
)
