SET(libpng_ignore_files
ANNOUNCE
CHANGES
INSTALL
LICENSE
README
TODO
arm
autogen.sh
configure.ac
contrib
example.c
libpng-config.in
libpng.3
libpng.pc.in
libpngpf.3
png.5
pngbar.jpg
pngbar.png
pngnow.png
pngtest.png
pngusr.dfa
projects
scripts
test-pngtest.sh
libpng-manual.txt
test-pngvalid-full.sh
test-pngvalid-simple.sh
Makefile.am
)
