ANNOUNCE
CHANGES
INSTALL
LICENSE
README
TODO
autogen.sh
configure.ac
contrib
example.c
libpng-1.4.5.txt
libpng-config.in
libpng.3
libpng.pc.in
libpngpf.3
png.5
pngbar.jpg
pngbar.png
pngnow.png
pngtest.png
projects
scripts
test-pngtest.sh
