set(libutahrle_ignore_files
CMakeLists.txt
Runput.c
cmd_name.c
dither.c
float_to_exp.c
hilbert.c
include/rle.h
include/rle_code.h
include/rle_config.h
include/rle_put.h
include/rle_raw.h
inv_cmap.c
rle_addhist.c
rle_cp.c
rle_error.c
rle_getcom.c
rle_getraw.c
rle_getrow.c
rle_getskip.c
rle_global.c
rle_hdr.c
rle_open_f.c
rle_putcom.c
rle_putraw.c
rle_putrow.c
rle_raw_alc.c
rle_rawrow.c
rle_row_alc.c
scanargs.c
vaxshort.c
)
