SET(libz_ignore_files
Makefile.am
ChangeLog
FAQ
INDEX
README
amiga
configure
contrib
doc
examples
make_vms.com
msdos
nintendods
old
qnx
treebuild.xml
watcom
win32
zconf.h.in
zconf.h
zlib.3
zlib.3.pdf
zlib.map
zlib.pc.in
zlib2ansi
win32/DLL_FAQ.txt
win32/Makefile.bor
win32/Makefile.emx
win32/Makefile.gcc
win32/Makefile.msc
win32/README-WIN32.txt
win32/VisualC.txt
win32/zlib.def
win32/zlib1.rc
)
