set(libz_ignore_files
CMakeLists.txt
README
adler32.c
compress.c
crc32.c
crc32.h
deflate.c
deflate.h
gzclose.c
gzguts.h
gzlib.c
gzread.c
gzwrite.c
infback.c
inffast.c
inffast.h
inffixed.h
inflate.c
inflate.h
inftrees.c
inftrees.h
trees.c
trees.h
uncompr.c
win32/zlib1.rc
zconf.h.in
zlib.h.in
zlib.map
zutil.c
zutil.h
)
