SET(openscenegraph_ignore_files
AUTHORS.txt
CMakeModules
CMakeModules/CheckAtomicOps.cmake
CMakeModules/Find3rdPartyDependencies.cmake
CMakeModules/FindAVFoundation.cmake
CMakeModules/FindAsio.cmake
CMakeModules/FindCoreMedia.cmake
CMakeModules/FindCoreVideo.cmake
CMakeModules/FindDirectInput.cmake
CMakeModules/FindDirectShow.cmake
CMakeModules/FindNVTT.cmake
CMakeModules/FindOSG.cmake
CMakeModules/FindOpenThreads.cmake
CMakeModules/FindPerformer.cmake
CMakeModules/FindQTKit.cmake
CMakeModules/FindQuartzCore.cmake
CMakeModules/FindQuickTime.cmake
CMakeModules/FindZLIB.cmake
CMakeModules/FindZeroConf.cmake
CMakeModules/ListHandle.cmake
CMakeModules/ModuleInstall.cmake
CMakeModules/OsgCPack.cmake
CMakeModules/OsgCPackConfig.cmake.in
CMakeModules/OsgDetermineCompiler.cmake
CMakeModules/OsgMacroUtils.cmake
CMakeModules/Path_Setup.cmake
CMakeModules/RPath_Setup.cmake
CMakeModules/UtilityMacros.cmake
CMakeModules/clean_directories
CMakeModules/cmake_uninstall.cmake.in
LICENSE.txt
NEWS.txt
PlatformSpecifics
PlatformSpecifics/Windows
PlatformSpecifics/Windows/OpenSceneGraphVersionInfo.rc.in
README.txt
include
include/OpenThreads
include/OpenThreads/Atomic
include/OpenThreads/Barrier
include/OpenThreads/Block
include/OpenThreads/Condition
include/OpenThreads/Exports
include/OpenThreads/Mutex
include/OpenThreads/ReadWriteMutex
include/OpenThreads/ReentrantMutex
include/OpenThreads/ScopedLock
include/OpenThreads/Thread
include/OpenThreads/Version
include/osg
include/osg/AlphaFunc
include/osg/AnimationPath
include/osg/ApplicationUsage
include/osg/ArgumentParser
include/osg/Array
include/osg/ArrayDispatchers
include/osg/AudioStream
include/osg/AutoTransform
include/osg/Billboard
include/osg/BlendColor
include/osg/BlendEquation
include/osg/BlendFunc
include/osg/BoundingBox
include/osg/BoundingSphere
include/osg/BoundsChecking
include/osg/BufferIndexBinding
include/osg/BufferObject
include/osg/Camera
include/osg/CameraNode
include/osg/CameraView
include/osg/ClampColor
include/osg/ClearNode
include/osg/ClipNode
include/osg/ClipPlane
include/osg/ClusterCullingCallback
include/osg/CollectOccludersVisitor
include/osg/ColorMask
include/osg/ColorMatrix
include/osg/ComputeBoundsVisitor
include/osg/ConvexPlanarOccluder
include/osg/ConvexPlanarPolygon
include/osg/CoordinateSystemNode
include/osg/CopyOp
include/osg/CullFace
include/osg/CullSettings
include/osg/CullStack
include/osg/CullingSet
include/osg/DeleteHandler
include/osg/Depth
include/osg/DisplaySettings
include/osg/DrawPixels
include/osg/Drawable
include/osg/Endian
include/osg/Export
include/osg/Fog
include/osg/FragmentProgram
include/osg/FrameBufferObject
include/osg/FrameStamp
include/osg/FrontFace
include/osg/GL
include/osg/GL2Extensions
include/osg/GLBeginEndAdapter
include/osg/GLExtensions
include/osg/GLObjects
include/osg/GLU
include/osg/Geode
include/osg/Geometry
include/osg/GraphicsContext
include/osg/GraphicsCostEstimator
include/osg/GraphicsThread
include/osg/Group
include/osg/Hint
include/osg/Image
include/osg/ImageSequence
include/osg/ImageStream
include/osg/ImageUtils
include/osg/KdTree
include/osg/LOD
include/osg/Light
include/osg/LightModel
include/osg/LightSource
include/osg/LineSegment
include/osg/LineStipple
include/osg/LineWidth
include/osg/LogicOp
include/osg/Material
include/osg/Math
include/osg/Matrix
include/osg/MatrixTransform
include/osg/Matrixd
include/osg/Matrixf
include/osg/MixinVector
include/osg/Multisample
include/osg/Node
include/osg/NodeCallback
include/osg/NodeTrackerCallback
include/osg/NodeVisitor
include/osg/Notify
include/osg/Object
include/osg/Observer
include/osg/ObserverNodePath
include/osg/OccluderNode
include/osg/OcclusionQueryNode
include/osg/OperationThread
include/osg/PagedLOD
include/osg/PatchParameter
include/osg/Plane
include/osg/Point
include/osg/PointSprite
include/osg/PolygonMode
include/osg/PolygonOffset
include/osg/PolygonStipple
include/osg/Polytope
include/osg/PositionAttitudeTransform
include/osg/PrimitiveRestartIndex
include/osg/PrimitiveSet
include/osg/Program
include/osg/Projection
include/osg/ProxyNode
include/osg/Quat
include/osg/Referenced
include/osg/RenderInfo
include/osg/SampleMaski
include/osg/Scissor
include/osg/Sequence
include/osg/ShadeModel
include/osg/Shader
include/osg/ShaderAttribute
include/osg/ShaderComposer
include/osg/ShadowVolumeOccluder
include/osg/Shape
include/osg/ShapeDrawable
include/osg/State
include/osg/StateAttribute
include/osg/StateAttributeCallback
include/osg/StateSet
include/osg/Stats
include/osg/Stencil
include/osg/StencilTwoSided
include/osg/Switch
include/osg/TemplatePrimitiveFunctor
include/osg/TexEnv
include/osg/TexEnvCombine
include/osg/TexEnvFilter
include/osg/TexGen
include/osg/TexGenNode
include/osg/TexMat
include/osg/Texture
include/osg/Texture1D
include/osg/Texture2D
include/osg/Texture2DArray
include/osg/Texture2DMultisample
include/osg/Texture3D
include/osg/TextureBuffer
include/osg/TextureCubeMap
include/osg/TextureRectangle
include/osg/Timer
include/osg/TransferFunction
include/osg/Transform
include/osg/TriangleFunctor
include/osg/TriangleIndexFunctor
include/osg/Uniform
include/osg/UserDataContainer
include/osg/ValueObject
include/osg/Vec2
include/osg/Vec2b
include/osg/Vec2d
include/osg/Vec2f
include/osg/Vec2i
include/osg/Vec2s
include/osg/Vec2ub
include/osg/Vec2ui
include/osg/Vec2us
include/osg/Vec3
include/osg/Vec3b
include/osg/Vec3d
include/osg/Vec3f
include/osg/Vec3i
include/osg/Vec3s
include/osg/Vec3ub
include/osg/Vec3ui
include/osg/Vec3us
include/osg/Vec4
include/osg/Vec4b
include/osg/Vec4d
include/osg/Vec4f
include/osg/Vec4i
include/osg/Vec4s
include/osg/Vec4ub
include/osg/Vec4ui
include/osg/Vec4us
include/osg/Version
include/osg/VertexProgram
include/osg/View
include/osg/Viewport
include/osg/buffered_value
include/osg/fast_back_stack
include/osg/io_utils
include/osg/observer_ptr
include/osg/ref_ptr
include/osgDB
include/osgDB/Archive
include/osgDB/AuthenticationMap
include/osgDB/Callbacks
include/osgDB/ConvertUTF
include/osgDB/DataTypes
include/osgDB/DatabasePager
include/osgDB/DatabaseRevisions
include/osgDB/DotOsgWrapper
include/osgDB/DynamicLibrary
include/osgDB/Export
include/osgDB/ExternalFileWriter
include/osgDB/FileCache
include/osgDB/FileNameUtils
include/osgDB/FileUtils
include/osgDB/ImageOptions
include/osgDB/ImagePager
include/osgDB/ImageProcessor
include/osgDB/Input
include/osgDB/InputStream
include/osgDB/ObjectWrapper
include/osgDB/Options
include/osgDB/Output
include/osgDB/OutputStream
include/osgDB/ParameterOutput
include/osgDB/PluginQuery
include/osgDB/ReadFile
include/osgDB/ReaderWriter
include/osgDB/Registry
include/osgDB/Serializer
include/osgDB/SharedStateManager
include/osgDB/StreamOperator
include/osgDB/Version
include/osgDB/WriteFile
include/osgDB/XmlParser
include/osgDB/fstream
include/osgGA
include/osgGA/AnimationPathManipulator
include/osgGA/CameraManipulator
include/osgGA/CameraViewSwitchManipulator
include/osgGA/Device
include/osgGA/DriveManipulator
include/osgGA/EventQueue
include/osgGA/EventVisitor
include/osgGA/Export
include/osgGA/FirstPersonManipulator
include/osgGA/FlightManipulator
include/osgGA/GUIActionAdapter
include/osgGA/GUIEventAdapter
include/osgGA/GUIEventHandler
include/osgGA/KeySwitchMatrixManipulator
include/osgGA/MultiTouchTrackballManipulator
include/osgGA/NodeTrackerManipulator
include/osgGA/OrbitManipulator
include/osgGA/SphericalManipulator
include/osgGA/StandardManipulator
include/osgGA/StateSetManipulator
include/osgGA/TerrainManipulator
include/osgGA/TrackballManipulator
include/osgGA/UFOManipulator
include/osgGA/Version
include/osgText
include/osgText/Export
include/osgText/FadeText
include/osgText/Font
include/osgText/Font3D
include/osgText/Glyph
include/osgText/KerningType
include/osgText/String
include/osgText/Style
include/osgText/Text
include/osgText/Text3D
include/osgText/TextBase
include/osgText/Version
include/osgUtil
include/osgUtil/ConvertVec
include/osgUtil/CubeMapGenerator
include/osgUtil/CullVisitor
include/osgUtil/DelaunayTriangulator
include/osgUtil/DisplayRequirementsVisitor
include/osgUtil/DrawElementTypeSimplifier
include/osgUtil/EdgeCollector
include/osgUtil/Export
include/osgUtil/GLObjectsVisitor
include/osgUtil/HalfWayMapGenerator
include/osgUtil/HighlightMapGenerator
include/osgUtil/IncrementalCompileOperation
include/osgUtil/IntersectVisitor
include/osgUtil/IntersectionVisitor
include/osgUtil/LineSegmentIntersector
include/osgUtil/MeshOptimizers
include/osgUtil/OperationArrayFunctor
include/osgUtil/Optimizer
include/osgUtil/PerlinNoise
include/osgUtil/PlaneIntersector
include/osgUtil/PolytopeIntersector
include/osgUtil/PositionalStateContainer
include/osgUtil/PrintVisitor
include/osgUtil/ReflectionMapGenerator
include/osgUtil/RenderBin
include/osgUtil/RenderLeaf
include/osgUtil/RenderStage
include/osgUtil/ReversePrimitiveFunctor
include/osgUtil/SceneGraphBuilder
include/osgUtil/SceneView
include/osgUtil/ShaderGen
include/osgUtil/Simplifier
include/osgUtil/SmoothingVisitor
include/osgUtil/StateGraph
include/osgUtil/Statistics
include/osgUtil/TangentSpaceGenerator
include/osgUtil/Tessellator
include/osgUtil/TransformAttributeFunctor
include/osgUtil/TransformCallback
include/osgUtil/TriStripVisitor
include/osgUtil/UpdateVisitor
include/osgUtil/Version
include/osgViewer
include/osgViewer/CompositeViewer
include/osgViewer/Export
include/osgViewer/GraphicsWindow
include/osgViewer/Keystone
include/osgViewer/Renderer
include/osgViewer/Scene
include/osgViewer/Version
include/osgViewer/View
include/osgViewer/Viewer
include/osgViewer/ViewerBase
include/osgViewer/ViewerEventHandlers
include/osgViewer/api
include/osgViewer/api/Carbon
include/osgViewer/api/Carbon/GraphicsHandleCarbon
include/osgViewer/api/Carbon/GraphicsWindowCarbon
include/osgViewer/api/Carbon/PixelBufferCarbon
include/osgViewer/api/Cocoa
include/osgViewer/api/Cocoa/GraphicsHandleCocoa
include/osgViewer/api/Cocoa/GraphicsWindowCocoa
include/osgViewer/api/Cocoa/PixelBufferCocoa
include/osgViewer/api/IOS
include/osgViewer/api/IOS/GraphicsWindowIOS
include/osgViewer/api/Win32
include/osgViewer/api/Win32/GraphicsHandleWin32
include/osgViewer/api/Win32/GraphicsWindowWin32
include/osgViewer/api/Win32/PixelBufferWin32
include/osgViewer/api/X11
include/osgViewer/api/X11/GraphicsHandleX11
include/osgViewer/api/X11/GraphicsWindowX11
include/osgViewer/api/X11/PixelBufferX11
include/osgViewer/config
include/osgViewer/config/AcrossAllScreens
include/osgViewer/config/PanoramicSphericalDisplay
include/osgViewer/config/SingleScreen
include/osgViewer/config/SingleWindow
include/osgViewer/config/SphericalDisplay
include/osgViewer/config/WoWVxDisplay
src/OpenThreads/CMake
src/OpenThreads/CMake/CheckAtomicOps.cmake
src/OpenThreads/PlatformSpecifics
src/OpenThreads/PlatformSpecifics/Windows
src/OpenThreads/PlatformSpecifics/Windows/OpenThreadsVersionInfo.rc.in
src/OpenThreads/include
src/OpenThreads/include/OpenThreads
src/OpenThreads/include/OpenThreads/Atomic
src/OpenThreads/include/OpenThreads/Barrier
src/OpenThreads/include/OpenThreads/Block
src/OpenThreads/include/OpenThreads/Condition
src/OpenThreads/include/OpenThreads/Exports
src/OpenThreads/include/OpenThreads/Mutex
src/OpenThreads/include/OpenThreads/ReadWriteMutex
src/OpenThreads/include/OpenThreads/ReentrantMutex
src/OpenThreads/include/OpenThreads/ScopedLock
src/OpenThreads/include/OpenThreads/Thread
src/OpenThreads/include/OpenThreads/Version
src/OpenThreads/qt
src/OpenThreads/qt/CMakeLists.txt
src/OpenThreads/qt/QtBarrier.cpp
src/OpenThreads/qt/QtBarrierPrivateData.h
src/OpenThreads/qt/QtCondition.cpp
src/OpenThreads/qt/QtConditionPrivateData.h
src/OpenThreads/qt/QtMutex.cpp
src/OpenThreads/qt/QtMutexPrivateData.h
src/OpenThreads/qt/QtThread.cpp
src/OpenThreads/qt/QtThreadPrivateData.h
src/OpenThreads/sproc
src/OpenThreads/sproc/CMakeLists.txt
src/OpenThreads/sproc/SharedArena.c++
src/OpenThreads/sproc/SharedArena.h
src/OpenThreads/sproc/SprocBarrier.c++
src/OpenThreads/sproc/SprocBarrierPrivateData.h
src/OpenThreads/sproc/SprocCondition.c++
src/OpenThreads/sproc/SprocConditionPrivateData.h
src/OpenThreads/sproc/SprocMutex.c++
src/OpenThreads/sproc/SprocMutexPrivateData.h
src/OpenThreads/sproc/SprocThread.c++
src/OpenThreads/sproc/SprocThreadPrivateActions.h
src/OpenThreads/sproc/SprocThreadPrivateData.h
src/OpenThreads/win32
src/OpenThreads/win32/CMakeLists.txt
src/OpenThreads/win32/HandleHolder.h
src/OpenThreads/win32/WIN32Condition.cpp
src/OpenThreads/win32/Win32BarrierPrivateData.h
src/OpenThreads/win32/Win32ConditionPrivateData.h
src/OpenThreads/win32/Win32Mutex.cpp
src/OpenThreads/win32/Win32MutexPrivateData.h
src/OpenThreads/win32/Win32Thread.cpp
src/OpenThreads/win32/Win32ThreadBarrier.cpp
src/OpenThreads/win32/Win32ThreadPrivateData.h
src/osg/Matrix_implementation.cpp
src/osg/glu/libtess/README
src/osg/glu/libtess/priorityq-heap.cpp
src/osgPlugins/Path_Setup.cmake
src/osgPlugins/freetype/FreeTypeFont.h
src/osgPlugins/freetype/FreeTypeLibrary.h
src/osgPlugins/osg/AsciiStreamOperator.h
src/osgPlugins/osg/BinaryStreamOperator.h
src/osgPlugins/osg/XmlStreamOperator.h
src/osgUtil/tristripper/include
src/osgUtil/tristripper/include/detail
src/osgUtil/tristripper/include/detail/cache_simulator.h
src/osgUtil/tristripper/include/detail/connectivity_graph.h
src/osgUtil/tristripper/include/detail/graph_array.h
src/osgUtil/tristripper/include/detail/heap_array.h
src/osgUtil/tristripper/include/detail/policy.h
src/osgUtil/tristripper/include/detail/types.h
src/osgUtil/tristripper/include/public_types.h
src/osgUtil/tristripper/include/tri_stripper.h
src/osgViewer/DarwinUtils.h
src/osgViewer/DarwinUtils.mm
src/osgViewer/GraphicsWindowCarbon.cpp
src/osgViewer/GraphicsWindowCocoa.mm
src/osgViewer/GraphicsWindowIOS.mm
src/osgViewer/GraphicsWindowWin32.cpp
src/osgViewer/IOSUtils.h
src/osgViewer/IOSUtils.mm
src/osgViewer/PixelBufferCarbon.cpp
src/osgViewer/PixelBufferCocoa.mm
src/osgViewer/PixelBufferWin32.cpp
)
