SET(PoissonRecon_ignore_files
LICENSE
PoissonRecon.sln
PoissonRecon.v12.suo
PoissonRecon.vcxproj
PoissonRecon.vcxproj.filters
Src/Allocator.h
Src/Array.h
Src/Array.inl
Src/BSplineData.h
Src/BSplineData.inl
Src/BinaryNode.h
Src/CmdLineParser.h
Src/CmdLineParser.inl
Src/Factor.h
Src/FunctionData.h
Src/FunctionData.inl
Src/Geometry.h
Src/Geometry.inl
Src/Hash.h
Src/MAT.h
Src/MAT.inl
Src/MarchingCubes.h
Src/MemoryUsage.h
Src/MultiGridOctreeData.IsoSurface.inl
Src/MultiGridOctreeData.SortedTreeNodes.inl
Src/MultiGridOctreeData.h
Src/MultiGridOctreeData.inl
Src/MyTime.h
Src/Octree.h
Src/Octree.inl
Src/PPolynomial.h
Src/PPolynomial.inl
Src/Ply.h
Src/PointStream.h
Src/PointStream.inl
Src/Polynomial.h
Src/Polynomial.inl
Src/SPR.h
Src/SparseMatrix.h
Src/SparseMatrix.inl
Src/Vector.h
Src/Vector.inl
Src/cvertex.h
SurfaceTrimmer.vcxproj
SurfaceTrimmer.vcxproj.filters
)
