set(poly2tri_ignore_files
AUTHORS
CMakeLists.txt
LICENSE
README.md
poly2tri/common/shapes.cc
poly2tri/common/shapes.h
poly2tri/common/utils.h
poly2tri/common/dll_symbol.h
poly2tri/poly2tri.h
poly2tri/sweep/advancing_front.cc
poly2tri/sweep/advancing_front.h
poly2tri/sweep/cdt.cc
poly2tri/sweep/cdt.h
poly2tri/sweep/sweep.cc
poly2tri/sweep/sweep.h
poly2tri/sweep/sweep_context.cc
poly2tri/sweep/sweep_context.h
)
