SET(re2c_ignore_files
README
CHANGELOG
CMake
README.in
basics.h
code.h
code_names.h
config.h.in
config_w32.h.in
configure.in
dfa.h
doc
examples
globals.h
htdocs
ins.h
lessons
mbo_getopt.h
parser.h
parser.yy
re.h
re2c.1.in
re2c.spec.in
run_tests.sh.in
scanner.h
scanner.re
stream_lc.h
substr.h
test
token.h
)
