SET(step_ignore_files
Makefile.am
AUTHORS
CMake
COPYING
ChangeLog
INSTALL
NEWS
README
TODO
config
configure.ac
data
doc
include
m4
misc
src
src/express/Changes
src/express/README
src/express/conf.h
src/express/expparse.y
src/express/expscan.l
src/express/exptoks.h
src/express/stack.h
src/express/y.tok.h
src/exppp/README
src/fedex_plus/classes.h
src/fedex_plus/complexSupport.h
src/clstepcore/ExpDict.h
src/clstepcore/ExpDict.h.s
src/clstepcore/README
src/clstepcore/Registry.h
src/clstepcore/STEPaggregate.h
src/clstepcore/STEPattribute.h
src/clstepcore/STEPattributeList.h
src/clstepcore/STEPcomplex.h
src/clstepcore/STEPundefined.h
src/clstepcore/Select.h
src/clstepcore/SingleLinkList.h
src/clstepcore/baseType.h
src/clstepcore/complexSupport.h
src/clstepcore/dict-pic.txt
src/clstepcore/dictdefs.h
src/clstepcore/notes.txt
src/clstepcore/read_func.h
src/clstepcore/scl_osschema.h
src/clstepcore/sdai.h
src/clstepcore/sdaiApplication_instance.h
src/clstepcore/sdaiBinary.h
src/clstepcore/sdaiEnum.h
src/clstepcore/sdaiSelect.h
src/clstepcore/sdaiString.h
src/cleditor/README
src/cleditor/STEPfile.h
src/cleditor/cmdmgr.h
src/cleditor/dispnode.h
src/cleditor/dispnodelist.h
src/cleditor/editordefines.h
src/cleditor/instmgr.h
src/cleditor/mgrnode.h
src/cleditor/mgrnodearray.h
src/cleditor/mgrnodelist.h
src/cleditor/needFunc.h
src/cleditor/s_HEADER_SCHEMA.h
src/cleditor/seeinfodefault.h
src/cldai/ErrorMap.cc
src/cldai/ErrorMap.hh
src/cldai/ErrorRpt.cc
src/cldai/ErrorRpt.hh
src/cldai/StrUtil.cc
src/cldai/StrUtil.hh
src/cldai/impconv.hh
src/cldai/imptypes.hh
src/cldai/sdaiApplication_instance_set.h
src/cldai/sdaiDaObject.h
src/cldai/sdaiEntity_extent.h
src/cldai/sdaiEntity_extent_set.h
src/cldai/sdaiModel_contents.h
src/cldai/sdaiModel_contents_list.h
src/cldai/sdaiObject.h
src/cldai/sdaiSession_instance.h
src/clutils/README
src/clutils/Str.h
src/clutils/dirobj.h
src/clutils/errordesc.h
src/clutils/gennode.h
src/clutils/gennodearray.h
src/clutils/gennodelist.h
src/clutils/scl_char_str_list.h
src/clutils/scl_hash.h
src/clutils/scldir.h
src/clutils/stat.h
src/clutils/str_list.h
src/clSchemas
src/clivfasd
src/clprobe-ui
src/test
)
