SET(tcl_ignore_files
CMake
README
compat
generic/README
generic/regc_color.c
generic/regc_cvec.c
generic/regc_lex.c
generic/regc_locale.c
generic/regc_nfa.c
generic/regcustom.h
generic/rege_dfa.c
generic/regerrs.h
generic/regfronts.c
generic/regguts.h
generic/tcl.decls
generic/tcl.h
generic/tclCompile.h
generic/tclDTrace.d
generic/tclDecls.h
generic/tclFileSystem.h
generic/tclGetDate.y
generic/tclIO.h
generic/tclInt.decls
generic/tclInt.h
generic/tclIntDecls.h
generic/tclIntPlatDecls.h
generic/tclLoadNone.c
generic/tclPlatDecls.h
generic/tclPort.h
generic/tclRegexp.h
generic/tclTest.c
generic/tclTestObj.c
generic/tclTestProcBodyObj.c
generic/tclThreadTest.c
generic/tclTomMath.decls
generic/tclTomMath.h
generic/tclTomMathDecls.h
generic/tclTomMathInt.h
generic/tommath.h
library
libtommath/tommath.h
libtommath/tommath_class.h
libtommath/tommath_superclass.h
license.terms
macosx
unix
unix/README
unix/tclConfig.h.in
unix/tclConfig.sh.in
unix/tclLoadAix.c
unix/tclLoadDl.c
unix/tclLoadDyld.c
unix/tclLoadNext.c
unix/tclLoadOSF.c
unix/tclLoadShl.c
unix/tclUnixPort.h
unix/tclUnixThrd.h
unix/tclXtNotify.c
unix/tclXtTest.c
win
)
