set(tk_ignore_files
CMakeLists.txt
README.md
bitmaps/error.xbm
bitmaps/gray12.xbm
bitmaps/gray25.xbm
bitmaps/gray50.xbm
bitmaps/gray75.xbm
bitmaps/hourglass.xbm
bitmaps/info.xbm
bitmaps/questhead.xbm
bitmaps/question.xbm
bitmaps/warning.xbm
compat/license.terms
compat/stdlib.h
compat/unistd.h
generic/README
generic/default.h
generic/ks_names.h
generic/tk.decls
generic/tk.h
generic/tk3d.c
generic/tk3d.h
generic/tkArgv.c
generic/tkArray.h
generic/tkAtom.c
generic/tkBind.c
generic/tkBitmap.c
generic/tkBusy.c
generic/tkBusy.h
generic/tkButton.c
generic/tkButton.h
generic/tkCanvArc.c
generic/tkCanvBmap.c
generic/tkCanvImg.c
generic/tkCanvLine.c
generic/tkCanvPoly.c
generic/tkCanvPs.c
generic/tkCanvText.c
generic/tkCanvUtil.c
generic/tkCanvWind.c
generic/tkCanvas.c
generic/tkCanvas.h
generic/tkClipboard.c
generic/tkCmds.c
generic/tkColor.c
generic/tkColor.h
generic/tkConfig.c
generic/tkConsole.c
generic/tkCursor.c
generic/tkDList.h
generic/tkDecls.h
generic/tkEntry.c
generic/tkEntry.h
generic/tkError.c
generic/tkEvent.c
generic/tkFileFilter.c
generic/tkFileFilter.h
generic/tkFocus.c
generic/tkFont.c
generic/tkFont.h
generic/tkFrame.c
generic/tkGC.c
generic/tkGeometry.c
generic/tkGet.c
generic/tkGrab.c
generic/tkGrid.c
generic/tkImage.c
generic/tkImgBmap.c
generic/tkImgGIF.c
generic/tkImgPNG.c
generic/tkImgPPM.c
generic/tkImgPhInstance.c
generic/tkImgPhoto.c
generic/tkImgPhoto.h
generic/tkImgUtil.c
generic/tkInt.decls
generic/tkInt.h
generic/tkIntDecls.h
generic/tkIntPlatDecls.h
generic/tkIntXlibDecls.h
generic/tkListbox.c
generic/tkMacWinMenu.c
generic/tkMain.c
generic/tkMenu.c
generic/tkMenu.h
generic/tkMenuDraw.c
generic/tkMenubutton.c
generic/tkMenubutton.h
generic/tkMessage.c
generic/tkObj.c
generic/tkOldConfig.c
generic/tkOldTest.c
generic/tkOption.c
generic/tkPack.c
generic/tkPanedWindow.c
generic/tkPlace.c
generic/tkPlatDecls.h
generic/tkPointer.c
generic/tkPort.h
generic/tkRectOval.c
generic/tkScale.c
generic/tkScale.h
generic/tkScrollbar.c
generic/tkScrollbar.h
generic/tkSelect.c
generic/tkSelect.h
generic/tkSquare.c
generic/tkStubInit.c
generic/tkStubLib.c
generic/tkStyle.c
generic/tkTest.c
generic/tkText.c
generic/tkText.h
generic/tkTextBTree.c
generic/tkTextDisp.c
generic/tkTextImage.c
generic/tkTextIndex.c
generic/tkTextMark.c
generic/tkTextTag.c
generic/tkTextWind.c
generic/tkTrig.c
generic/tkUndo.c
generic/tkUndo.h
generic/tkUtil.c
generic/tkVisual.c
generic/tkWindow.c
generic/ttk/ttk.decls
generic/ttk/ttkBlink.c
generic/ttk/ttkButton.c
generic/ttk/ttkCache.c
generic/ttk/ttkClamTheme.c
generic/ttk/ttkClassicTheme.c
generic/ttk/ttkDecls.h
generic/ttk/ttkDefaultTheme.c
generic/ttk/ttkElements.c
generic/ttk/ttkEntry.c
generic/ttk/ttkFrame.c
generic/ttk/ttkGenStubs.tcl
generic/ttk/ttkImage.c
generic/ttk/ttkInit.c
generic/ttk/ttkLabel.c
generic/ttk/ttkLayout.c
generic/ttk/ttkManager.c
generic/ttk/ttkManager.h
generic/ttk/ttkNotebook.c
generic/ttk/ttkPanedwindow.c
generic/ttk/ttkProgress.c
generic/ttk/ttkScale.c
generic/ttk/ttkScroll.c
generic/ttk/ttkScrollbar.c
generic/ttk/ttkSeparator.c
generic/ttk/ttkSquare.c
generic/ttk/ttkState.c
generic/ttk/ttkStubInit.c
generic/ttk/ttkStubLib.c
generic/ttk/ttkTagSet.c
generic/ttk/ttkTheme.c
generic/ttk/ttkTheme.h
generic/ttk/ttkThemeInt.h
generic/ttk/ttkTrace.c
generic/ttk/ttkTrack.c
generic/ttk/ttkTreeview.c
generic/ttk/ttkWidget.c
generic/ttk/ttkWidget.h
library/CMakeLists.txt
library/bgerror.tcl
library/button.tcl
library/choosedir.tcl
library/clrpick.tcl
library/comdlg.tcl
library/console.tcl
library/demos/README
library/demos/anilabel.tcl
library/demos/aniwave.tcl
library/demos/arrow.tcl
library/demos/bind.tcl
library/demos/bitmap.tcl
library/demos/browse
library/demos/button.tcl
library/demos/check.tcl
library/demos/clrpick.tcl
library/demos/colors.tcl
library/demos/combo.tcl
library/demos/cscroll.tcl
library/demos/ctext.tcl
library/demos/dialog1.tcl
library/demos/dialog2.tcl
library/demos/en.msg
library/demos/entry1.tcl
library/demos/entry2.tcl
library/demos/entry3.tcl
library/demos/filebox.tcl
library/demos/floor.tcl
library/demos/fontchoose.tcl
library/demos/form.tcl
library/demos/goldberg.tcl
library/demos/hello
library/demos/hscale.tcl
library/demos/icon.tcl
library/demos/image1.tcl
library/demos/image2.tcl
library/demos/images/earth.gif
library/demos/images/earthmenu.png
library/demos/images/earthris.gif
library/demos/images/face.xbm
library/demos/images/flagdown.xbm
library/demos/images/flagup.xbm
library/demos/images/gray25.xbm
library/demos/images/letters.xbm
library/demos/images/noletter.xbm
library/demos/images/ouster.png
library/demos/images/pattern.xbm
library/demos/images/tcllogo.gif
library/demos/images/teapot.ppm
library/demos/items.tcl
library/demos/ixset
library/demos/knightstour.tcl
library/demos/label.tcl
library/demos/labelframe.tcl
library/demos/license.terms
library/demos/mclist.tcl
library/demos/menu.tcl
library/demos/menubu.tcl
library/demos/msgbox.tcl
library/demos/nl.msg
library/demos/paned1.tcl
library/demos/paned2.tcl
library/demos/pendulum.tcl
library/demos/plot.tcl
library/demos/puzzle.tcl
library/demos/radio.tcl
library/demos/rmt
library/demos/rolodex
library/demos/ruler.tcl
library/demos/sayings.tcl
library/demos/search.tcl
library/demos/spin.tcl
library/demos/square
library/demos/states.tcl
library/demos/style.tcl
library/demos/tclIndex
library/demos/tcolor
library/demos/text.tcl
library/demos/textpeer.tcl
library/demos/timer
library/demos/toolbar.tcl
library/demos/tree.tcl
library/demos/ttkbut.tcl
library/demos/ttkmenu.tcl
library/demos/ttknote.tcl
library/demos/ttkpane.tcl
library/demos/ttkprogress.tcl
library/demos/ttkscale.tcl
library/demos/twind.tcl
library/demos/unicodeout.tcl
library/demos/vscale.tcl
library/demos/widget
library/dialog.tcl
library/entry.tcl
library/focus.tcl
library/fontchooser.tcl
library/iconlist.tcl
library/icons.tcl
library/images/README
library/images/logo.eps
library/images/logo100.gif
library/images/logo64.gif
library/images/logoLarge.gif
library/images/logoMed.gif
library/images/pwrdLogo.eps
library/images/pwrdLogo100.gif
library/images/pwrdLogo150.gif
library/images/pwrdLogo175.gif
library/images/pwrdLogo200.gif
library/images/pwrdLogo75.gif
library/images/tai-ku.gif
library/license.terms
library/listbox.tcl
library/megawidget.tcl
library/menu.tcl
library/mkpsenc.tcl
library/msgbox.tcl
library/msgs/cs.msg
library/msgs/da.msg
library/msgs/de.msg
library/msgs/el.msg
library/msgs/en.msg
library/msgs/en_gb.msg
library/msgs/eo.msg
library/msgs/es.msg
library/msgs/fr.msg
library/msgs/hu.msg
library/msgs/it.msg
library/msgs/nl.msg
library/msgs/pl.msg
library/msgs/pt.msg
library/msgs/ru.msg
library/msgs/sv.msg
library/obsolete.tcl
library/optMenu.tcl
library/palette.tcl
library/panedwindow.tcl
library/safetk.tcl
library/scale.tcl
library/scrlbar.tcl
library/spinbox.tcl
library/tclIndex
library/tearoff.tcl
library/text.tcl
library/tk.tcl
library/tkfbox.tcl
library/ttk/altTheme.tcl
library/ttk/aquaTheme.tcl
library/ttk/button.tcl
library/ttk/clamTheme.tcl
library/ttk/classicTheme.tcl
library/ttk/combobox.tcl
library/ttk/cursors.tcl
library/ttk/defaults.tcl
library/ttk/entry.tcl
library/ttk/fonts.tcl
library/ttk/menubutton.tcl
library/ttk/notebook.tcl
library/ttk/panedwindow.tcl
library/ttk/progress.tcl
library/ttk/scale.tcl
library/ttk/scrollbar.tcl
library/ttk/sizegrip.tcl
library/ttk/spinbox.tcl
library/ttk/treeview.tcl
library/ttk/ttk.tcl
library/ttk/utils.tcl
library/ttk/vistaTheme.tcl
library/ttk/winTheme.tcl
library/ttk/xpTheme.tcl
library/unsupported.tcl
library/xmfbox.tcl
license.terms
macosx/README
macosx/Tk-Info.plist.in
macosx/Tk.icns
macosx/Tk.tiff
macosx/Wish-Info.plist.in
macosx/Wish.icns
macosx/Wish.sdef
macosx/license.terms
macosx/tkMacOSX.h
macosx/tkMacOSXBitmap.c
macosx/tkMacOSXButton.c
macosx/tkMacOSXClipboard.c
macosx/tkMacOSXColor.c
macosx/tkMacOSXConfig.c
macosx/tkMacOSXConstants.h
macosx/tkMacOSXCursor.c
macosx/tkMacOSXCursors.h
macosx/tkMacOSXDebug.c
macosx/tkMacOSXDebug.h
macosx/tkMacOSXDefault.h
macosx/tkMacOSXDialog.c
macosx/tkMacOSXDraw.c
macosx/tkMacOSXEmbed.c
macosx/tkMacOSXEntry.c
macosx/tkMacOSXEvent.c
macosx/tkMacOSXEvent.h
macosx/tkMacOSXFont.c
macosx/tkMacOSXFont.h
macosx/tkMacOSXHLEvents.c
macosx/tkMacOSXImage.c
macosx/tkMacOSXInit.c
macosx/tkMacOSXInt.h
macosx/tkMacOSXKeyEvent.c
macosx/tkMacOSXKeyboard.c
macosx/tkMacOSXMenu.c
macosx/tkMacOSXMenubutton.c
macosx/tkMacOSXMenus.c
macosx/tkMacOSXMouseEvent.c
macosx/tkMacOSXNotify.c
macosx/tkMacOSXPort.h
macosx/tkMacOSXPrivate.h
macosx/tkMacOSXRegion.c
macosx/tkMacOSXScale.c
macosx/tkMacOSXScrlbr.c
macosx/tkMacOSXSend.c
macosx/tkMacOSXServices.c
macosx/tkMacOSXSubwindows.c
macosx/tkMacOSXTest.c
macosx/tkMacOSXWindowEvent.c
macosx/tkMacOSXWm.c
macosx/tkMacOSXWm.h
macosx/tkMacOSXXCursors.h
macosx/tkMacOSXXStubs.c
macosx/ttkMacOSXTheme.c
unix/README
unix/license.terms
unix/tk.pc.in
unix/tk.spec
unix/tkAppInit.c
unix/tkConfig.h.in
unix/tkConfig.sh.in
unix/tkUnix.c
unix/tkUnix3d.c
unix/tkUnixButton.c
unix/tkUnixColor.c
unix/tkUnixConfig.c
unix/tkUnixCursor.c
unix/tkUnixDefault.h
unix/tkUnixDialog.c
unix/tkUnixDraw.c
unix/tkUnixEmbed.c
unix/tkUnixEvent.c
unix/tkUnixFocus.c
unix/tkUnixFont.c
unix/tkUnixInit.c
unix/tkUnixInt.h
unix/tkUnixKey.c
unix/tkUnixMenu.c
unix/tkUnixMenubu.c
unix/tkUnixPort.h
unix/tkUnixRFont.c
unix/tkUnixScale.c
unix/tkUnixScrlbr.c
unix/tkUnixSelect.c
unix/tkUnixSend.c
unix/tkUnixWm.c
unix/tkUnixXId.c
win/README
win/license.terms
win/nmakehlp.c
win/rc/buttons.bmp
win/rc/cursor00.cur
win/rc/cursor02.cur
win/rc/cursor04.cur
win/rc/cursor06.cur
win/rc/cursor08.cur
win/rc/cursor0a.cur
win/rc/cursor0c.cur
win/rc/cursor0e.cur
win/rc/cursor10.cur
win/rc/cursor12.cur
win/rc/cursor14.cur
win/rc/cursor16.cur
win/rc/cursor18.cur
win/rc/cursor1a.cur
win/rc/cursor1c.cur
win/rc/cursor1e.cur
win/rc/cursor20.cur
win/rc/cursor22.cur
win/rc/cursor24.cur
win/rc/cursor26.cur
win/rc/cursor28.cur
win/rc/cursor2a.cur
win/rc/cursor2c.cur
win/rc/cursor2e.cur
win/rc/cursor30.cur
win/rc/cursor32.cur
win/rc/cursor34.cur
win/rc/cursor36.cur
win/rc/cursor38.cur
win/rc/cursor3a.cur
win/rc/cursor3c.cur
win/rc/cursor3e.cur
win/rc/cursor40.cur
win/rc/cursor42.cur
win/rc/cursor44.cur
win/rc/cursor46.cur
win/rc/cursor48.cur
win/rc/cursor4a.cur
win/rc/cursor4c.cur
win/rc/cursor4e.cur
win/rc/cursor50.cur
win/rc/cursor52.cur
win/rc/cursor54.cur
win/rc/cursor56.cur
win/rc/cursor58.cur
win/rc/cursor5a.cur
win/rc/cursor5c.cur
win/rc/cursor5e.cur
win/rc/cursor60.cur
win/rc/cursor62.cur
win/rc/cursor64.cur
win/rc/cursor66.cur
win/rc/cursor68.cur
win/rc/cursor6a.cur
win/rc/cursor6c.cur
win/rc/cursor6e.cur
win/rc/cursor70.cur
win/rc/cursor72.cur
win/rc/cursor74.cur
win/rc/cursor76.cur
win/rc/cursor78.cur
win/rc/cursor7a.cur
win/rc/cursor7c.cur
win/rc/cursor7e.cur
win/rc/cursor80.cur
win/rc/cursor82.cur
win/rc/cursor84.cur
win/rc/cursor86.cur
win/rc/cursor88.cur
win/rc/cursor8a.cur
win/rc/cursor8c.cur
win/rc/cursor8e.cur
win/rc/cursor90.cur
win/rc/cursor92.cur
win/rc/cursor94.cur
win/rc/cursor96.cur
win/rc/cursor98.cur
win/rc/cursor9a.cur
win/rc/lamp.bmp
win/rc/tk.ico
win/rc/tk.rc
win/rc/tk_base.rc
win/rc/wish.ico
win/rc/wish.rc
win/stubs.c
win/tkConfig.sh.in
win/tkMainASCII.c
win/tkWin.h
win/tkWin32Dll.c
win/tkWin3d.c
win/tkWinButton.c
win/tkWinClipboard.c
win/tkWinColor.c
win/tkWinConfig.c
win/tkWinCursor.c
win/tkWinDefault.h
win/tkWinDialog.c
win/tkWinDraw.c
win/tkWinEmbed.c
win/tkWinFont.c
win/tkWinImage.c
win/tkWinInit.c
win/tkWinInt.h
win/tkWinKey.c
win/tkWinMenu.c
win/tkWinPixmap.c
win/tkWinPointer.c
win/tkWinPort.h
win/tkWinRegion.c
win/tkWinScrlbr.c
win/tkWinSend.c
win/tkWinSendCom.c
win/tkWinSendCom.h
win/tkWinTest.c
win/tkWinWindow.c
win/tkWinWm.c
win/tkWinX.c
win/ttkWinMonitor.c
win/ttkWinTheme.c
win/ttkWinXPTheme.c
win/winMain.c
win/wish.exe.manifest.in
xlib/X11/DECkeysym.h
xlib/X11/HPkeysym.h
xlib/X11/Sunkeysym.h
xlib/X11/X.h
xlib/X11/XF86keysym.h
xlib/X11/Xatom.h
xlib/X11/Xfuncproto.h
xlib/X11/Xlib.h
xlib/X11/Xutil.h
xlib/X11/ap_keysym.h
xlib/X11/cursorfont.h
xlib/X11/keysym.h
xlib/X11/keysymdef.h
xlib/X11/license.terms
xlib/license.terms
xlib/xbytes.h
xlib/xcolors.c
xlib/xdraw.c
xlib/xgc.c
xlib/ximage.c
xlib/xutil.c
)
