SET(tkdnd_ignore_files
Changelog
cmake
configure.in
demos
doc
license.terms
unix/tkUnixSelect.c
unix/TkDND_XDND.c
unix/Cursors.c
library/tkdnd.tcl
library/tkdnd_compat.tcl
library/tkdnd_macosx.tcl
library/tkdnd_unix.tcl
library/tkdnd_windows.tcl
macosx/macdnd.m
tclconfig/ChangeLog
tclconfig/README.txt
tclconfig/install-sh
tclconfig/tcl.m4
win/OleDND.h
win/TkDND_OleDND.cpp
)
