set(tkhtml_ignore_files
CMakeLists.txt
COPYING
README
TCL_PKGINDEX.cmake
doc/html.man
doc/macros.tcl
doc/tkhtml_requirements.tcl
doc/tree.fig
doc/tree.gif
src/css.c
src/css.h
src/cssInt.h
src/cssdynamic.c
src/cssparser.c
src/cssprop.tcl
src/csssearch.c
src/html.css
src/html.h
src/htmldecode.c
src/htmldraw.c
src/htmlfloat.c
src/htmlhash.c
src/htmlimage.c
src/htmlinline.c
src/htmllayout.c
src/htmllayout.h
src/htmlmacros.h
src/htmlparse.c
src/htmlprop.c
src/htmlprop.h
src/htmlstyle.c
src/htmltable.c
src/htmltagdb.c
src/htmltcl.c
src/htmltext.c
src/htmltree.c
src/htmlutil.c
src/main.c
src/mkdefaultstyle.tcl
src/quirks.css
src/restrack.c
src/restrack.h
src/swproc.c
src/swproc.h
src/tkhtml.tcl
src/tokenlist.txt
)
