set(tktable_ignore_files
CMakeLists.txt
README.txt
generic/tkAppInit.c
generic/tkTable.c
generic/tkTable.h
generic/tkTableCell.c
generic/tkTableCellSort.c
generic/tkTableCmds.c
generic/tkTableEdit.c
generic/tkTableInitScript.h
generic/tkTablePs.c
generic/tkTableTag.c
generic/tkTableUtil.c
generic/tkTableWin.c
generic/version.h
library/tkTable.tcl
library/tktable.py
license.txt
mac/mac_tkTable.mcp.xml
mac/mac_tkTable.r
mac/mac_tkTable_prefix.h
misc/tkTable_header.tcl
)
