set(tktable_ignore_files
ChangeLog
Makefile.in
README.blt
README.txt
TODO.txt
aclocal.m4
configure
configure.in
demos/basic.tcl
demos/buttons.tcl
demos/command.tcl
demos/debug.tcl
demos/dynarows.tcl
demos/loadtable.tcl
demos/maxsize.tcl
demos/spreadsheet.tcl
demos/tcllogo.gif
demos/tktable.py
demos/valid.tcl
doc/tkTable.html
doc/tkTable.n
generic/tkAppInit.c
generic/tkTable.c
generic/tkTable.h
generic/tkTableCell.c
generic/tkTableCellSort.c
generic/tkTableCmds.c
generic/tkTableEdit.c
generic/tkTableInitScript.h
generic/tkTablePs.c
generic/tkTableTag.c
generic/tkTableUtil.c
generic/tkTableWin.c
generic/version.h
library/tkTable.tcl
library/tktable.py
license.txt
release.txt
tclconfig/install-sh
tclconfig/tcl.m4
tests/all.tcl
tests/tkTable.test
unix/tktable.spec
win/makefile.vc
)
