SET(tktreectrl_ignore_files
ChangeLog
CMake
aclocal.m4
configure
configure.ac
demos
doc
generic/qebind.h
generic/tkTreeCtrl.h
generic/tkTreeElem.h
library/filelist-bindings.tcl
library/treectrl.tcl
license.terms
macosx/tkMacOSXTree.c
pkg.m4
shellicon
tclconfig
tests
treectrl.dll.manifest.in
treectrl.rc
unix/tkUnixTree.c
win/tkWinTree.c
winrc.m4
)
