SET(URToolkit_ignore_files
Makefile.am
3.1-changes
CHANGES
MANIFEST
README
blurb
copyright
man
patchlevel.h
cnv/README
cnv/Makefile.am
cnv/iristorle.c
cnv/pgmtorle.c
cnv/ppmtorle.c
cnv/rastorle.c
cnv/rla_header.h
cnv/rlatorle.c
cnv/rlb_header.h
cnv/rletocgm.c
cnv/rletogif
cnv/rletoiris.c
cnv/rletoppm.c
cnv/rletorast.c
cnv/rletotiff.c
cnv/tifftorle.c
cnv/rletoabA62/COPYRIGHT
cnv/rletoabA62/Makefile.am
cnv/rletogif/rletogif.h
tools/Makefile.am
tools/rleaddeof.c
tools/rleskel.c
tools/clock/Makefile.am
tools/clock/README
tools/clock/font.h
tools/clock/font.src
tools/clock/makeFont
)
