set(xsltproc_ignore_files
CMake
CMake/ResolveCompilerPaths.cmake
libexslt/include
libexslt/include/libexslt
libexslt/include/libexslt/exslt.h
libexslt/include/libexslt/exsltexports.h
libexslt/include/libexslt/libexslt.h
libxml/include
libxml/include/acconfig.h
libxml/include/elfgcchack.h
libxml/include/libxml
libxml/include/libxml.h
libxml/include/libxml/DOCBparser.h
libxml/include/libxml/HTMLparser.h
libxml/include/libxml/HTMLtree.h
libxml/include/libxml/SAX.h
libxml/include/libxml/SAX2.h
libxml/include/libxml/c14n.h
libxml/include/libxml/catalog.h
libxml/include/libxml/chvalid.h
libxml/include/libxml/debugXML.h
libxml/include/libxml/dict.h
libxml/include/libxml/encoding.h
libxml/include/libxml/entities.h
libxml/include/libxml/globals.h
libxml/include/libxml/hash.h
libxml/include/libxml/list.h
libxml/include/libxml/nanoftp.h
libxml/include/libxml/nanohttp.h
libxml/include/libxml/parser.h
libxml/include/libxml/parserInternals.h
libxml/include/libxml/pattern.h
libxml/include/libxml/relaxng.h
libxml/include/libxml/schemasInternals.h
libxml/include/libxml/schematron.h
libxml/include/libxml/threads.h
libxml/include/libxml/tree.h
libxml/include/libxml/uri.h
libxml/include/libxml/valid.h
libxml/include/libxml/xinclude.h
libxml/include/libxml/xlink.h
libxml/include/libxml/xmlIO.h
libxml/include/libxml/xmlautomata.h
libxml/include/libxml/xmlerror.h
libxml/include/libxml/xmlexports.h
libxml/include/libxml/xmlmemory.h
libxml/include/libxml/xmlmodule.h
libxml/include/libxml/xmlreader.h
libxml/include/libxml/xmlregexp.h
libxml/include/libxml/xmlsave.h
libxml/include/libxml/xmlschemas.h
libxml/include/libxml/xmlschemastypes.h
libxml/include/libxml/xmlstring.h
libxml/include/libxml/xmlunicode.h
libxml/include/libxml/xmlwriter.h
libxml/include/libxml/xpath.h
libxml/include/libxml/xpathInternals.h
libxml/include/libxml/xpointer.h
libxml/include/trio.h
libxml/include/triodef.h
libxml/include/trionan.h
libxml/include/triop.h
libxml/include/triostr.h
libxml/src/trio.c
libxml/src/triostr.c
libxslt/include
libxslt/include/libxslt
libxslt/include/libxslt/attributes.h
libxslt/include/libxslt/documents.h
libxslt/include/libxslt/extensions.h
libxslt/include/libxslt/extra.h
libxslt/include/libxslt/functions.h
libxslt/include/libxslt/imports.h
libxslt/include/libxslt/keys.h
libxslt/include/libxslt/libxslt.h
libxslt/include/libxslt/namespaces.h
libxslt/include/libxslt/numbersInternals.h
libxslt/include/libxslt/pattern.h
libxslt/include/libxslt/preproc.h
libxslt/include/libxslt/security.h
libxslt/include/libxslt/templates.h
libxslt/include/libxslt/transform.h
libxslt/include/libxslt/trio.h
libxslt/include/libxslt/triodef.h
libxslt/include/libxslt/variables.h
libxslt/include/libxslt/win32config.h
libxslt/include/libxslt/xslt.h
libxslt/include/libxslt/xsltInternals.h
libxslt/include/libxslt/xsltexports.h
libxslt/include/libxslt/xsltlocale.h
libxslt/include/libxslt/xsltutils.h
libxslt/include/libxslt/xsltwin32config.h
)
