Source: vdslib
Section: devel
Priority: optional
Maintainer: Marcelo E. Magallon <mmagallo@debian.org>
Standards-Version: 3.1.1
Build-Depends: debhelper (>= 2.0.69), mesag-dev | libgl-dev, glutg3-dev, libfltk1.1-dev, flex, g++ (>= 2:3.2), dh-buildinfo

Package: libvds-dev
Section: devel
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, libc6-dev, mesag-dev | libgl-dev
Suggests: libfltk-dev
Description: The view-dependent simplification library.
 Developed by Dr. David Patrick Luebke from the department of Computer
 Science, University of Virginia, vdslib provides a comfortable
 implementation of "level of detail" algorithms that work with binary
 and octrees.
 .
 A example program (polyview) is provided which can be compiled with
 FLTk, a free C++ XForms feel-alike implementation.
