set(itk3_ignore_files
CMake/FindITCL.cmake
CMake/FindTCL.cmake
license.terms
generic/itkDecls.h
generic/itk_cmds.c
generic/itkStubLib.c
generic/itk_util.c
generic/itk_option.c
generic/itkStubInit.c
generic/itk.h
generic/itk_archetype.c
generic/itk.decls
library/Archetype.itk
library/Toplevel.itk
library/itk.tcl
library/Widget.itk
library/tclIndex
win/dllEntryPoint.c
win/toaster.bmp
win/rc/itk.rc
win/rc/itk.ico
CMakeLists.txt
)
if (COMMAND CMAKEFILES_IN_DIR)
  CMAKEFILES_IN_DIR(itk3_ignore_files itk3)
endif (COMMAND CMAKEFILES_IN_DIR)

