set(netpbm_ignore_files
CMakeLists.txt
README
bitio.c
bitio.h
colorname.c
colorname.h
compile.h.in
fileio.c
fileio.h
libpam.c
libpam.h
libpamcolor.c
libpammap.c
libpamn.c
libpamread.c
libpamwrite.c
libpbm.h
libpbm1.c
libpbm2.c
libpbm3.c
libpbmfont.c
libpbmvms.c
libpgm.h
libpgm1.c
libpgm2.c
libpm.cxx
libpnm1.c
libpnm2.c
libpnm3.c
libppm.h
libppm1.c
libppm2.c
libppmcmap.c
libppmcolor.c
libppmd.c
libppmfloyd.c
libppmfuzzy.c
libsystem.c
libsystem_dummy.c
lum.h
mkstemp.c
pam.h
pammap.h
path.c
pbm.h
pbmfont.h
pgm.h
pm.h
pm_config.h.in
pm_gamma.h
pm_system.h
pnm.h
ppm.h
ppmcmap.h
ppmdfont.c
ppmdfont.h
ppmdraw.h
ppmfloyd.h
rgb.txt
standard.ppmdfont
standardppmdfont.c
util/bitreverse.h
util/intcode.h
util/mallocvar.h
util/pm_c_util.h
util/ppmdcfont.c
version.h.in
)
if (COMMAND CMAKEFILES_IN_DIR)
  CMAKEFILES_IN_DIR(netpbm_ignore_files netpbm)
endif (COMMAND CMAKEFILES_IN_DIR)

