set(netpbm_ignore_files
CMakeLists.txt
README
compile.h.in
lib/colorname.c
lib/fileio.c
lib/libpam.c
lib/libpamcolor.c
lib/libpammap.c
lib/libpamn.c
lib/libpamread.c
lib/libpamwrite.c
lib/libpbm1.c
lib/libpbm2.c
lib/libpbm3.c
lib/libpbmfont.c
lib/libpgm1.c
lib/libpgm2.c
lib/libpm.c
lib/libpnm1.c
lib/libpnm2.c
lib/libpnm3.c
lib/libppm1.c
lib/libppm2.c
lib/libppmcmap.c
lib/libppmcolor.c
lib/libppmd.c
lib/libppmfloyd.c
lib/libppmfuzzy.c
lib/netpbm/colorname.h
lib/netpbm/fileio.h
lib/netpbm/libpam.h
lib/netpbm/libpbm.h
lib/netpbm/libpgm.h
lib/netpbm/libppm.h
lib/netpbm/pam.h
lib/netpbm/pammap.h
lib/netpbm/pbm.h
lib/netpbm/pbmfont.h
lib/netpbm/pgm.h
lib/netpbm/pm.h
lib/netpbm/pm_gamma.h
lib/netpbm/pnm.h
lib/netpbm/ppm.h
lib/netpbm/ppmcmap.h
lib/netpbm/ppmdfont.h
lib/netpbm/ppmdraw.h
lib/netpbm/ppmfloyd.h
lib/path.c
lib/pmfileio.cxx
lib/ppmdfont.c
lib/rgb.txt
lib/standard.ppmdfont
lib/standardppmdfont.c
lib/util/bitio.c
lib/util/mallocvar.c
lib/util/netpbm/bitio.h
lib/util/netpbm/mallocvar.h
lib/util/netpbm/nstring.h
lib/util/netpbm/pm_c_util.h
lib/util/nstring.c
lib/util/vasprintf.c
pm_config.h.in
version.h.in
)
if (COMMAND CMAKEFILES_IN_DIR)
  CMAKEFILES_IN_DIR(netpbm_ignore_files netpbm)
endif (COMMAND CMAKEFILES_IN_DIR)

