set(png_ignore_files
CMakeLists.txt
LICENSE
README
libpng-config.in
libpng.pc.in
png.c
png.h
pngconf.h
pngdebug.h
pngerror.c
pngget.c
pnginfo.h
pngmem.c
pngpread.c
pngpriv.h
pngread.c
pngrio.c
pngrtran.c
pngrutil.c
pngset.c
pngstruct.h
pngtrans.c
pngusr.dfa
pngwio.c
pngwrite.c
pngwtran.c
pngwutil.c
scripts/checksym.awk
scripts/dfn.awk
scripts/genchk.cmake.in
scripts/genout.cmake.in
scripts/gensrc.cmake.in
scripts/intprefix.c
scripts/macro.lst
scripts/options.awk
scripts/pnglibconf.dfa
scripts/pnglibconf.h.prebuilt
scripts/prefix.c
scripts/sym.c
scripts/symbols.c
scripts/symbols.def
scripts/vers.c
)
if (COMMAND CMAKEFILES_IN_DIR)
  CMAKEFILES_IN_DIR(png_ignore_files png)
endif (COMMAND CMAKEFILES_IN_DIR)

