set(png_ignore_files
ANNOUNCE
AUTHORS
CHANGES
CMakeLists.txt
INSTALL
LICENSE
Makefile.am
Makefile.in
README
TODO
TRADEMARK
aclocal.m4
arm/arm_init.c
arm/filter_neon.S
arm/filter_neon_intrinsics.c
arm/palette_neon_intrinsics.c
autogen.sh
ci/ci_autotools.sh
ci/ci_cmake.sh
ci/ci_legacy.sh
compile
config.guess
config.h.in
config.sub
configure
configure.ac
contrib/README.txt
contrib/arm-neon/README
contrib/arm-neon/android-ndk.c
contrib/arm-neon/linux-auxv.c
contrib/arm-neon/linux.c
contrib/conftest/README
contrib/conftest/pngcp.dfa
contrib/conftest/read.dfa
contrib/conftest/s_read.dfa
contrib/conftest/s_write.dfa
contrib/conftest/simple.dfa
contrib/conftest/write.dfa
contrib/examples/README.txt
contrib/examples/iccfrompng.c
contrib/examples/pngpixel.c
contrib/examples/pngtopng.c
contrib/examples/simpleover.c
contrib/gregbook/COPYING
contrib/gregbook/LICENSE
contrib/gregbook/Makefile.mingw32
contrib/gregbook/Makefile.sgi
contrib/gregbook/Makefile.unx
contrib/gregbook/Makefile.w32
contrib/gregbook/README
contrib/gregbook/makevms.com
contrib/gregbook/readpng.c
contrib/gregbook/readpng.h
contrib/gregbook/readpng2.c
contrib/gregbook/readpng2.h
contrib/gregbook/readppm.c
contrib/gregbook/rpng-win.c
contrib/gregbook/rpng-x.c
contrib/gregbook/rpng2-win.c
contrib/gregbook/rpng2-x.c
contrib/gregbook/toucan.png
contrib/gregbook/wpng.c
contrib/gregbook/writepng.c
contrib/gregbook/writepng.h
contrib/libtests/fakepng.c
contrib/libtests/gentests.sh
contrib/libtests/makepng.c
contrib/libtests/pngimage.c
contrib/libtests/pngstest-errors.h
contrib/libtests/pngstest.c
contrib/libtests/pngunknown.c
contrib/libtests/pngvalid.c
contrib/libtests/readpng.c
contrib/libtests/tarith.c
contrib/libtests/timepng.c
contrib/mips-msa/README
contrib/mips-msa/linux.c
contrib/oss-fuzz/Dockerfile
contrib/oss-fuzz/README.txt
contrib/oss-fuzz/build.sh
contrib/oss-fuzz/libpng_read_fuzzer.cc
contrib/oss-fuzz/libpng_read_fuzzer.options
contrib/oss-fuzz/png.dict
contrib/pngminim/README
contrib/pngminim/decoder/README
contrib/pngminim/decoder/makefile
contrib/pngminim/decoder/pngusr.dfa
contrib/pngminim/decoder/pngusr.h
contrib/pngminim/encoder/README
contrib/pngminim/encoder/makefile
contrib/pngminim/encoder/pngusr.dfa
contrib/pngminim/encoder/pngusr.h
contrib/pngminim/preader/README
contrib/pngminim/preader/makefile
contrib/pngminim/preader/pngusr.dfa
contrib/pngminim/preader/pngusr.h
contrib/pngminus/CHANGES.txt
contrib/pngminus/CMakeLists.txt
contrib/pngminus/LICENSE.txt
contrib/pngminus/Makefile
contrib/pngminus/README.txt
contrib/pngminus/makevms.com
contrib/pngminus/png2pnm.bat
contrib/pngminus/png2pnm.c
contrib/pngminus/png2pnm.sh
contrib/pngminus/pngminus.bat
contrib/pngminus/pngminus.sh
contrib/pngminus/pnm2png.bat
contrib/pngminus/pnm2png.c
contrib/pngminus/pnm2png.sh
contrib/pngsuite/README
contrib/pngsuite/bad_interlace_conversions.txt
contrib/pngsuite/basn0g01.png
contrib/pngsuite/basn0g02.png
contrib/pngsuite/basn0g04.png
contrib/pngsuite/basn0g08.png
contrib/pngsuite/basn0g16.png
contrib/pngsuite/basn2c08.png
contrib/pngsuite/basn2c16.png
contrib/pngsuite/basn3p01.png
contrib/pngsuite/basn3p02.png
contrib/pngsuite/basn3p04.png
contrib/pngsuite/basn3p08.png
contrib/pngsuite/basn4a08.png
contrib/pngsuite/basn4a16.png
contrib/pngsuite/basn6a08.png
contrib/pngsuite/basn6a16.png
contrib/pngsuite/ftbbn0g01.png
contrib/pngsuite/ftbbn0g02.png
contrib/pngsuite/ftbbn0g04.png
contrib/pngsuite/ftbbn2c16.png
contrib/pngsuite/ftbbn3p08.png
contrib/pngsuite/ftbgn2c16.png
contrib/pngsuite/ftbgn3p08.png
contrib/pngsuite/ftbrn2c08.png
contrib/pngsuite/ftbwn0g16.png
contrib/pngsuite/ftbwn3p08.png
contrib/pngsuite/ftbyn3p08.png
contrib/pngsuite/ftp0n0g08.png
contrib/pngsuite/ftp0n2c08.png
contrib/pngsuite/ftp0n3p08.png
contrib/pngsuite/ftp1n3p08.png
contrib/pngsuite/ibasn0g08.png
contrib/pngsuite/ibasn0g16.png
contrib/pngsuite/ibasn2c08.png
contrib/pngsuite/ibasn2c16.png
contrib/pngsuite/ibasn3p08.png
contrib/pngsuite/ibasn4a08.png
contrib/pngsuite/ibasn4a16.png
contrib/pngsuite/ibasn6a08.png
contrib/pngsuite/ibasn6a16.png
contrib/pngsuite/iftbbn2c16.png
contrib/pngsuite/iftbbn3p08.png
contrib/pngsuite/iftbgn2c16.png
contrib/pngsuite/iftbgn3p08.png
contrib/pngsuite/iftbrn2c08.png
contrib/pngsuite/iftbwn0g16.png
contrib/pngsuite/iftbwn3p08.png
contrib/pngsuite/iftbyn3p08.png
contrib/pngsuite/iftp0n0g08.png
contrib/pngsuite/iftp0n2c08.png
contrib/pngsuite/iftp0n3p08.png
contrib/pngsuite/iftp1n3p08.png
contrib/pngsuite/interlaced/README
contrib/pngsuite/interlaced/ibasn0g01.png
contrib/pngsuite/interlaced/ibasn0g02.png
contrib/pngsuite/interlaced/ibasn0g04.png
contrib/pngsuite/interlaced/ibasn3p01.png
contrib/pngsuite/interlaced/ibasn3p02.png
contrib/pngsuite/interlaced/ibasn3p04.png
contrib/pngsuite/interlaced/iftbbn0g01.png
contrib/pngsuite/interlaced/iftbbn0g02.png
contrib/pngsuite/interlaced/iftbbn0g04.png
contrib/powerpc-vsx/README
contrib/powerpc-vsx/linux.c
contrib/powerpc-vsx/linux_aux.c
contrib/testpngs/crashers/bad_iCCP.png
contrib/testpngs/crashers/badadler.png
contrib/testpngs/crashers/badcrc.png
contrib/testpngs/crashers/empty_ancillary_chunks.png
contrib/testpngs/crashers/huge_IDAT.png
contrib/testpngs/crashers/huge_bKGD_chunk.png
contrib/testpngs/crashers/huge_cHRM_chunk.png
contrib/testpngs/crashers/huge_eXIf_chunk.png
contrib/testpngs/crashers/huge_gAMA_chunk.png
contrib/testpngs/crashers/huge_hIST_chunk.png
contrib/testpngs/crashers/huge_iCCP_chunk.png
contrib/testpngs/crashers/huge_iTXt_chunk.png
contrib/testpngs/crashers/huge_juNK_unsafe_to_copy.png
contrib/testpngs/crashers/huge_juNk_safe_to_copy.png
contrib/testpngs/crashers/huge_pCAL_chunk.png
contrib/testpngs/crashers/huge_pHYs_chunk.png
contrib/testpngs/crashers/huge_sCAL_chunk.png
contrib/testpngs/crashers/huge_sPLT_chunk.png
contrib/testpngs/crashers/huge_sRGB_chunk.png
contrib/testpngs/crashers/huge_sTER_chunk.png
contrib/testpngs/crashers/huge_tEXt_chunk.png
contrib/testpngs/crashers/huge_tIME_chunk.png
contrib/testpngs/crashers/huge_zTXt_chunk.png
contrib/testpngs/gray-1-1.8-tRNS.png
contrib/testpngs/gray-1-1.8.png
contrib/testpngs/gray-1-linear-tRNS.png
contrib/testpngs/gray-1-linear.png
contrib/testpngs/gray-1-sRGB-tRNS.png
contrib/testpngs/gray-1-sRGB.png
contrib/testpngs/gray-1-tRNS.png
contrib/testpngs/gray-1.png
contrib/testpngs/gray-16-1.8-tRNS.png
contrib/testpngs/gray-16-1.8.png
contrib/testpngs/gray-16-linear-tRNS.png
contrib/testpngs/gray-16-linear.png
contrib/testpngs/gray-16-sRGB-tRNS.png
contrib/testpngs/gray-16-sRGB.png
contrib/testpngs/gray-16-tRNS.png
contrib/testpngs/gray-16.png
contrib/testpngs/gray-2-1.8-tRNS.png
contrib/testpngs/gray-2-1.8.png
contrib/testpngs/gray-2-linear-tRNS.png
contrib/testpngs/gray-2-linear.png
contrib/testpngs/gray-2-sRGB-tRNS.png
contrib/testpngs/gray-2-sRGB.png
contrib/testpngs/gray-2-tRNS.png
contrib/testpngs/gray-2.png
contrib/testpngs/gray-4-1.8-tRNS.png
contrib/testpngs/gray-4-1.8.png
contrib/testpngs/gray-4-linear-tRNS.png
contrib/testpngs/gray-4-linear.png
contrib/testpngs/gray-4-sRGB-tRNS.png
contrib/testpngs/gray-4-sRGB.png
contrib/testpngs/gray-4-tRNS.png
contrib/testpngs/gray-4.png
contrib/testpngs/gray-8-1.8-tRNS.png
contrib/testpngs/gray-8-1.8.png
contrib/testpngs/gray-8-linear-tRNS.png
contrib/testpngs/gray-8-linear.png
contrib/testpngs/gray-8-sRGB-tRNS.png
contrib/testpngs/gray-8-sRGB.png
contrib/testpngs/gray-8-tRNS.png
contrib/testpngs/gray-8.png
contrib/testpngs/gray-alpha-16-1.8.png
contrib/testpngs/gray-alpha-16-linear.png
contrib/testpngs/gray-alpha-16-sRGB.png
contrib/testpngs/gray-alpha-16.png
contrib/testpngs/gray-alpha-8-1.8.png
contrib/testpngs/gray-alpha-8-linear.png
contrib/testpngs/gray-alpha-8-sRGB.png
contrib/testpngs/gray-alpha-8.png
contrib/testpngs/makepngs.sh
contrib/testpngs/palette-1-1.8-tRNS.png
contrib/testpngs/palette-1-1.8.png
contrib/testpngs/palette-1-linear-tRNS.png
contrib/testpngs/palette-1-linear.png
contrib/testpngs/palette-1-sRGB-tRNS.png
contrib/testpngs/palette-1-sRGB.png
contrib/testpngs/palette-1-tRNS.png
contrib/testpngs/palette-1.png
contrib/testpngs/palette-2-1.8-tRNS.png
contrib/testpngs/palette-2-1.8.png
contrib/testpngs/palette-2-linear-tRNS.png
contrib/testpngs/palette-2-linear.png
contrib/testpngs/palette-2-sRGB-tRNS.png
contrib/testpngs/palette-2-sRGB.png
contrib/testpngs/palette-2-tRNS.png
contrib/testpngs/palette-2.png
contrib/testpngs/palette-4-1.8-tRNS.png
contrib/testpngs/palette-4-1.8.png
contrib/testpngs/palette-4-linear-tRNS.png
contrib/testpngs/palette-4-linear.png
contrib/testpngs/palette-4-sRGB-tRNS.png
contrib/testpngs/palette-4-sRGB.png
contrib/testpngs/palette-4-tRNS.png
contrib/testpngs/palette-4.png
contrib/testpngs/palette-8-1.8-tRNS.png
contrib/testpngs/palette-8-1.8.png
contrib/testpngs/palette-8-linear-tRNS.png
contrib/testpngs/palette-8-linear.png
contrib/testpngs/palette-8-sRGB-tRNS.png
contrib/testpngs/palette-8-sRGB.png
contrib/testpngs/palette-8-tRNS.png
contrib/testpngs/palette-8.png
contrib/testpngs/rgb-16-1.8-tRNS.png
contrib/testpngs/rgb-16-1.8.png
contrib/testpngs/rgb-16-linear-tRNS.png
contrib/testpngs/rgb-16-linear.png
contrib/testpngs/rgb-16-sRGB-tRNS.png
contrib/testpngs/rgb-16-sRGB.png
contrib/testpngs/rgb-16-tRNS.png
contrib/testpngs/rgb-16.png
contrib/testpngs/rgb-8-1.8-tRNS.png
contrib/testpngs/rgb-8-1.8.png
contrib/testpngs/rgb-8-linear-tRNS.png
contrib/testpngs/rgb-8-linear.png
contrib/testpngs/rgb-8-sRGB-tRNS.png
contrib/testpngs/rgb-8-sRGB.png
contrib/testpngs/rgb-8-tRNS.png
contrib/testpngs/rgb-8.png
contrib/testpngs/rgb-alpha-16-1.8.png
contrib/testpngs/rgb-alpha-16-linear.png
contrib/testpngs/rgb-alpha-16-sRGB.png
contrib/testpngs/rgb-alpha-16.png
contrib/testpngs/rgb-alpha-8-1.8.png
contrib/testpngs/rgb-alpha-8-linear.png
contrib/testpngs/rgb-alpha-8-sRGB.png
contrib/testpngs/rgb-alpha-8.png
contrib/tools/README.txt
contrib/tools/checksum-icc.c
contrib/tools/chkfmt.sh
contrib/tools/cvtcolor.c
contrib/tools/genpng.c
contrib/tools/intgamma.sh
contrib/tools/makesRGB.c
contrib/tools/png-fix-itxt.c
contrib/tools/pngcp.c
contrib/tools/pngfix.c
contrib/tools/sRGB.h
contrib/visupng/PngFile.c
contrib/visupng/PngFile.h
contrib/visupng/README.txt
contrib/visupng/VisualPng.c
contrib/visupng/VisualPng.dsp
contrib/visupng/VisualPng.dsw
contrib/visupng/VisualPng.ico
contrib/visupng/VisualPng.png
contrib/visupng/VisualPng.rc
contrib/visupng/cexcept.h
contrib/visupng/resource.h
depcomp
example.c
install-sh
intel/filter_sse2_intrinsics.c
intel/intel_init.c
libpng-config.in
libpng-manual.txt
libpng.3
libpng.pc.in
libpngpf.3
ltmain.sh
mips/filter_msa_intrinsics.c
mips/mips_init.c
missing
png.5
png.c
png.h
pngbar.jpg
pngbar.png
pngconf.h
pngdebug.h
pngerror.c
pngget.c
pnginfo.h
pngmem.c
pngnow.png
pngpread.c
pngpriv.h
pngread.c
pngrio.c
pngrtran.c
pngrutil.c
pngset.c
pngstruct.h
pngtest.c
pngtest.png
pngtrans.c
pngusr.dfa
pngwio.c
pngwrite.c
pngwtran.c
pngwutil.c
powerpc/filter_vsx_intrinsics.c
powerpc/powerpc_init.c
projects/owatcom/libpng.tgt
projects/owatcom/libpng.wpj
projects/owatcom/pngconfig.mak
projects/owatcom/pngstest.tgt
projects/owatcom/pngtest.tgt
projects/owatcom/pngvalid.tgt
projects/visualc71/PRJ0041.mak
projects/visualc71/README.txt
projects/visualc71/README_zlib.txt
projects/visualc71/libpng.sln
projects/visualc71/libpng.vcproj
projects/visualc71/pngtest.vcproj
projects/visualc71/zlib.vcproj
projects/vstudio/README.txt
projects/vstudio/libpng/libpng.vcxproj
projects/vstudio/pnglibconf/pnglibconf.vcxproj
projects/vstudio/pngstest/pngstest.vcxproj
projects/vstudio/pngtest/pngtest.vcxproj
projects/vstudio/pngunknown/pngunknown.vcxproj
projects/vstudio/pngvalid/pngvalid.vcxproj
projects/vstudio/vstudio.sln
projects/vstudio/zlib.props
projects/vstudio/zlib/zlib.vcxproj
scripts/README.txt
scripts/SCOPTIONS.ppc
scripts/checksym.awk
scripts/descrip.mms
scripts/dfn.awk
scripts/genchk.cmake.in
scripts/genout.cmake.in
scripts/gensrc.cmake.in
scripts/intprefix.c
scripts/libpng-config-body.in
scripts/libpng-config-head.in
scripts/libpng.pc.in
scripts/libtool.m4
scripts/ltoptions.m4
scripts/ltsugar.m4
scripts/ltversion.m4
scripts/lt~obsolete.m4
scripts/macro.lst
scripts/makefile.32sunu
scripts/makefile.64sunu
scripts/makefile.acorn
scripts/makefile.aix
scripts/makefile.amiga
scripts/makefile.atari
scripts/makefile.bc32
scripts/makefile.beos
scripts/makefile.clang
scripts/makefile.darwin
scripts/makefile.dec
scripts/makefile.dj2
scripts/makefile.emcc
scripts/makefile.freebsd
scripts/makefile.gcc
scripts/makefile.hp64
scripts/makefile.hpgcc
scripts/makefile.hpux
scripts/makefile.ibmc
scripts/makefile.intel
scripts/makefile.linux
scripts/makefile.mips
scripts/makefile.msys
scripts/makefile.netbsd
scripts/makefile.openbsd
scripts/makefile.sco
scripts/makefile.sggcc
scripts/makefile.sgi
scripts/makefile.so9
scripts/makefile.solaris
scripts/makefile.std
scripts/makefile.sunos
scripts/makefile.vcwin-arm64
scripts/makefile.vcwin32
scripts/makevms.com
scripts/options.awk
scripts/pnglibconf.dfa
scripts/pnglibconf.h.prebuilt
scripts/pnglibconf.mak
scripts/pngwin.rc
scripts/prefix.c
scripts/smakefile.ppc
scripts/sym.c
scripts/symbols.c
scripts/symbols.def
scripts/test.cmake.in
scripts/vers.c
test-driver
tests/pngimage-full
tests/pngimage-quick
tests/pngstest
tests/pngstest-1.8
tests/pngstest-1.8-alpha
tests/pngstest-linear
tests/pngstest-linear-alpha
tests/pngstest-none
tests/pngstest-none-alpha
tests/pngstest-sRGB
tests/pngstest-sRGB-alpha
tests/pngtest-all
tests/pngunknown-IDAT
tests/pngunknown-discard
tests/pngunknown-if-safe
tests/pngunknown-sAPI
tests/pngunknown-sTER
tests/pngunknown-save
tests/pngunknown-vpAg
tests/pngvalid-gamma-16-to-8
tests/pngvalid-gamma-alpha-mode
tests/pngvalid-gamma-background
tests/pngvalid-gamma-expand16-alpha-mode
tests/pngvalid-gamma-expand16-background
tests/pngvalid-gamma-expand16-transform
tests/pngvalid-gamma-sbit
tests/pngvalid-gamma-threshold
tests/pngvalid-gamma-transform
tests/pngvalid-progressive-interlace-standard
tests/pngvalid-progressive-size
tests/pngvalid-progressive-standard
tests/pngvalid-standard
tests/pngvalid-transform
)
if (COMMAND CMAKEFILES_IN_DIR)
  CMAKEFILES_IN_DIR(png_ignore_files png)
endif (COMMAND CMAKEFILES_IN_DIR)

