set(proj_ignore_files
AUTHORS
CITATION
CITATION.cff
CMakeLists.txt
COPYING
ChangeLog
INSTALL
NEWS
README
README.md
cmake/CMakeLists.txt
cmake/Ccache.cmake
cmake/FindSqlite3.cmake
cmake/ProjConfig.cmake
cmake/ProjInstallPath.cmake
cmake/ProjMac.cmake
cmake/ProjReadme.cmake
cmake/ProjTest.cmake
cmake/ProjUtilities.cmake
cmake/ProjVersion.cmake
cmake/policies.cmake
cmake/proj_config.cmake.in
cmake/project-config-version.cmake.in
cmake/project-config.cmake.in
cmake/uninstall.cmake.in
data/CH
data/CMakeLists.txt
data/GL27
data/ITRF2000
data/ITRF2008
data/ITRF2014
data/README
data/deformation_model.schema.json
data/generate_proj_db.cmake
data/nad.lst
data/nad27
data/nad83
data/other.extra
data/proj.ini
data/projjson.schema.json
data/sql/CRS.png
data/sql/README.md
data/sql/Transformations.png
data/sql/alias_name.sql
data/sql/axis.sql
data/sql/begin.sql
data/sql/commit.sql
data/sql/compound_crs.sql
data/sql/concatenated_operation.sql
data/sql/concatenated_operation_step.sql
data/sql/conversion.sql
data/sql/conversion_triggers.sql
data/sql/coordinate_system.sql
data/sql/customizations.sql
data/sql/customizations_early.sql
data/sql/deprecation.sql
data/sql/diagram.xmi
data/sql/ellipsoid.sql
data/sql/esri.sql
data/sql/extent.sql
data/sql/geodetic_crs.sql
data/sql/geodetic_datum.sql
data/sql/geodetic_datum_ensemble_member.sql
data/sql/grid_alternatives.sql
data/sql/grid_alternatives_generated_noaa.sql
data/sql/grid_transformation.sql
data/sql/grid_transformation_custom.sql
data/sql/helmert_transformation.sql
data/sql/iau.sql
data/sql/ignf.sql
data/sql/metadata.sql
data/sql/nadcon5_concatenated_operations.sql
data/sql/nkg.sql
data/sql/nkg_post_customizations.sql
data/sql/other_transformation.sql
data/sql/other_transformation_custom.sql
data/sql/prime_meridian.sql
data/sql/proj_db_table_defs.sql
data/sql/projected_crs.sql
data/sql/scope.sql
data/sql/supersession.sql
data/sql/unit_of_measure.sql
data/sql/vertical_crs.sql
data/sql/vertical_datum.sql
data/sql/vertical_datum_ensemble_member.sql
data/sql_filelist.cmake
data/tests/BETA2007.gsb
data/tests/MD
data/tests/alaska
data/tests/conus
data/tests/egm96_15_downsampled.gtx
data/tests/egm96_15_uncompressed_truncated.tif
data/tests/nkgrf03vel_realigned_extract.tif
data/tests/nkgrf03vel_realigned_extract_tiled_256x256.tif
data/tests/nkgrf03vel_realigned_xy_extract.ct2
data/tests/nkgrf03vel_realigned_z_extract.gtx
data/tests/ntf_r93.gsb
data/tests/ntv1_can.dat
data/tests/ntv2_0_downsampled.gsb
data/tests/simple_model_degree_3d.json
data/tests/simple_model_degree_3d_grid.tif
data/tests/simple_model_degree_horizontal.json
data/tests/simple_model_metre_3d.json
data/tests/simple_model_metre_3d_geocentric.json
data/tests/simple_model_metre_3d_grid.tif
data/tests/simple_model_metre_horizontal.json
data/tests/simple_model_metre_vertical.json
data/tests/simple_model_metre_vertical_grid.tif
data/tests/simple_model_polar.json
data/tests/simple_model_polar.tif
data/tests/simple_model_projected.json
data/tests/simple_model_wrap_east.json
data/tests/simple_model_wrap_east.tif
data/tests/simple_model_wrap_west.json
data/tests/simple_model_wrap_west.tif
data/tests/subset_of_gr3df97a.tif
data/tests/test_3d_grid_projected.tif
data/tests/test_hgrid.tif
data/tests/test_hgrid_big_endian.gsb
data/tests/test_hgrid_degree.tif
data/tests/test_hgrid_extra_ifd_with_other_info.tif
data/tests/test_hgrid_little_endian.gsb
data/tests/test_hgrid_lon_shift_first.tif
data/tests/test_hgrid_positive_west.tif
data/tests/test_hgrid_radian.tif
data/tests/test_hgrid_separate.tif
data/tests/test_hgrid_strip.tif
data/tests/test_hgrid_tiled.tif
data/tests/test_hgrid_tiled_separate.tif
data/tests/test_hgrid_with_overview.tif
data/tests/test_hgrid_with_subgrid.tif
data/tests/test_hgrid_with_subgrid_no_grid_name.tif
data/tests/test_hgrid_with_two_level_of_subgrids_no_grid_name.tif
data/tests/test_nodata.gtx
data/tests/test_vgrid_bigendian.tif
data/tests/test_vgrid_bigendian_bigtiff.tif
data/tests/test_vgrid_bigtiff.tif
data/tests/test_vgrid_bottomup_with_matrix.tif
data/tests/test_vgrid_bottomup_with_scale.tif
data/tests/test_vgrid_deflate.tif
data/tests/test_vgrid_deflate_floatingpointpredictor.tif
data/tests/test_vgrid_float64.tif
data/tests/test_vgrid_in_second_channel.tif
data/tests/test_vgrid_int16.tif
data/tests/test_vgrid_int32.tif
data/tests/test_vgrid_invalid_channel_type.tif
data/tests/test_vgrid_nodata.tif
data/tests/test_vgrid_pixelisarea.tif
data/tests/test_vgrid_pixelispoint.tif
data/tests/test_vgrid_single_strip_truncated.tif
data/tests/test_vgrid_uint16.tif
data/tests/test_vgrid_uint16_with_scale_offset.tif
data/tests/test_vgrid_uint32.tif
data/tests/test_vgrid_unsupported_byte.tif
data/tests/test_vgrid_with_overview.tif
data/tests/test_vgrid_with_subgrid.tif
data/tests/tinshift_crs_implicit.json
data/tests/tinshift_fallback_nearest_centroid.json
data/tests/tinshift_fallback_nearest_side.json
data/tests/tinshift_simplified_kkj_etrs.json
data/tests/tinshift_simplified_n60_n2000.json
data/tests/us_noaa_geoid06_ak_subset_at_antimeridian.tif
data/tests/us_noaa_nadcon5_nad83_2007_nad83_2011_alaska_extract.tif
data/tests/us_noaa_nadcon5_nad83_2007_nad83_2011_conus_extract.tif
data/triangulation.schema.json
data/world
include/CMakeLists.txt
include/proj/CMakeLists.txt
include/proj/common.hpp
include/proj/coordinateoperation.hpp
include/proj/coordinates.hpp
include/proj/coordinatesystem.hpp
include/proj/crs.hpp
include/proj/datum.hpp
include/proj/internal/coordinatesystem_internal.hpp
include/proj/internal/crs_internal.hpp
include/proj/internal/include_nlohmann_json.hpp
include/proj/internal/internal.hpp
include/proj/internal/io_internal.hpp
include/proj/internal/lru_cache.hpp
include/proj/internal/tracing.hpp
include/proj/internal/vendor/nlohmann/json.hpp
include/proj/io.hpp
include/proj/metadata.hpp
include/proj/nn.hpp
include/proj/util.hpp
man/CMakeLists.txt
man/man1/cct.1
man/man1/cs2cs.1
man/man1/geod.1
man/man1/gie.1
man/man1/proj.1
man/man1/projinfo.1
man/man1/projsync.1
proj.pc.in
src/4D_api.cpp
src/CMakeLists.txt
src/aasincos.cpp
src/adjlon.cpp
src/apps/CMakeLists.txt
src/apps/bin_cct.cmake
src/apps/bin_cs2cs.cmake
src/apps/bin_geod.cmake
src/apps/bin_gie.cmake
src/apps/bin_proj.cmake
src/apps/bin_projinfo.cmake
src/apps/bin_projsync.cmake
src/apps/cct.cpp
src/apps/cs2cs.cpp
src/apps/emess.cpp
src/apps/emess.h
src/apps/geod.cpp
src/apps/geod_interface.cpp
src/apps/geod_interface.h
src/apps/geod_set.cpp
src/apps/gie.cpp
src/apps/optargpm.h
src/apps/proj.cpp
src/apps/proj_strtod.cpp
src/apps/proj_strtod.h
src/apps/projinfo.cpp
src/apps/projsync.cpp
src/apps/utils.cpp
src/apps/utils.h
src/auth.cpp
src/check_md5sum.cmake
src/conversions/axisswap.cpp
src/conversions/cart.cpp
src/conversions/geoc.cpp
src/conversions/geocent.cpp
src/conversions/noop.cpp
src/conversions/set.cpp
src/conversions/topocentric.cpp
src/conversions/unitconvert.cpp
src/ctx.cpp
src/datum_set.cpp
src/datums.cpp
src/deriv.cpp
src/dmstor.cpp
src/ell_set.cpp
src/ellps.cpp
src/factors.cpp
src/filemanager.cpp
src/filemanager.hpp
src/fwd.cpp
src/gauss.cpp
src/general_doc.dox
src/generate_wkt_parser.cmake
src/generic_inverse.cpp
src/geodesic.c
src/geodesic.h
src/grids.cpp
src/grids.hpp
src/init.cpp
src/initcache.cpp
src/internal.cpp
src/inv.cpp
src/iso19111/c_api.cpp
src/iso19111/common.cpp
src/iso19111/coordinates.cpp
src/iso19111/coordinatesystem.cpp
src/iso19111/crs.cpp
src/iso19111/datum.cpp
src/iso19111/factory.cpp
src/iso19111/internal.cpp
src/iso19111/io.cpp
src/iso19111/metadata.cpp
src/iso19111/operation/concatenatedoperation.cpp
src/iso19111/operation/conversion.cpp
src/iso19111/operation/coordinateoperation_internal.hpp
src/iso19111/operation/coordinateoperation_private.hpp
src/iso19111/operation/coordinateoperationfactory.cpp
src/iso19111/operation/esriparammappings.cpp
src/iso19111/operation/esriparammappings.hpp
src/iso19111/operation/operationmethod_private.hpp
src/iso19111/operation/oputils.cpp
src/iso19111/operation/oputils.hpp
src/iso19111/operation/parammappings.cpp
src/iso19111/operation/parammappings.hpp
src/iso19111/operation/projbasedoperation.cpp
src/iso19111/operation/singleoperation.cpp
src/iso19111/operation/transformation.cpp
src/iso19111/operation/vectorofvaluesparams.cpp
src/iso19111/operation/vectorofvaluesparams.hpp
src/iso19111/static.cpp
src/iso19111/util.cpp
src/lib_proj.cmake
src/list.cpp
src/log.cpp
src/malloc.cpp
src/mlfn.cpp
src/msfn.cpp
src/mutex.cpp
src/networkfilemanager.cpp
src/param.cpp
src/phi2.cpp
src/pipeline.cpp
src/pj_list.h
src/pr_list.cpp
src/proj.h
src/proj_constants.h
src/proj_experimental.h
src/proj_internal.h
src/proj_json_streaming_writer.cpp
src/proj_json_streaming_writer.hpp
src/proj_mdist.cpp
src/proj_symbol_rename.h
src/projections/adams.cpp
src/projections/aea.cpp
src/projections/aeqd.cpp
src/projections/airy.cpp
src/projections/aitoff.cpp
src/projections/august.cpp
src/projections/bacon.cpp
src/projections/bertin1953.cpp
src/projections/bipc.cpp
src/projections/boggs.cpp
src/projections/bonne.cpp
src/projections/calcofi.cpp
src/projections/cass.cpp
src/projections/cc.cpp
src/projections/ccon.cpp
src/projections/cea.cpp
src/projections/chamb.cpp
src/projections/col_urban.cpp
src/projections/collg.cpp
src/projections/comill.cpp
src/projections/crast.cpp
src/projections/denoy.cpp
src/projections/eck1.cpp
src/projections/eck2.cpp
src/projections/eck3.cpp
src/projections/eck4.cpp
src/projections/eck5.cpp
src/projections/eqc.cpp
src/projections/eqdc.cpp
src/projections/eqearth.cpp
src/projections/fahey.cpp
src/projections/fouc_s.cpp
src/projections/gall.cpp
src/projections/geos.cpp
src/projections/gins8.cpp
src/projections/gn_sinu.cpp
src/projections/gnom.cpp
src/projections/goode.cpp
src/projections/gstmerc.cpp
src/projections/hammer.cpp
src/projections/hatano.cpp
src/projections/healpix.cpp
src/projections/igh.cpp
src/projections/igh_o.cpp
src/projections/imoll.cpp
src/projections/imoll_o.cpp
src/projections/imw_p.cpp
src/projections/isea.cpp
src/projections/krovak.cpp
src/projections/labrd.cpp
src/projections/laea.cpp
src/projections/lagrng.cpp
src/projections/larr.cpp
src/projections/lask.cpp
src/projections/latlong.cpp
src/projections/lcc.cpp
src/projections/lcca.cpp
src/projections/loxim.cpp
src/projections/mbt_fps.cpp
src/projections/mbtfpp.cpp
src/projections/mbtfpq.cpp
src/projections/merc.cpp
src/projections/mill.cpp
src/projections/mod_ster.cpp
src/projections/moll.cpp
src/projections/natearth.cpp
src/projections/natearth2.cpp
src/projections/nell.cpp
src/projections/nell_h.cpp
src/projections/nicol.cpp
src/projections/nsper.cpp
src/projections/nzmg.cpp
src/projections/ob_tran.cpp
src/projections/ocea.cpp
src/projections/oea.cpp
src/projections/omerc.cpp
src/projections/ortho.cpp
src/projections/patterson.cpp
src/projections/poly.cpp
src/projections/putp2.cpp
src/projections/putp3.cpp
src/projections/putp4p.cpp
src/projections/putp5.cpp
src/projections/putp6.cpp
src/projections/qsc.cpp
src/projections/robin.cpp
src/projections/rouss.cpp
src/projections/rpoly.cpp
src/projections/s2.cpp
src/projections/sch.cpp
src/projections/sconics.cpp
src/projections/som.cpp
src/projections/somerc.cpp
src/projections/stere.cpp
src/projections/sterea.cpp
src/projections/sts.cpp
src/projections/tcc.cpp
src/projections/tcea.cpp
src/projections/times.cpp
src/projections/tmerc.cpp
src/projections/tobmerc.cpp
src/projections/tpeqd.cpp
src/projections/urm5.cpp
src/projections/urmfps.cpp
src/projections/vandg.cpp
src/projections/vandg2.cpp
src/projections/vandg4.cpp
src/projections/wag2.cpp
src/projections/wag3.cpp
src/projections/wag7.cpp
src/projections/wink1.cpp
src/projections/wink2.cpp
src/qsfn.cpp
src/quadtree.hpp
src/release.cpp
src/rtodms.cpp
src/sqlite3_utils.cpp
src/sqlite3_utils.hpp
src/strerrno.cpp
src/strtod.cpp
src/tests/CMakeLists.txt
src/tests/geodsigntest.c
src/tests/geodtest.c
src/tests/multistresstest.cpp
src/tracing.cpp
src/transformations/affine.cpp
src/transformations/defmodel.cpp
src/transformations/defmodel.hpp
src/transformations/defmodel_exceptions.hpp
src/transformations/defmodel_impl.hpp
src/transformations/deformation.cpp
src/transformations/gridshift.cpp
src/transformations/helmert.cpp
src/transformations/hgridshift.cpp
src/transformations/horner.cpp
src/transformations/molodensky.cpp
src/transformations/tinshift.cpp
src/transformations/tinshift.hpp
src/transformations/tinshift_exceptions.hpp
src/transformations/tinshift_impl.hpp
src/transformations/vertoffset.cpp
src/transformations/vgridshift.cpp
src/transformations/xyzgridshift.cpp
src/tsfn.cpp
src/units.cpp
src/wkt1_generated_parser.c
src/wkt1_generated_parser.h
src/wkt1_grammar.y
src/wkt1_parser.cpp
src/wkt1_parser.h
src/wkt2_generated_parser.c
src/wkt2_generated_parser.h
src/wkt2_grammar.y
src/wkt2_parser.cpp
src/wkt2_parser.h
src/wkt_parser.cpp
src/wkt_parser.hpp
src/zpoly1.cpp
test/CMakeLists.txt
test/benchmark/CMakeLists.txt
test/benchmark/bench_proj_trans.cpp
test/cli/CMakeLists.txt
test/cli/input_with_utf8_bom.txt
test/cli/ntv2_out.dist
test/cli/pj_out27.dist
test/cli/pj_out83.dist
test/cli/proj_outIGNF.dist
test/cli/proj_outIGNF.dist-real
test/cli/td_out.dist
test/cli/test27
test/cli/test83
test/cli/testIGNF
test/cli/test_projsync
test/cli/testcct
test/cli/testcct_out.dist
test/cli/testdatumfile
test/cli/testflaky
test/cli/testinvproj
test/cli/testinvproj_out.dist
test/cli/testntv2
test/cli/testproj
test/cli/testproj_out.dist
test/cli/testprojinfo
test/cli/testprojinfo_out.dist
test/cli/testvarious
test/cli/tf_out.dist
test/cli/tv_out.dist
test/gie/4D-API_cs2cs-style.gie
test/gie/DHDN_ETRS89.gie
test/gie/GDA.gie
test/gie/adams_hemi.gie
test/gie/adams_ws1.gie
test/gie/adams_ws2.gie
test/gie/axisswap.gie
test/gie/builtins.gie
test/gie/defmodel.gie
test/gie/deformation.gie
test/gie/ellipsoid.gie
test/gie/geotiff_grids.gie
test/gie/gridshift.gie
test/gie/guyou.gie
test/gie/more_builtins.gie
test/gie/nkg.gie
test/gie/peirce_q.gie
test/gie/tinshift.gie
test/gie/unitconvert.gie
test/gigs/5101.1-jhs.gie
test/gigs/5101.2-jhs.gie
test/gigs/5101.3-jhs.gie
test/gigs/5101.4-jhs-etmerc.gie
test/gigs/5102.1.gie
test/gigs/5103.1.gie
test/gigs/5103.2.gie
test/gigs/5103.3.gie
test/gigs/5104.gie
test/gigs/5105.2.gie
test/gigs/5106.gie
test/gigs/5107.gie
test/gigs/5108.gie
test/gigs/5109.gie
test/gigs/5111.1.gie
test/gigs/5112.gie
test/gigs/5113.gie
test/gigs/5201.gie
test/gigs/5208.gie
test/googletest/CMakeLists.txt.in
test/unit/CMakeLists.txt
test/unit/gie_self_tests.cpp
test/unit/gtest_include.h
test/unit/include_proj_h_from_c.c
test/unit/main.cpp
test/unit/pj_phi2_test.cpp
test/unit/proj_angular_io_test.cpp
test/unit/proj_context_test.cpp
test/unit/proj_errno_string_test.cpp
test/unit/test_c_api.cpp
test/unit/test_common.cpp
test/unit/test_coordinates.cpp
test/unit/test_crs.cpp
test/unit/test_datum.cpp
test/unit/test_defmodel.cpp
test/unit/test_factory.cpp
test/unit/test_fork.c
test/unit/test_grids.cpp
test/unit/test_io.cpp
test/unit/test_metadata.cpp
test/unit/test_misc.cpp
test/unit/test_network.cpp
test/unit/test_operation.cpp
test/unit/test_operationfactory.cpp
test/unit/test_primitives.hpp
test/unit/test_tinshift.cpp
test/unit/test_util.cpp
)
if (COMMAND CMAKEFILES_IN_DIR)
  CMAKEFILES_IN_DIR(proj_ignore_files proj)
endif (COMMAND CMAKEFILES_IN_DIR)


