set(stepcode_ignore_files
AUTHORS
CMake/FindLEMON.cmake
CMake/FindPERPLEX.cmake
CMake/FindRE2C.cmake
CMake/Path_Setup.cmake
CMakeLists.txt
COPYING
README
data/CMakeLists.txt
data/README
data/ap203/ap203.exp
data/ap203e2/ap203e2_mim_lf.exp
data/ap214e3/AP214E3_2010.exp
data/ap242/ap242e1.exp
include/stepcode/CMakeLists.txt
include/stepcode/config.h.in
include/stepcode/core/CMakeLists.txt
include/stepcode/core/ExpDict.h
include/stepcode/core/Registry.h
include/stepcode/core/STEPaggregate.h
include/stepcode/core/STEPattribute.h
include/stepcode/core/STEPattributeList.h
include/stepcode/core/STEPcomplex.h
include/stepcode/core/STEPundefined.h
include/stepcode/core/SingleLinkList.h
include/stepcode/core/SubSuperIterators.h
include/stepcode/core/baseType.h
include/stepcode/core/complexSupport.h
include/stepcode/core/dictdefs.h
include/stepcode/core/dispnode.h
include/stepcode/core/dispnodelist.h
include/stepcode/core/instmgr.h
include/stepcode/core/mgrnode.h
include/stepcode/core/mgrnodearray.h
include/stepcode/core/mgrnodelist.h
include/stepcode/core/needFunc.h
include/stepcode/core/read_func.h
include/stepcode/core/sdai.h
include/stepcode/core/sdaiApplication_instance.h
include/stepcode/core/sdaiSelect.h
include/stepcode/dai/CMakeLists.txt
include/stepcode/dai/sdaiApplication_instance_set.h
include/stepcode/dai/sdaiBinary.h
include/stepcode/dai/sdaiDaObject.h
include/stepcode/dai/sdaiEntity_extent.h
include/stepcode/dai/sdaiEntity_extent_set.h
include/stepcode/dai/sdaiEnum.h
include/stepcode/dai/sdaiModel_contents.h
include/stepcode/dai/sdaiModel_contents_list.h
include/stepcode/dai/sdaiObject.h
include/stepcode/dai/sdaiSession_instance.h
include/stepcode/dai/sdaiString.h
include/stepcode/editor/CMakeLists.txt
include/stepcode/editor/STEPfile.h
include/stepcode/editor/SdaiHeaderSchema.h
include/stepcode/editor/SdaiHeaderSchemaClasses.h
include/stepcode/editor/SdaiSchemaInit.h
include/stepcode/editor/cmdmgr.h
include/stepcode/editor/editordefines.h
include/stepcode/editor/seeinfodefault.h
include/stepcode/export.h
include/stepcode/express/CMakeLists.txt
include/stepcode/express/alg.h
include/stepcode/express/basic.h
include/stepcode/express/caseitem.h
include/stepcode/express/de_end.h
include/stepcode/express/decstart.h
include/stepcode/express/defstart.h
include/stepcode/express/dict.h
include/stepcode/express/entity.h
include/stepcode/express/error.h
include/stepcode/express/expbasic.h
include/stepcode/express/exppp.h
include/stepcode/express/expr.h
include/stepcode/express/express.h
include/stepcode/express/hash.h
include/stepcode/express/lexact.h
include/stepcode/express/linklist.h
include/stepcode/express/memory.h
include/stepcode/express/object.h
include/stepcode/express/ordered_attrs.h
include/stepcode/express/resolve.h
include/stepcode/express/schema.h
include/stepcode/express/scope.h
include/stepcode/express/stmt.h
include/stepcode/express/symbol.h
include/stepcode/express/type.h
include/stepcode/express/variable.h
include/stepcode/utils/CMakeLists.txt
include/stepcode/utils/Str.h
include/stepcode/utils/dirobj.h
include/stepcode/utils/errordesc.h
include/stepcode/utils/gennode.h
include/stepcode/utils/gennodearray.h
include/stepcode/utils/gennodelist.h
include/stepcode/utils/sc_hash.h
src/CMakeLists.txt
src/core/CMakeLists.txt
src/core/ExpDict.cc
src/core/ExpDict.inline.cc
src/core/README
src/core/Registry.inline.cc
src/core/STEPaggregate.cc
src/core/STEPattribute.cc
src/core/STEPattribute.inline.cc
src/core/STEPattributeList.cc
src/core/STEPcomplex.cc
src/core/STEPundefined.cc
src/core/SingleLinkList.cc
src/core/SingleLinkList.inline.cc
src/core/collect.cc
src/core/complexlist.cc
src/core/dict-pic.txt
src/core/dispnode.cc
src/core/dispnodelist.cc
src/core/entlist.cc
src/core/entnode.cc
src/core/instmgr.cc
src/core/match-ors.cc
src/core/mgrnode.cc
src/core/mgrnodearray.cc
src/core/mgrnodelist.cc
src/core/multlist.cc
src/core/needFunc.cc
src/core/non-ors.cc
src/core/notes.txt
src/core/orlist.cc
src/core/print.cc
src/core/read_func.cc
src/core/sdai.cc
src/core/sdaiApplication_instance.cc
src/core/sdaiSelect.cc
src/core/trynext.cc
src/dai/CMakeLists.txt
src/dai/sdaiApplication_instance_set.cc
src/dai/sdaiBinary.cc
src/dai/sdaiDaObject.cc
src/dai/sdaiEntity_extent.cc
src/dai/sdaiEntity_extent_set.cc
src/dai/sdaiEnum.cc
src/dai/sdaiModel_contents.cc
src/dai/sdaiModel_contents_list.cc
src/dai/sdaiObject.cc
src/dai/sdaiSession_instance.cc
src/dai/sdaiString.cc
src/editor/CMakeLists.txt
src/editor/README
src/editor/STEPfile.cc
src/editor/STEPfile.inline.cc
src/editor/SdaiHeaderSchema.cc
src/editor/SdaiHeaderSchemaAll.cc
src/editor/SdaiHeaderSchemaInit.cc
src/editor/SdaiSchemaInit.cc
src/editor/cmdmgr.cc
src/exp2cxx/CMakeLists.txt
src/exp2cxx/classes.c
src/exp2cxx/classes.h
src/exp2cxx/classes_misc.c
src/exp2cxx/classes_wrapper.cc
src/exp2cxx/collect.cc
src/exp2cxx/complexSupport.h
src/exp2cxx/complexlist.cc
src/exp2cxx/entlist.cc
src/exp2cxx/entnode.cc
src/exp2cxx/expressbuild.cc
src/exp2cxx/main.c
src/exp2cxx/match-ors.cc
src/exp2cxx/multlist.cc
src/exp2cxx/multpass.c
src/exp2cxx/non-ors.cc
src/exp2cxx/orlist.cc
src/exp2cxx/print.cc
src/exp2cxx/sc_getopt.cpp
src/exp2cxx/sc_mkdir.c
src/exp2cxx/selects.c
src/exp2cxx/trynext.cc
src/exp2cxx/write.cc
src/express/CMakeLists.txt
src/express/Changes
src/express/README
src/express/alg.c
src/express/caseitem.c
src/express/dict.c
src/express/entity.c
src/express/error.c
src/express/expparse.y
src/express/exppp.c
src/express/expr.c
src/express/express.c
src/express/expscan.l
src/express/exptoks.h
src/express/generated/README
src/express/generated/expparse.c
src/express/generated/expparse.h
src/express/generated/expscan.c
src/express/generated/expscan.h
src/express/generated/verification_info.cmake
src/express/hash.c
src/express/lexact.c
src/express/linklist.c
src/express/memory.c
src/express/object.c
src/express/ordered_attrs.cc
src/express/parse_data.h
src/express/resolve.c
src/express/schema.c
src/express/scope.c
src/express/stack.h
src/express/stmt.c
src/express/symbol.c
src/express/token_type.h
src/express/type.c
src/express/variable.c
src/utils/CMakeLists.txt
src/utils/README
src/utils/Str.cc
src/utils/dirobj.cc
src/utils/errordesc.cc
src/utils/gennode.cc
src/utils/gennodearray.cc
src/utils/gennodelist.cc
src/utils/sc_hash.cc
)
if (COMMAND CMAKEFILES_IN_DIR)
  CMAKEFILES_IN_DIR(stepcode_ignore_files stepcode)
endif (COMMAND CMAKEFILES_IN_DIR)


