set(uv_ignore_files
AUTHORS
CMakeLists.txt
CONTRIBUTING.md
ChangeLog
LICENSE
LICENSE-docs
LINKS.md
MAINTAINERS.md
Makefile.am
README.md
SUPPORTED_PLATFORMS.md
autogen.sh
configure.ac
docs/Makefile
docs/code/.gitignore
docs/code/CMakeLists.txt
docs/code/Makefile
docs/code/cgi/main.c
docs/code/cgi/tick.c
docs/code/default-loop/main.c
docs/code/detach/main.c
docs/code/dns/main.c
docs/code/helloworld/main.c
docs/code/idle-basic/main.c
docs/code/idle-compute/main.c
docs/code/interfaces/main.c
docs/code/locks/main.c
docs/code/multi-echo-server/hammer.js
docs/code/multi-echo-server/main.c
docs/code/multi-echo-server/worker.c
docs/code/onchange/main.c
docs/code/pipe-echo-server/main.c
docs/code/plugin/hello.c
docs/code/plugin/main.c
docs/code/plugin/plugin.h
docs/code/proc-streams/main.c
docs/code/proc-streams/test.c
docs/code/progress/main.c
docs/code/queue-cancel/main.c
docs/code/queue-work/main.c
docs/code/ref-timer/main.c
docs/code/signal/main.c
docs/code/spawn/main.c
docs/code/tcp-echo-server/main.c
docs/code/thread-create/main.c
docs/code/tty-gravity/main.c
docs/code/tty/main.c
docs/code/udp-dhcp/main.c
docs/code/uvcat/main.c
docs/code/uvstop/main.c
docs/code/uvtee/main.c
docs/code/uvwget/main.c
docs/make.bat
docs/requirements.txt
docs/src/api.rst
docs/src/async.rst
docs/src/check.rst
docs/src/conf.py
docs/src/design.rst
docs/src/dll.rst
docs/src/dns.rst
docs/src/errors.rst
docs/src/fs.rst
docs/src/fs_event.rst
docs/src/fs_poll.rst
docs/src/guide.rst
docs/src/guide/about.rst
docs/src/guide/basics.rst
docs/src/guide/eventloops.rst
docs/src/guide/filesystem.rst
docs/src/guide/introduction.rst
docs/src/guide/networking.rst
docs/src/guide/processes.rst
docs/src/guide/threads.rst
docs/src/guide/utilities.rst
docs/src/handle.rst
docs/src/idle.rst
docs/src/index.rst
docs/src/loop.rst
docs/src/metrics.rst
docs/src/migration_010_100.rst
docs/src/misc.rst
docs/src/pipe.rst
docs/src/poll.rst
docs/src/prepare.rst
docs/src/process.rst
docs/src/request.rst
docs/src/signal.rst
docs/src/sphinx-plugins/manpage.py
docs/src/static/architecture.png
docs/src/static/diagrams.key/Data/st0-311.jpg
docs/src/static/diagrams.key/Data/st1-475.jpg
docs/src/static/diagrams.key/Index.zip
docs/src/static/diagrams.key/Metadata/BuildVersionHistory.plist
docs/src/static/diagrams.key/Metadata/DocumentIdentifier
docs/src/static/diagrams.key/Metadata/Properties.plist
docs/src/static/diagrams.key/preview-micro.jpg
docs/src/static/diagrams.key/preview-web.jpg
docs/src/static/diagrams.key/preview.jpg
docs/src/static/favicon.ico
docs/src/static/logo.png
docs/src/static/loop_iteration.png
docs/src/stream.rst
docs/src/tcp.rst
docs/src/threading.rst
docs/src/threadpool.rst
docs/src/timer.rst
docs/src/tty.rst
docs/src/udp.rst
docs/src/upgrading.rst
docs/src/version.rst
img/banner.png
img/logos.svg
include/uv.h
include/uv/aix.h
include/uv/bsd.h
include/uv/darwin.h
include/uv/errno.h
include/uv/linux.h
include/uv/os390.h
include/uv/posix.h
include/uv/stdint-msvc2008.h
include/uv/sunos.h
include/uv/threadpool.h
include/uv/tree.h
include/uv/unix.h
include/uv/version.h
include/uv/win.h
libuv-static.pc.in
libuv.pc.in
m4/.gitignore
m4/as_case.m4
m4/ax_pthread.m4
m4/libuv-check-flags.m4
m4/libuv-check-versions.m4
src/fs-poll.c
src/heap-inl.h
src/idna.c
src/idna.h
src/inet.c
src/queue.h
src/random.c
src/strscpy.c
src/strscpy.h
src/strtok.c
src/strtok.h
src/threadpool.c
src/timer.c
src/unix/aix-common.c
src/unix/aix.c
src/unix/async.c
src/unix/atomic-ops.h
src/unix/bsd-ifaddrs.c
src/unix/bsd-proctitle.c
src/unix/core.c
src/unix/cygwin.c
src/unix/darwin-proctitle.c
src/unix/darwin-stub.h
src/unix/darwin.c
src/unix/dl.c
src/unix/epoll.c
src/unix/freebsd.c
src/unix/fs.c
src/unix/fsevents.c
src/unix/getaddrinfo.c
src/unix/getnameinfo.c
src/unix/haiku.c
src/unix/hurd.c
src/unix/ibmi.c
src/unix/internal.h
src/unix/kqueue.c
src/unix/linux-core.c
src/unix/linux-inotify.c
src/unix/linux-syscalls.c
src/unix/linux-syscalls.h
src/unix/loop-watcher.c
src/unix/loop.c
src/unix/netbsd.c
src/unix/no-fsevents.c
src/unix/no-proctitle.c
src/unix/openbsd.c
src/unix/os390-proctitle.c
src/unix/os390-syscalls.c
src/unix/os390-syscalls.h
src/unix/os390.c
src/unix/pipe.c
src/unix/poll.c
src/unix/posix-hrtime.c
src/unix/posix-poll.c
src/unix/process.c
src/unix/procfs-exepath.c
src/unix/proctitle.c
src/unix/pthread-fixes.c
src/unix/qnx.c
src/unix/random-devurandom.c
src/unix/random-getentropy.c
src/unix/random-getrandom.c
src/unix/random-sysctl-linux.c
src/unix/signal.c
src/unix/spinlock.h
src/unix/stream.c
src/unix/sunos.c
src/unix/sysinfo-loadavg.c
src/unix/sysinfo-memory.c
src/unix/tcp.c
src/unix/thread.c
src/unix/tty.c
src/unix/udp.c
src/uv-common.c
src/uv-common.h
src/uv-data-getter-setters.c
src/version.c
src/win/async.c
src/win/atomicops-inl.h
src/win/core.c
src/win/detect-wakeup.c
src/win/dl.c
src/win/error.c
src/win/fs-event.c
src/win/fs-fd-hash-inl.h
src/win/fs.c
src/win/getaddrinfo.c
src/win/getnameinfo.c
src/win/handle-inl.h
src/win/handle.c
src/win/internal.h
src/win/loop-watcher.c
src/win/pipe.c
src/win/poll.c
src/win/process-stdio.c
src/win/process.c
src/win/req-inl.h
src/win/signal.c
src/win/snprintf.c
src/win/stream-inl.h
src/win/stream.c
src/win/tcp.c
src/win/thread.c
src/win/tty.c
src/win/udp.c
src/win/util.c
src/win/winapi.c
src/win/winapi.h
src/win/winsock.c
src/win/winsock.h
test/benchmark-async-pummel.c
test/benchmark-async.c
test/benchmark-fs-stat.c
test/benchmark-getaddrinfo.c
test/benchmark-list.h
test/benchmark-loop-count.c
test/benchmark-million-async.c
test/benchmark-million-timers.c
test/benchmark-multi-accept.c
test/benchmark-ping-pongs.c
test/benchmark-ping-udp.c
test/benchmark-pound.c
test/benchmark-pump.c
test/benchmark-queue-work.c
test/benchmark-sizes.c
test/benchmark-spawn.c
test/benchmark-tcp-write-batch.c
test/benchmark-thread.c
test/benchmark-udp-pummel.c
test/blackhole-server.c
test/echo-server.c
test/fixtures/empty_file
test/fixtures/load_error.node
test/fixtures/lorem_ipsum.txt
test/run-benchmarks.c
test/run-tests.c
test/runner-unix.c
test/runner-unix.h
test/runner-win.c
test/runner-win.h
test/runner.c
test/runner.h
test/task.h
test/test-active.c
test/test-async-null-cb.c
test/test-async.c
test/test-barrier.c
test/test-callback-stack.c
test/test-close-fd.c
test/test-close-order.c
test/test-condvar.c
test/test-connect-unspecified.c
test/test-connection-fail.c
test/test-cwd-and-chdir.c
test/test-default-loop-close.c
test/test-delayed-accept.c
test/test-dlerror.c
test/test-eintr-handling.c
test/test-embed.c
test/test-emfile.c
test/test-env-vars.c
test/test-error.c
test/test-fail-always.c
test/test-fork.c
test/test-fs-copyfile.c
test/test-fs-event.c
test/test-fs-fd-hash.c
test/test-fs-open-flags.c
test/test-fs-poll.c
test/test-fs-readdir.c
test/test-fs.c
test/test-get-currentexe.c
test/test-get-loadavg.c
test/test-get-memory.c
test/test-get-passwd.c
test/test-getaddrinfo.c
test/test-gethostname.c
test/test-getnameinfo.c
test/test-getsockname.c
test/test-getters-setters.c
test/test-gettimeofday.c
test/test-handle-fileno.c
test/test-homedir.c
test/test-hrtime.c
test/test-idle.c
test/test-idna.c
test/test-ip-name.c
test/test-ip4-addr.c
test/test-ip6-addr.c
test/test-ipc-heavy-traffic-deadlock-bug.c
test/test-ipc-send-recv.c
test/test-ipc.c
test/test-list.h
test/test-loop-alive.c
test/test-loop-close.c
test/test-loop-configure.c
test/test-loop-handles.c
test/test-loop-stop.c
test/test-loop-time.c
test/test-metrics.c
test/test-multiple-listen.c
test/test-mutexes.c
test/test-not-readable-nor-writable-on-read-error.c
test/test-not-writable-after-shutdown.c
test/test-osx-select.c
test/test-pass-always.c
test/test-ping-pong.c
test/test-pipe-bind-error.c
test/test-pipe-close-stdout-read-stdin.c
test/test-pipe-connect-error.c
test/test-pipe-connect-multiple.c
test/test-pipe-connect-prepare.c
test/test-pipe-getsockname.c
test/test-pipe-pending-instances.c
test/test-pipe-sendmsg.c
test/test-pipe-server-close.c
test/test-pipe-set-fchmod.c
test/test-pipe-set-non-blocking.c
test/test-platform-output.c
test/test-poll-close-doesnt-corrupt-stack.c
test/test-poll-close.c
test/test-poll-closesocket.c
test/test-poll-multiple-handles.c
test/test-poll-oob.c
test/test-poll.c
test/test-process-priority.c
test/test-process-title-threadsafe.c
test/test-process-title.c
test/test-queue-foreach-delete.c
test/test-random.c
test/test-readable-on-eof.c
test/test-ref.c
test/test-run-nowait.c
test/test-run-once.c
test/test-semaphore.c
test/test-shutdown-close.c
test/test-shutdown-eof.c
test/test-shutdown-simultaneous.c
test/test-shutdown-twice.c
test/test-signal-multiple-loops.c
test/test-signal-pending-on-close.c
test/test-signal.c
test/test-socket-buffer-size.c
test/test-spawn.c
test/test-stdio-over-pipes.c
test/test-strscpy.c
test/test-strtok.c
test/test-tcp-alloc-cb-fail.c
test/test-tcp-bind-error.c
test/test-tcp-bind6-error.c
test/test-tcp-close-accept.c
test/test-tcp-close-after-read-timeout.c
test/test-tcp-close-reset.c
test/test-tcp-close-while-connecting.c
test/test-tcp-close.c
test/test-tcp-connect-error-after-write.c
test/test-tcp-connect-error.c
test/test-tcp-connect-timeout.c
test/test-tcp-connect6-error.c
test/test-tcp-create-socket-early.c
test/test-tcp-flags.c
test/test-tcp-oob.c
test/test-tcp-open.c
test/test-tcp-read-stop-start.c
test/test-tcp-read-stop.c
test/test-tcp-rst.c
test/test-tcp-shutdown-after-write.c
test/test-tcp-try-write-error.c
test/test-tcp-try-write.c
test/test-tcp-unexpected-read.c
test/test-tcp-write-after-connect.c
test/test-tcp-write-fail.c
test/test-tcp-write-queue-order.c
test/test-tcp-write-to-half-open-connection.c
test/test-tcp-writealot.c
test/test-test-macros.c
test/test-thread-equal.c
test/test-thread.c
test/test-threadpool-cancel.c
test/test-threadpool.c
test/test-timer-again.c
test/test-timer-from-check.c
test/test-timer.c
test/test-tmpdir.c
test/test-tty-duplicate-key.c
test/test-tty-escape-sequence-processing.c
test/test-tty.c
test/test-udp-alloc-cb-fail.c
test/test-udp-bind.c
test/test-udp-connect.c
test/test-udp-connect6.c
test/test-udp-create-socket-early.c
test/test-udp-dgram-too-big.c
test/test-udp-ipv6.c
test/test-udp-mmsg.c
test/test-udp-multicast-interface.c
test/test-udp-multicast-interface6.c
test/test-udp-multicast-join.c
test/test-udp-multicast-join6.c
test/test-udp-multicast-ttl.c
test/test-udp-open.c
test/test-udp-options.c
test/test-udp-send-and-recv.c
test/test-udp-send-hang-loop.c
test/test-udp-send-immediate.c
test/test-udp-send-unreachable.c
test/test-udp-sendmmsg-error.c
test/test-udp-try-send.c
test/test-uname.c
test/test-walk-handles.c
test/test-watcher-cross-stop.c
tools/make_dist_html.py
tools/vswhere_usability_wrapper.cmd
uv_win_longpath.manifest
)
if (COMMAND CMAKEFILES_IN_DIR)
  CMAKEFILES_IN_DIR(uv_ignore_files uv)
endif (COMMAND CMAKEFILES_IN_DIR)


