applymap
avg4
crop
fant
into
mcut
mergechan
pyrmask
repos
rleaddcom
rlebg
rlebox
rlecat
rlecomp
rledither
rleflip
rlegrid
rlehdr
rlehisto
rleinterp
rleldmap
rlemandl
rlenoise
rlepatch
rleprint
rlequant
rlescale
rleselect
rlesetbg
rlesortmap
rlespiff
rlesplice
rlesplit
rlestereo
rleswap
rlezoom
smush
to8
tobw
unexp
unslice
